[2022-03-30 06:26] phradsky commented on #4218
Thank you Jaebaek, I'm looking forward to verifying this soon.

[2022-03-30 15:12] jaebaek commented on #4218
As far as I checked, your minimal sample with https://ci.appveyor.com/project/dnovillo/directxshadercompiler/builds/43063561/job/irkin8duc9nt1gww/artifacts works fine.

[2022-03-30 17:49] sudonatalie commented on #4356
Thanks for the suggestion! Closing this as a duplicate of #2972 but we'll take this opportunity to re-triage it for consideration.

[2022-03-30 17:49] #4356 closed

[2022-03-30 20:17] #4218 closed

[2022-03-30 20:20] Pursche commented on #3899
@jaebaek You might want to close this one as well.

[2022-03-30 20:32] adam-yang commented on #3528
Hi @ohlenbg, the output DXIL doesn't look obviously wrong to me. For the loop in `Sort`, could you try changing the condition from:
[code]

to

[code]

I suspect the hang might be caused by length being 0.

[2022-03-30 20:39] #3899 closed

[2022-03-30 20:52] jaebaek commented on #4360
I do not have hand-on experiences on the EmptyKey and TombstoneKey issue, but I think creating a separate empty string is good idea. So .. with a separate variable (`SpirvString *`) for the empty string, does it work without any issue?

[2022-03-31 00:36] adam-yang commented on #3795
Hi @jdswebb, the issue should be fixed with the latest compiler. The Od compilation used to produce two different versions of arithmetics for normalizeUV and normalizeUV2, which is no longer the case.

Looking at the output from the old compiler, the only difference between then and now is that the intermediate computateion steps used to be preserved, but it's not clear to me how `y` could have be

[2022-03-31 07:28] jlaumon commented on #3834
Yes, just basic things like source, arguments, etc. Getting the sources with DIA always gives an empty string now 🤷‍♂️
We switched to IDxcPdbUtils and that works.

[2022-03-31 15:39] Dredhog opened #4368 "[SPIR-V] HLSL round intrinsic is translated to "Round" instead of to "RoundEven" which is incorrect based on the HLSL docs (works with the DXIL backend and FXC)"
### Title
[SPIR-V] HLSL round intrinsic is translated to "Round" instead of to "RoundEven" which is incorrect based on the HLSL docs (works with the DXIL backend and FXC)

### Functional impact
Functional parity when using the HLSL `round` intrinsic is lost between the DXIL and SPIR-V backends for floating-point arguments exactly in between integers.

Based on the [HLSL docs for round](https://doc

[2022-03-31 15:58] greg-lunarg commented on #4360
Yes. I will be submitting a PR shortly.

[2022-03-31 16:06] #4079 closed

[2022-03-31 18:39] amaiorano opened #4369 "Make "error: Loop must have break." a warning that can be disabled instead"
I'm a developer on [Tint](https://dawn.googlesource.com/tint/), the WebGPU WGSL transpiler in Chrome, and one of the issues we've hit is that when users write infinite loops in WGSL, we cannot easily detect this and produce HLSL that fails to compile with DXC. Please see [this issue](https://bugs.chromium.org/p/tint/issues/detail?id=1038).

Would it be possible to change "error: Loop must have bre

[2022-04-01 15:47] jshopf commented on #4331
This issue is poorly titled, but I also would love to have the ability to get the preprocessed HLSL out with -P

[2022-04-01 23:35] gongminmin opened #4372 "[SPIRV] Can't use Buffer<half> in shader"
A simple HLSL:
[code]

compiled with ps_6_2 -enable-16bit-types and -spirv. It returns an error message:
[code]

StructuredBuffer<half> is OK, but Buffer<half> doesn't. It's related to https://github.com/microsoft/DirectXShaderCompiler/issues/1672.

[2022-04-02 08:13] Goshido commented on #4079
I tested commit `a447452747c8ca00bacfff4142f341d31788bfd3` under _Win11_ (Build 22000) and _VS 2022_. Compilation successful. Thank you guys 👍

[2022-04-03 22:30] fcarucci opened #4373 "[SPIRV] Undefined function when compiling HLSL referencing external function to spirv library"
I'm trying to compile spirv libraries from HLSL to be linked together at a later stage.

Exporting functions works as expected:

[code]
When I try to build the main shader with an entry point, the compiler complains about a function not being defined:

[code]

This is the command line I'm using:
_dxc test.hlsl -Ges -Fo output.spv -Fc output.txt -T lib_6_1 -Vd -spirv_

When I try to compile to DXIL

[2022-04-04 03:23] ASerandourAMD opened #4374 "[SPIR-V] Const sampling offsets considered dynamic when in a loop"
I have the following sample shader
[code]
The shader compiles without issue to DXIL. However, there is an issue when generating SPIR-V.

When I'm not looping through the textures, (`BUG_ON` not defined), dxc generates the following correct code:
[code]

When I am looping through the textures, dxc generates this code:
[code]
which generates the following error:
[code]

here is the command line I us

[2022-04-05 19:56] Devaniti opened #4377 "There's no compile error when doing InterlockedAdd on (readonly) StructuredBuffer"
This code compiles
[code]
https://shader-playground.timjones.io/37a9dfb3c90c42c072fb2f1d70d78f90
Expected behavior is compile error, since you can't modify StructuredBuffer

[2022-04-05 20:44] jshopf commented on #2181
+1, would love to have this :)

[2022-04-06 15:54] pdoane commented on #3649
I'm also interested in this.  I tried using the SPIR-V intrinsics but not sure how to get the interpolant into the Input storage class.  Here is what I tried:

[code]

which outputs:

[code]

[2022-04-06 16:56] gongminmin commented on #4372
Texture<half4> this kind of data type also doesn't work.

[2022-04-08 05:37] Division commented on #2128
@BitMD
Hi, I'm adding dx12 renderer to pc version of the game and noticed that vulkan shader cache is 3x smaller than dx12 (cache is compressed). At the same time size of a single uncompressed shader in dx12 is smaller. Which makes me think that shader bytecode is already compressed.

On xbox I used __XBOX_DISABLE_SHADER_OBJECT_COMPRESSION macro for dxc to fix the same issue.
Is there a similar pa

[2022-04-09 01:55] Ipotrick opened #4384 "Integer vector as enum type causes ICE rather than error"
Hi, I am using the DXC c++ interface to compile hlsl to spirv. I found an internal compiler crash inside the "Compile" function of DxcCompiler3.
I am using the msvc clang toolchain version 13.0.0 to compile.
I downloaded the latest version of dxc from the repository (dbd8db0e84420e063f6f7da974a32d58aa79b64b).
I can compile other code just fine and i also get error messages for other mistakes in my

[2022-04-09 14:51] Chaphlagical opened #4385 "[SPIR-V] SPV_KHR_ray_query not permitted to use when compling RayGen Shaders"
I try to use dxc to compile hlsl ray tracing shader, but got issue:
[code]
It seems the error only occurs when compiling raygen shaders. And my another rtx3060 pc has no such issue.

Current Platform:
* Windows 10, VS2019
* CPU AMD Ryzen 5 3500X 6-Core Processor
* GPU NVIDIA GeForce RTX 2060 SUPER

Example shader:

[code]

[2022-04-10 09:54] zhaoyue001 opened #4386 "The api ConvertInDriver's parameter pInputSignature doesn't match the PFND3D10DDI_CREATEVERTEXSHADER call function's output"
when use api ConvertInDriver to convert D3D10's DXBC code binary to DXIL online, ConvertInDriver will cast pInputSignature pointer into struct D3D12DDIARG_SIGNATURE_ENTRY_0012 which has 6  elements.But PFND3D10DDI_CREATEVERTEXSHADER call function outputs struct D3D10DDIARG_STAGE_IO_SIGNATURES,it's D3D10DDIARG_SIGNATURE_ENTRY only has 3 elements.How can I pass the IO signature to ConvertInDriver wh

[2022-04-11 18:04] tex3d commented on #3369
We have `dxc.exe -dumpbin <file>` for this.  Is this sufficient for the need?  If not, why not?

Granted, the option name could be better/more discoverable (it's inherited from fxc.exe).

Our general direction is to make more functionality available through dxc.exe rather than adding more special-purpose driver executables.

[2022-04-11 18:04] #3369 closed

[2022-04-13 03:09] #4263 closed

[2022-04-13 06:31] jbright282 commented on #4318
This issue can be closed.  I've got a much tighter repro case that I will log.

[2022-04-13 06:31] #4318 closed

[2022-04-13 06:49] jbright282 opened #4391 "[SPIR-V] Compile error with struct inheritance"
Shader (attached) uses struct inheritance.  Compiles fine to DXIL.  Fails SPIRV.
Removing inheritance (combining DataBuffer & DataBufferBase into one struct) succeeds.

Cmd line

[code]
[badShader.txt](https://github.com/microsoft/DirectXShaderCompiler/files/8478821/badShader.txt)

Error:
[code]

[2022-04-13 17:52] teoxoy opened #4393 "Boolean swizzle not working"
Trying to swizzle a boolean returns the error below. This seems to work properly with FXC.

[code]

https://shader-playground.timjones.io/92aa0a8564591f041ac11093ca070738

[2022-04-14 09:05] BattleAxeVR commented on #4179
Any updates on this?

[2022-04-15 15:25] Try opened #4394 "Crash when compilling with -Zi option"
Stumbled across a few issues, when porting my home project to new compiler.
command line;
[code]
dxc version: v1.6.2112
with old compiler(`D3DCompile`) works fine.

shader: https://pastebin.com/FptHSLG5
Hopefully you can fix it, Thanks!

[2022-04-18 15:44] Gavin-Williams opened #4396 "Where can i find the command line tool?"
I see this ...

But I don't know what an artifact is. Is this the command line tool?

[2022-04-19 05:44] Gavin-Williams commented on #4396
I found it here.

https://github.com/microsoft/DirectXShaderCompiler/releases

[2022-04-19 05:44] #4396 closed

[2022-04-19 05:55] Gavin-Williams opened #4398 "The command line tool fails to run."
when i run dxc in the Windows Terminal with ..

     ./dxc.exe -help

I get the following error: dxc failed : error code 0x8007007e

[2022-04-19 05:59] Gavin-Williams commented on #4398
So apparently it's not a standalone app. It requires the extra files that came with it. For someone who very rarely uses command line tools, I used to drop fxc into the project/assets/shaders/ folder and compile them in place, how do you recommend I use this tool?

[2022-04-19 06:00] Gavin-Williams commented on #4398
.. And I'm just assuming this replaces fxc, and I can construct my shaders with the bytecode that is outputted by this tool.

[2022-04-19 14:59] jaebaek commented on #4391
@jbright282 thank you for reporting this issue. We will take a look.

[2022-04-19 15:29] Gavin-Williams commented on #4398
I just learnt that Dx11 isn't being updated anymore, so it won't get shader model 6. And the Dxc tool is only for shader model 6, so only for dx12.

Fxc is required for Dx11 shader compilation.

[2022-04-19 15:29] #4398 closed

[2022-04-19 18:23] bob80905 commented on #4176
I ran dxc.exe on the min repro shader, with these arguments:-E PSMain -T ps_6_2 -Zpc -Od. I ran it on the snapshot you provided.
I got this error:
Internal compiler error: access violation. Attempted to read from address 0x0000000000000030

I did the exact same thing on the latest snapshot, and there were no errors.
I'll close this for now, feel free to open a new bug if you run into this behaviou

[2022-04-20 18:36] pow2clk commented on #4373
Hi @jaebaek! One for you

[2022-04-20 18:43] pow2clk commented on #4384
Thanks for the report @ipotrick! Welcome to DXC!

Using an integer vector as the type for an enum is not allowed. We should produce an error here just as we do if you try to use float.

Just a note for @jaebaek  and @sudonatalie that this issue is not limited to SPIRV.

[2022-04-20 20:04] #2972 closed

[2022-04-21 01:19] fcarucci commented on #4373
Hey Jaebaeck, I think we’ve met. I was in Android Graphics working with Nat Duca until very recently.

[2022-04-21 09:12] xiongyaya opened #4407 "[SPIRV] compile hlsl contain ray-query cause error"
[code]
compile upon code use cmd :
[code]
or
[code]
cause error:

[2022-04-21 19:58] jaebaek commented on #4384
@pow2clk Thank you for letting us know :)

[2022-04-21 20:14] jaebaek commented on #4373
@fcarucci Thank you for reporting this issue. So far we have not tested compiling shaders with the external linkage. Your solution looks good to me.

If you made contributions for that part, we would appreciate it. We currently experience huge amount of workload and I am not sure we can handle it for a while. I am sorry about that.

Note that we need the legalization to generate a valid SPIR-V and

[2022-04-21 20:36] #3720 closed

[2022-04-21 21:19] #4176 closed

[2022-04-21 22:02] #3844 closed

[2022-04-22 22:10] unit-a-user opened #4408 "[SPIR-V] About `GL_EXT_buffer_reference` writing... (`RawBufferStore`)?"
I seen `RawBufferLoad`, but how about method, alike `RawBufferStore`?

[2022-04-24 14:24] nickyc95 opened #4411 "[SPIR-V] Resource Shift doesn't work on non-zero spaces"
Hi,

I am running into an issue where resources that are bound to space1 in a shader are not being shifted correctly. If I set them to space0 then the shift applies correctly..

ShaderPlayground Example:
https://shader-playground.timjones.io/f86af4193eb000111e230659db41ea3e

[code]
Running DXC with command `-fvk-u-shift 1000 0`  results in the following OpDecorates in SPIR-V

[code]

Expected:
cor

[2022-04-25 14:23] jaebaek commented on #4408
@unit-a-user Thank you for reporting this issue. We will add it to our TODO list.

[2022-04-25 18:56] tex3d opened #4415 "Validator needs to prevent invalid handle in AnnotateHandle"
[code]

[2022-04-25 21:10] pow2clk commented on #4407
@jaebaek and @sudonatalie  for visibility

[2022-04-25 22:15] tex3d commented on #4327
Closing.

We haven't heard confirmation that this is a compiler issue and not a driver bug.  Please re-open if you have a repro on latest driver and/or across multiple HW implementations.

[2022-04-25 22:15] #4327 closed

[2022-04-26 20:03] jaebaek commented on #4407
Thanks! we will take a look.

[2022-04-26 20:16] sudonatalie commented on #4411
This is working as intended. `-fvk-u-shift N M` shifts by `N` the inferred binding numbers for all resources in `u`-type registers **of space `M`**. If you need to shift the inferred binding numbers for more than one space, provide more than one such option. If you need to shift the inferred binding numbers for all sets, use `all` as `M`. See [HLSL register and Vulkan binding](https://github.com/m

[2022-04-26 20:16] #4411 closed

[2022-04-26 20:34] sudonatalie commented on #4339
The SPIR-V backend supports a number of Vulkan-specific functions, enums, etc. via [The Implicit vk Namespace](https://github.com/microsoft/DirectXShaderCompiler/blob/master/docs/SPIR-V.rst#id167), and as @jaebaek mentioned, allows arbitrary "inline SPIR-V" instructions through [vk::ext_*](https://github.com/microsoft/DirectXShaderCompiler/wiki/GL_EXT_spirv_intrinsics-for-SPIR-V-code-gen) attribut

[2022-04-26 20:34] #4339 closed

[2022-04-27 00:36] #3840 closed

[2022-04-27 14:05] sudonatalie commented on #4385
Can you provide the command line arguments used to compile the shader and the result of `dxc --version`? It looks like it's working as intended (I'm able to compile the above shader successfully), but this failure is dependent on the target SPIR-V environment and the version of DXC you're running since recent changes have been made to relax the ray query requirements where possible.

[2022-04-27 14:10] Chaphlagical commented on #4385
dxc version: dxcompiler.dll: 1.7 - 1.6.0.3405
arguments:
	-E
	main
	filename
	-T
	lib_6_6
	-H
	-spirv
	-fspv-target-env=vulkan1.2
	-fspv-extension=SPV_KHR_ray_tracing
	-fspv-extension=SPV_KHR_shader_draw_parameters
	-fspv-extension=SPV_EXT_descriptor_indexing
	-fspv-extension=SPV_EXT_shader_viewport_index_layer
	-fspv-extension=SPV_NV_mesh_shader

[2022-04-27 14:35] Chaphlagical commented on #4385
Thanks

[2022-04-28 09:04] DanHCM opened #4421 "Simple Amplification Shader internal compiler error repro (using 2021-12-08 dxc.exe release)"
Hello.  I've got a quite small reproduction of an "Internal compiler error: access violation ..." using the 2021-12-08 released dxc as follows -

where 'test.hlsl' contains -

[code]

I'm not claiming this is supposed to compile without errors but I would expect it to report a sensible error message rather than get a memory access violation.

Cheers

Dan

[2022-04-28 15:59] amaiorano opened #4422 "Internal compiler error: access violation. Attempted to read from address 0x0000000000000048 when multiple breaks in a loop"
Given this HLSL:

[code]

Compiling with latest dxc snapshot:

[code]

If we remove either one of the two `break`s, it compiles. If we change the `if (false)` to `if (true)` it also compiles.

[2022-04-29 14:54] sudonatalie commented on #4150
I'm not sure what the current state of support is for this particular legacy type on the SPIR-V backend or DXIL backend. The error looks like a frontend message, so if this isn't currently supported by the DXIL backend we're unlikely to add support for SPIR-V to DXC. If you'd like us to re-evaluate this request, please comment/re-open with a reproducible shader.

[2022-04-29 14:54] #4150 closed

[2022-04-29 15:20] sudonatalie commented on #4179
I was able to compile the shader successfully with the options given:

test.hlsl:
[code]

[code]

Since it sounds like compilation succeeds but there's unexpected results at runtime, we're unfortunately not able to process your issue with the information provided. If you provide the known-good SPIR-V compiled from GLSL and can identify something in the diff that you expect is causing the issue, th

[2022-04-29 16:27] BattleAxeVR commented on #4179
Sure thing, I'll re-test using the latest DXC and glslLangvalidator and provide the compiled output of each one to compare.

[2022-04-29 17:11] sudonatalie commented on #4217
`[[vk::ext_decorate(/* BuiltIn */ 11, /* NumWorkGroups */ 24)]]` does correctly generate the desired `OpDecorate %var BuiltIn NumWorkgroups`, but the problem is getting `%var` to be the correct type with our current implementation. If you decorate a global, then it gets wrapped in the `Globals` struct, and the decoration is incorrectly applied to the wrapper. If an entry point input variable is de

[2022-04-30 15:09] Sanakan8472 opened #4429 "[SPIR-V] fatal error: generated SPIR-V is invalid: The <id> passed to OpAccessChain to index into a structure must be an OpConstant"
Hi,
As instructed by the compiler, I'm creating a ticket:
Command:
`dxc.exe test.hlsl -spirv -T vs_6_6 -E main -fvk-use-dx-layout -fspv-target-env=vulkan1.1 -Fo ps.out`
Output:
[code]
Used latest build artifact at time of writing. Git commit: 3082ec4a0fa2c4988ba7ee6e3040760850ede98c

Repro Code:
[code]

[2022-05-01 11:08] BarabasGitHub commented on #4429
Got the same using

[code]

command line options: `-HV 2021 -WX -spirv -fspv-extension=SPV_EXT_descriptor_indexing -E main -I./  -T vs_6_0`

error message:
[code]

[2022-05-02 02:14] tomjohnstone opened #4430 "Question: How do I use globallycoherant with unbounded texture arrays?"
Hi,

Say I have an unbounded texture array like so that I'm using in a bindless renderer:

RWTexture2D<uint2> bindlessTextureUInt2 : register(u0, space10);

How do I use the globallycoherant markup when accessing a single texture from this array? Ie. I don't want it applied to all textures in the array.

Cheers,
Tom

[2022-05-03 04:26] bioglaze opened #4434 "Internal Compiler Error with ternary operations on matrices"
December 2021 DXC crashes when compiling this shader:

[code]
Compile command:
`dxc.exe /Ges -HV 2021 /T cs_6_0 /Fo repro.obj /E CSMain repro.hlsl`

Output:
`Internal compiler error: access violation. Attempted to read from address 0x0000000000000018`

[2022-05-03 13:38] #4391 closed

[2022-05-03 17:01] jaebaek commented on #4217
I think we can define a variable like the following example:
[code]

However, the validation layer report an error
[code]

We have to check the variable storage class and add it as an operand of the entry point.

[2022-05-03 17:19] #4360 closed

[2022-05-03 20:15] gracejennings commented on #2705
@wbahnassi-if Thanks for the report! I am not able to reproduce this issue with the latest version of the compiler and Visual Studio 2022.  Can you provide more information on your Visual Studio configuration and compiler version?

[2022-05-04 21:07] jacobgorm commented on #2063
I tried this from a master build, but it seems to not work correctly when using -Fh for output. In this case the dependency target is set to be the source file instead of the destination file, which is what Ninja or similar tools would require, and what -Fo does correctly. With -Fo it works, but I need to generate header files. -Fh and -Fo in combination do not seem to work either.

[2022-05-04 21:33] jacobgorm commented on #2063
It also seems there is a difference in semantics vs gcc (and xcrun metal) and other compilers, in that -MD appears to just dump the headers to a file and exit, whereas other compilers do this as a side effect while also compiling. So for dxc I need two invocations instead of just one to get the deps and the compiled output code.

[2022-05-04 23:19] jeikabu opened #4435 "Trouble building arm64"
Trying to target arm64, but it looks like I've done something wrong because there's numerous errors like:
[code]

I've built llvm-tblgen and clang-tblgen from LLVM 6.0 since it's the last version that still has `-gen-intrinsics`.

Then build DirectXShaderCompiler with:
[code]

There's [this issue](https://github.com/microsoft/DirectXShaderCompiler/issues/2890) that makes me wonder if arm64 is actu

[2022-05-05 08:38] DanHCM opened #4436 "Amplification shader repro.: Invalid payload or 'TGSM pointers must originate from an unambiguous TGSM global variable'"
I've modified the D3D12DynamicLOD project in the D3D12MeshShaders samples solution to just do one single DispatchMesh(1,1,1) command that should launch just one of following modified amplification shader thread groups, which should then populate the payload data with 4 instance structures and launch 4 down-stream mesh shader thread groups.
Each of the expected 4 mesh shader thread groups should re

[2022-05-05 12:45] jongreenberg-ea opened #4437 "Interlock ops on RO StructuredBuffers don't produce errors"
Discovered this by accident, but it appears that DXC does not notice and report the illegality of performing atomic operations (say, InterlockedExchange) on read-only structured buffers.  Code doing this should produce should produce an error.

For example, the following code compiles fine on ShaderPlayground using a cs6_6 profile, instead of reporting an illegal use of writing to _g_input_.  Note

[2022-05-05 15:09] jaebaek opened #4438 "[SPIR-V] use LocalSizeId for VK1.3 instead of WorkgroupSize (check if we have to use LocalSizeId or LocalSize)"
[SPIR-V spec](https://www.khronos.org/registry/SPIR-V/specs/unified1/SPIRV.html) says "**WorkgroupSize**
[Deprecated](https://www.khronos.org/registry/SPIR-V/specs/unified1/SPIRV.html#Deprecation) (use **LocalSizeId** [Execution Mode](https://www.khronos.org/registry/SPIR-V/specs/unified1/SPIRV.html#Execution_Mode) instead)."

We currently do not use `LocalSizeId` even when it is VK1.3. We have to

[2022-05-07 00:07] hekota commented on #4435
Hello jeikabu,

Building the compiler for arm64 is supported. Could you please try building -x64 first (in a bin separate directory) and then use the tblgen from there for the -arm64 build?

[2022-05-07 02:49] jeikabu commented on #4435
Yes, stumbled upon that.  Something like this works:
[code]
But, DXIL.dll is missing.  It's in the release packages, but can't see where it's generated here.

[2022-05-07 14:55] wbahnassi-if commented on #2705
Thanks @gracejennings for checking this out. The latest DXC release fixed the error/warning output format back to the standard way like old FXC did, and now Visual Studio can navigate to the correct location. Here is an error log from DXC now:

Shader.hlsl(53,85-89): error X3000: unrecognized identifier 'zxzxs'

The line above came from using Visual Studio 2019 Community (16.11.13) with DXC invoke

[2022-05-07 14:55] #2705 closed

[2022-05-08 17:24] jeikabu commented on #4435
I see DXIL.dll isn’t in the build artifacts, it’s just in the releases.  Looks like I’ve got x86/x64 dlls in the Windows SDKs.  But that begs the question, where does an arm64 DXIL.dll come from?

[2022-05-09 17:31] hekota commented on #4435
Arm64 dlls are not getting officially released. We are working on improving our test infrastructure, it should be included in the next release.

[2022-05-09 19:54] #4435 closed

[2022-05-09 22:07] pow2clk commented on #4430
Hi @tomjohnstone!

Unfortunately, there isn't a way to do this with the standard resource binding methods. However, it can be done with dynamic resource binding added in Shader Model 6.6. It would require some code refactoring on your part.

You can get more detail from the blog post here: https://devblogs.microsoft.com/directx/in-the-works-hlsl-shader-model-6-6/#dynamic-resource-binding
The spec

[2022-05-09 22:07] #4430 closed

[2022-05-10 10:08] manon-traverse opened #4444 "[SPIR-V] Invalid SPIR-V generated where `OpStore` is being used to store to an object with `OpTypeImage`."
I ran into a case where I attempted to use atomics on a 3D texture that is loaded in a bindless manner. When compiling to DXIL there seems to be no issue in the generated code. However, when compiling to SPIR-V I found that it generates invalid SPIR-V.

To illustrate the issue I have attached an example shader that produces the issue, as well as the generated SPIR-V.

HLSL: [bin_lines.cs.hlsl.txt]

[2022-05-10 17:34] jenatali opened #4447 "Disassembly feature request: Annotations for entrypoint properties"
Looking at HLSL source for a compute shader, the annotation for thread group size is pretty prominent, e.g.:
[code]

But looking at the disassembly of the generated DXIL, it can be really difficult to find that same information, since it just ends up as unlabeled metadata, e.g.:
[code]

It'd be great if metadata that contributes to entrypoint properties could be surfaced more explicitly, like the

[2022-05-10 19:19] pow2clk opened #4448 "[Regression] Internal terminal error when assigning member of typed buf struct"
An assert and internal error are hit when compiling the following simple, invalid shader:

[code]
The assert fires in TranslateHLSubscript because a rawbufferstore operation is found to a typed buffer and there is no case statement for it.

Passed on the Dec 2021 release, though it produced validation errors including "store on typed uav must write to all four components of the UAV." So we need an

[2022-05-10 21:31] mkarigan commented on #2432
One more example , this is case where fabs gets promoted to Fp64

float main(float4 pos : SV_POSITION) : SV_TARGET
{
  return abs(pos.z > 0.99);
}

"C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64\dxc.exe" /Tps_5_0  testIn.hlsl

define void @main() {
  %1 = call float @dx.op.loadInput.f32(i32 4, i32 0, i32 0, i8 2, i32 undef)  ; LoadInput(inputSigId,rowIndex,colIndex,gsVertexAxis)
  %2

[2022-05-10 23:58] mkarigan commented on #2432
looks like its fixed in @ https://github.com/microsoft/DirectXShaderCompiler/releases
[dxc_2021_12_08.zip](https://github.com/microsoft/DirectXShaderCompiler/releases/download/v1.6.2112/dxc_2021_12_08.zip)
Sorry about the thrash

[2022-05-11 00:42] Jack-Clark opened #4450 "Segfault: Invalid read of size 8 llvm::BasicBlock::getTerminator()"
Running `./build/bin/dxc -T cs_6_7 segfault.hlsl` from the [attached archive](https://github.com/microsoft/DirectXShaderCompiler/files/8665745/segfault.tar.gz) causes a segfault on Ubuntu 20.04. When I run it with `valgrind -v ./build/bin/dxc -T cs_6_7 segfault.hlsl` I get the following:
[code]

[2022-05-12 02:52] tex3d commented on #4436
I have a PR #4452 which fixes related issue #4421.  That may fix this issue as well, but I haven't had a chance to construct/try this repro.

Artifacts for the PR build should show up [here](https://ci.appveyor.com/project/dnovillo/directxshadercompiler/builds/43517727/job/t0yq4twqu5e6ix96/artifacts) once the AppVeyor build is done.

If you have a chance to try with dxcompiler.dll from these artif

[2022-05-12 04:35] tomjohnstone commented on #4430
So just to confirm would you have a separate array of descriptors marked as globallycoherant? Or in SM6.6 can you apply that modifier to local variable that you assign to the descriptor heap array?

I can't seem to find any mention of globallcoherant in the links you posted.

Thanks,
Tom

[2022-05-12 20:19] PrestonHamlin opened #4455 "Incorrect DXIL for library functions returning arrays"
When a library function returns an array, the DXIL generated has `%agg.result` but the body of the function is void and does not write to it. Further, the the callers of said function do not make use of the allocated input after the function call.

[code]
[code]

[library-return-arrays.zip](https://github.com/microsoft/DirectXShaderCompiler/files/8682246/library-return-arrays.zip)

[2022-05-12 20:55] #4422 closed

[2022-05-13 02:08] #4421 closed

[2022-05-13 02:37] #4455 closed

[2022-05-13 03:12] tex3d opened #4458 "Compiler fails to implicitly cast int array to uint array on assignment to out argument"
[code]

[2022-05-13 18:40] jaebaek commented on #4444
@manon-traverse Thank you for reporting this issue. We will take a look.

[2022-05-16 16:35] DanHCM commented on #4436
Thanks @tex3d
I've just grabbed the latest built artifact referenced by appveyor in the PR you mention and can confirm that -
[code]
appears to succeed (no warning/errors spat out any more). However, I can provoke a new error, very similar to the original repro. with just a very simple change to the above repro code.

Replacing, in the MeshletAS.hlsl, 'main' (with all the changes shown above), the

[2022-05-16 16:52] llvm-beanz commented on #4331
Templates aren't a preprocessing step. Due to template resolution rules like SFINAE, template substitution has to occur on the AST. It is probably possible to write an AST dumper that would generate source for instantiations, but it wouldn't be clean and it definitely isn't in scope for the HLSL 2021 tooling.

[2022-05-16 17:27] tex3d commented on #4430
Dynamic Resources is a feature of SM 6.6 where you are able to directly index resource and sampler descriptor heaps and assign these to a local (or static global) resource variables.  You would no longer declare a resource array in HLSL.  The local resource variable would have the appropriate `globallycoherent` qualifier.

Here's an example:
[code]

However, using this feature means changing the w

[2022-05-16 17:55] tex3d commented on #4331
I'm not sure what you mean, I think we already do that.
`-P` already takes a file argument for the output, though it's poorly named as `<value>` in options help:
[code]

[2022-05-16 18:17] llvm-beanz commented on #4331
@Tex, I think the request there is no to preprocess, but to expand templates (as the issue is requesting).

Template expansion is not part of the C preprocessor, so that isn't really an actionable approach.

[2022-05-16 18:33] tex3d commented on #4386
I think you need to supply sane values that take into account the limitations when that DDI are used.

Here's my recommendation:
- Use `0` for `Stream`
- Use `D3D11_SB_OPERAND_MIN_PRECISION_DEFAULT` for `MinPrecision`
- For `RegisterComponmentType`:
  - use `D3D_REGISTER_COMPONENT_UNKNOWN` if `SystemValue` is `D3D10_SB_NAME_UNDEFINED` (The converter will fill in the appropriate type)
  - otherwise

[2022-05-16 21:01] jeffnn commented on #2584
This is fixed with a not-so-recent PR to support libraries in PIX passes in general.

[2022-05-16 21:01] #2584 closed

[2022-05-16 22:04] pow2clk commented on #4450
Hi @Jack-Clark!

Thanks for the report. It looks like #4446 fixed this on the same day you reported it! Wish we could do that more often!

Closing this bug, please let us know if you have the problem with the compiler after that change.

[2022-05-16 22:04] #4450 closed

[2022-05-17 04:26] #4319 closed

[2022-05-17 04:26] #4377 closed

[2022-05-17 04:26] #4437 closed

[2022-05-18 08:55] charles-epic opened #4463 "Compiler crash on ternary operator"
Hi,

We are getting crash when a function return result with a ternary operator with matrix constructor. The output of the compiler is:

`Internal compiler error: access violation. Attempted to read from address 0x0000000000000018`

Here is the repro snippet:

[code]

This is compiled with SM6.6 and the compiler flags /Zpr /O3 /Zsb /Qembed_debug /Zi /Fd

Let me know if you need more details

[2022-05-18 08:58] charles-epic commented on #4463
I should have look more closely at the existing ticket, as it seems to already been reported and now fixed: https://github.com/microsoft/DirectXShaderCompiler/issues/4434

[2022-05-18 17:24] llvm-beanz commented on #4463
Yep, looks like this should be resolved. 😄

[2022-05-18 17:24] #4463 closed

[2022-05-18 22:06] microsoft-github-policy-service[bot] opened #4465 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 01:12] ghost opened #4469 "[D3D12] Support buffer reference for DirectX 12?"
I would like Device Buffer Address or reference in shaders to appear in Shader Model 6.8. In the Vulkan API, for example, this was brought together with rays tracing. I want a similar function to appear in DirectX 12 after a few years (and this time has come). And no, this is not Dynamic Resource, I mean something else. This is what you can shift the address.

[2022-05-19 06:10] StarsX commented on #4469
I just imagined this before. If a raw buffer index could be uint64, and root uav virtual address setting could be 0, this would be just a memory address pointer.

[2022-05-19 18:49] #4465 closed

[2022-05-21 02:21] zhaoyue001 commented on #4386
thanks for your answers

[2022-05-21 02:21] #4386 closed

[2022-05-22 06:30] kruseborn commented on #2499
It's been a while since this bug was reported. Any plans to fix it?

[2022-05-25 15:22] MarkIngramUK commented on #2890
From https://github.com/microsoft/DirectXShaderCompiler/issues/4435#issuecomment-1121380749

[2022-05-25 15:28] unit-a-user commented on #3930
Please, reopen this or some issue for `VK_KHR_fragment_shader_barycentric` extension (Vulkan 1.3.215).

[2022-05-25 15:29] unit-a-user commented on #256
Please, reopen this or some issue for `VK_KHR_fragment_shader_barycentric` extension (Vulkan 1.3.215).

[2022-05-25 16:01] Sergio0694 commented on #2890
If it helps, you can just grab the ARM64 binaries from an ARM64 build of Windows, those work fine.
I don't think they're officially supported, but at least they can get you unblocked for now.
Eg. I'm using them in ComputeSharp, had no problems so far. See [link here](https://github.com/Sergio0694/ComputeSharp/tree/main/src/ComputeSharp.Dynamic/Libraries/arm64)).

[2022-05-25 16:30] sudonatalie commented on #4438
DXC is already correctly generating `LocalSize`, which is not deprecated, and we haven't come across a case as far as I know where we can't use literal constants and `LocalSizeId` is needed. Until/unless a functional need arises to implement the latter, the former has been sufficient for DXC, so no change is needed for VK1.3 support, and the issue in https://github.com/KhronosGroup/glslang/issues/

[2022-05-25 16:30] #4438 closed

[2022-05-25 16:31] MarkIngramUK commented on #2890
Thanks @Sergio0694 - that's great, I didn't realise they shipped with Windows. I wonder how up to date they are... I'm using December 2021 on x64 (`-HV 2021`).

[2022-05-25 19:15] MarkIngramUK commented on #4435
Amazing news. Thanks!

[2022-05-26 04:13] oscarbg commented on #644
+1 for KHR variant.. @jaebaek @jiaolu ?

[2022-05-27 06:48] v4vendeta commented on #3275
Can you describe it in more detail? I met the same problem too and don't know how to fix that.

[2022-05-27 07:03] expipiplus1 commented on #3275
The build instructions are here: https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/DxcOnUnix.rst

[2022-05-27 14:12] v4vendeta opened #4480 "Failed to build the project with cmake, llvm-build: error: invalid target to enable: 'AMDGPU' (not in project)"
![image](https://user-images.githubusercontent.com/45009841/170716151-8c6516bf-094f-4f20-ad2b-97aedd763e9f.png)

OS: Windows 11
GPU: AMD 6600xt
Driver: AMD Software: Adrenalin Edition 22.51

to reproduce:
[code]

[2022-05-27 18:11] gongminmin commented on #4480
No, just "cmake .." doesn't work. You need to set parameters to it. Check cmake\caches\PredefinedParams.cmake for details.

[2022-05-28 11:50] OrangeeZ opened #4486 "Nested static 'for' loops with unroll translate to 'while( true )' loops with actual branches"
Hi! We're using DXC version 1.6.2104.52. We target mobile devices, such as Adreno and Mali GPUs.
Consider the following code:
`float4 color = (float4)0;
float4 colors[4];
float luminances[4];
[unroll]
for ( int j = 0; j < (4 - 1); j++ )
{
	[unroll]
	for ( int k = 0; k < (4 - j - 1); k++ )
	{
		[flatten]
		if ( luminances[k] > luminances[k + 1] )
		{
			float tmpLum = luminances[k];
			luminances[k

[2022-05-29 10:24] #4480 closed

[2022-05-29 10:25] v4vendeta commented on #3275
thanks.

[2022-05-30 01:49] gongminmin commented on #4358
Or, take the open-sourced version of d3d12shader.h from DirectX 12 Agility SDK?

[2022-05-30 04:22] CgGraphic opened #4488 "validator version 1,4 does not support target profile"
have tried latest release of dxcompiler.lib and dxil.dll to compile mesh shader with ms_6_6 profile.

Things went well in a simple compiler demo using the latest function.

But get error when integrating this new version into our engine.  and only happens when use profile larger than 6_5, the rest profiles are fine

shaders are pretty simple, have checked the dll version, seems fine. Any ideal  wh

[2022-05-30 06:46] CgGraphic commented on #4488
Once I compile shader with the editor open, it reports such an error, and if no window (Vulkan) opens, it works fine.

So I suspect it might be associated with vulkan validation?

[2022-06-01 13:18] pclarberg opened #4492 "[DXIL] Broken codegen for loading elements from FP16 matrix types in StructuredBuffer"
On latest main I get the wrong result when loading elements from fp16 matrix types stored in structured buffers.
[code]

This loads elements a[0][0] and a[0][2], not a[0][1] as expected.
Looking at the generated code it looks like it thinks there is 4B between each element not 2B.

See attached example HLSL and generated DXIL.
[dxc-float16_t4x4-example.zip](https://github.com/microsoft/DirectXShad

[2022-06-01 21:15] bob80905 commented on #4447
The other entry point properties were added and tested with:
https://github.com/microsoft/DirectXShaderCompiler/pull/4491

[2022-06-01 21:15] #4447 closed

[2022-06-02 12:15] wookie41 opened #4496 "[SPIR-V] Compile and generate reflection information for shader in a single command."
Hello.

I've been trying to get `dxc` to compile to SPIRV, stripping reflection infro from the shader and generate reflection info for SPIRV-reflect using a single command like this:

[code]

But instead of two files - one `.ref` and `.spv`, I only get the `.spv` one, with (what it looks like) reflection info in it, as SPIRV-Reflect is able to read the reflection info from it.
I've been trying to

[2022-06-02 12:50] laurentcau opened #4497 "struct value on "stack""
Hi,

I noticed a strange behavior of the compiler when using intermediate value.
It doesn't generate the same code when using a structuredbuffer directly or through a variable.
Here is an example:
[code]
I expected the compiler to generate the same code but it doesn’t.

Test1 generates code:
[code]
The second version looks better since the memory fetch is done only when the fist condition is true.

[2022-06-02 13:04] laurentcau commented on #4497
Strangely, having non struct argument seems to generate the same code as test2.
[code]

[2022-06-02 18:41] kuhar commented on #3370
cc @kuhar

[2022-06-02 21:53] tex3d opened #4498 "HLSL enum types do not conform to intended C++ behavior"
The unscoped `enum` type has differences in behavior in HLSL from the C++ behavior that should be rectified.  The primary difference is that it preserves the enum type for binary operator expression results rather than converting to int first and resulting in an int type for the expression.

Additionally, `enum struct` has unintended differences in behavior from `enum class` because, other than sc

[2022-06-03 13:22] baldurk opened #4500 "[SPIR-V] debug info should emit DebugEntryPoint with compiler info"
The SPIR-V debug information emitted via `NonSemantic.Shader.DebugInfo.100` doesn't currently emit `DebugEntryPoint` for the entry point being compiled.

This is a useful piece of metadata as it includes the compiler identifier itself and importantly the command line arguments, which can then be used to recompile the shader together with the embedded source code, potentially including modification

[2022-06-03 13:34] baldurk opened #4501 "[SPIR-V] Debug info should use DebugBuildIdentifier and DebugStoragePath with -Fd flag"
This is a request for the `NonSemantic.Shader.DebugInfo.100` SPIR-V debug info to use the `DebugBuildIdentifier` and `DebugStoragePath` opcodes to support split debuginfo files. For context how it works on the DXIL path:

The `-Fd` flag allows the user to specify a directory where unstripped debug-info filled copy of the shader will be saved before the actual output via `-Fo` contains only the str

[2022-06-03 13:52] BobTailor opened #4502 "[SPIRV] When using a texture as an input argument for a method, the generated binary looses information"
When using DXC to generate Spir-v binaries, we noticed that a small change in the code can dramatically change the generated binaries.

Lets say you have a working HLSL compute shader, it compiles fine to Spir-v and you can nicely debug these generated shaders and nicely cross compile them to another Shader language, e.g. Metal Shaders.

Lets say you have a texture
`Texture3D<float> myTexture : re

[2022-06-03 14:01] kuhar commented on #4500
This is assigned to @greg-lunarg.

[2022-06-03 14:01] kuhar commented on #4501
This is assigned to @greg-lunarg.

[2022-06-03 17:39] #4161 closed

[2022-06-03 23:25] PanosK92 commented on #4502
Came here to report the same thing after my shader reflection system failed on multiple shaders.

[2022-06-07 06:04] farosis commented on #4128
I'm a glsl user currently working on porting some glsl to hlsl for vulkan usage, I hit the same issue, and I can't find a way to "specialize" threadgroup size in hlsl shader. Do you guys have a fix for this issue? or do you know how to work this out without fix this missing feature?

[2022-06-08 20:09] kuhar opened #4506 "[SPIR-V] Multidimensional array of constant buffers crashes dxc"
[code]

Repro:
[code]

This is based on the example in https://docs.microsoft.com/en-us/windows/win32/direct3d12/resource-binding-in-hlsl#constant-buffers.

[2022-06-13 10:34] manon-traverse commented on #4444
@jaebaek
Hi, I was wondering if there is any progress on this issue.
This issue is preventing us from enabling some rendering systems and having this fixed would be really nice for us.

Is there something I could do to help out with tracking down and solving this? I can imagine you are pretty busy with many more issues than this one, so if I could help out in any way with this issue, let me know!

[2022-06-13 14:19] s-perron commented on #4444
I took a quick look.  It seems like spirv-opt is not optimizing away the function scope variable like it should, but I'm not sure which pass needs to be updated.  The address of the variable is passed to an OpImageTexelPointer.  We need to replace the address in the instruction with the UniformConstant address that contains the same value.

[2022-06-13 14:33] kuhar commented on #4444
Hi @manon-traverse,

Thanks for bumping this issue. I tried reproducing this using the current top-of-trunk and did not see any `OpStore` in the final SPIR-V. Could you please provide a few more details:

1. What is the full command to invoke DXC on the example that you attached?
2. What's the version/release of DXC that you used?

[2022-06-13 18:54] kuhar commented on #4444
I can see the two `OpStore`s when compiled with: `dxc -T cs_6_6  -spirv t.hlsl  -E main -HV 2021 -fspv-target-env=vulkan1.2`. Thanks, @s-perron!

[2022-06-13 20:10] pow2clk commented on #4480
Thanks @gongminmin!

[2022-06-13 20:13] pow2clk commented on #4502
Hi @kuhar and @sudonatalie! SPIRV issue

[2022-06-13 21:11] pow2clk commented on #4488
@CgGraphic can you give more information about the error and how you are compiling this? The shader compiles fine for me generating DXIL. Are you generating SPIRV? What is the error you are seeing?

[2022-06-14 02:25] tex3d commented on #4488
This sounds to me like an older DXIL.dll being loaded.  It's very likely the DXIL.dll being loaded by DxCompiler.dll is not the one you think.  That's why you get the error message mentioning "validator version 1,4".  This should only impact DXIL targets, not SPIR-V for Vulkan.

Please verify that the DXIL.dll loaded by DxCompiler.dll is the one in the latest GitHub release, and that the DxCompile

[2022-06-14 03:15] tex3d commented on #4497
Technically, HLSL argument passing is all by-value, meaning copy-in (and copy-out for inout/out args).  This means that if you pass a structure from the StructuredBuffer to the function, it's loading the entire structure, then copying it into the input argument of the function.

After inlining and some optimization, the aliasing is known, and in theory the load could sink into a branch.  However,

[2022-06-14 06:24] MarkaRagnos0815 opened #4511 "compile fails when using clang-cl in visual studio"
I am trying to compile the project using clang 13 (and 14)
I used clang 14 standalone through a custom make file and switched compiler toolchain from v143 to clang-cl

- I created a visual studio solution using hctbuild
- I opend the solution
- switched toolset to clang (llvm 13)

the following error appears when compiling clang libraries

`
Build started...
1>------ Build started: Project: clangA

[2022-06-14 09:05] OrangeeZ commented on #4486
Hi @pow2clk!

1. The shader looks kinda like:
[code]
2. The original loop in boxMedian() looked like this:
[code]
3. Yes, we're only intrested in SPIR-V output.

[2022-06-14 17:54] kuhar commented on #4506
Fixed by https://github.com/microsoft/DirectXShaderCompiler/pull/4507

[2022-06-14 17:54] #4506 closed

[2022-06-14 21:17] sudonatalie commented on #4496
The `-Qstrip_reflect` and `-Fre` options are not currently supported by the SPIR-V backend and we don't have any current plans to implement them, although PR contributions are welcome and will be reviewed.

As a workaround, you can follow up your compilation with `-fspv-reflect` by running `spirv-opt --strip-nonsemantic` on the results to output a SPIR-V module with all reflection information remo

[2022-06-15 20:53] sudonatalie commented on #4502
Hi @BobTailor, thanks for reporting!

While the compiler does generate some `OpName` instructions for debugging purposes, we don't make any guarantees about how and when they are generated, and they're subject to change without notice. For information on the decorations that can be safely used for this purpose, please refer to the documentation on [Reflection](https://github.com/microsoft/DirectXS

[2022-06-15 20:53] #4502 closed

[2022-06-16 09:54] bioglaze opened #4514 "Variable inside a namespace not found"
The following code does not compile, unless the commented out line is uncommented:

[code]

    Error : no member named 'testVariable' in namespace 'testNamespace'; did you mean simply 'testVariable'?

DXC version is December 2021.

[2022-06-16 17:36] sudonatalie commented on #4368
Thanks for identifying this issue @Dredhog ! A fix is currently in review.

[2022-06-16 20:25] #4368 closed

[2022-06-17 17:29] gongminmin commented on #4511
I happened to work on this last week. After fix a dozen places, it compiles and runs well. This is the draft commit https://github.com/gongminmin/DirectXShaderCompiler/commit/a81d69571e9136a9b6301a2dd77917e21c9605f3 . I'm now decomposing changes to several PRs.

For this particular one, in include/llvm/ADT/iterator.h, you need to replace
[code]
to

[code]

At that moment, iterator_adaptor is not a

[2022-06-17 17:48] sudonatalie commented on #3299
This issue has now been fixed. The error message in the current release of `dxc` (Vulkan SDK 1.3.216.0) is:

[code]

[2022-06-17 17:48] #3299 closed

[2022-06-17 18:30] sudonatalie commented on #3221
From what I see in the HLSL spec, [`min`](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-min) and [`max`](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-max) would be correctly represented by the GLSL.std.450 instructions [`NMin`](https://www.khronos.org/registry/SPIR-V/specs/1.0/GLSL.std.450.html#:~:text=%3Cid%3E%0Aoffset-,NMin,-Result%2

[2022-06-17 20:17] #3221 closed

[2022-06-17 20:18] sudonatalie commented on #3221
Thanks for reporting this @Triang3l !

[2022-06-17 22:30] alextardif-zmi opened #4520 "SamplerDescriptorHeap[sampIdx] cannot be used inside of texture.Sample(...)"
The following is a sample from this document: https://microsoft.github.io/DirectX-Specs/d3d/HLSL_SM_6_6_DynamicResources.html

[code]

But in practice (with the December 2021 release), doing this results in compilation errors:

[code]

Creating a separate SamplerState variable to store it and then using that works, casting within the Sample function like this also works:

`myTexture.Sample(((Sampl

[2022-06-17 22:48] Triang3l commented on #3221
Ooooh, didn't notice that property of `clamp`, thanks for telling me about it so I'll keep that in mind and recheck all the usages of it in my existing code @sudonatalie! :D And thank you for the fix!!!

[2022-06-17 23:08] Triang3l commented on #3221
@sudonatalie While this is not specified in the HLSL documentation directly, however, the [`_sat` modifier in Shader Model 4 assembly/bytecode is defined](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/saturate) to return 0.0 for NaN according to the rules of the `max` DXBC instruction. Would it be reasonable to extend this logic to HLSL, or would that be just an excess optimization a

[2022-06-20 14:26] #3781 closed

[2022-06-20 15:59] MrDomS opened #4523 "Feature Request: GatherLevel()"
Recently saw the HLSL 6.7 spec, and I am very happy to see SampleCmpLevel being exposed.
Would it be possible to get access to a GatherLevel() system? Even if it is integer mip levels it would be very useful for example, accessing quads of HZB data in a compute shader.

[2022-06-20 23:21] tex3d commented on #2833
There is already a supported attribute for DXIL library targets, like: `[shader("pixel")]`, for identifying the entry functions in a library.

The missing piece is producing an array of normal (non-library) compiled shaders from each of the entries exposed in the library.  That step could be accomplished with a small utility that introspects a compiled DXIL library and performs a Link operation fo

[2022-06-21 01:38] DouglasProgramador123 opened #4525 "Feature Request: Shader Decompiler"
Add feature for Dumping directx 12 shaders and compile again after editing.

[2022-06-21 02:52] kuhar commented on #3370
Hi @Jasper-Bekkers, @gjaegy, @MarijnS95, and @jbmcgee,

I looked into this issue and came up with a draft PR: https://github.com/microsoft/DirectXShaderCompiler/pull/4526.
However, the correct semantics are not clear to me:

I compiled the example from the first comment to DXIL, annotating the load with both `row_major` and `column_major` and the final DXIL seems to be identical. Shouldn't DXIL be

[2022-06-22 08:38] calhsu-nvidia opened #4527 "Using a static const array in a member function declaration causes CREATEPIXELSHADER_INVALIDSHADERBYTECODE during CreatePipelineState"
Tested with dxcompiler.dll version 1.6.0.3597 (commit a19c32629, 2022/06/22)

The following snippet compiles successfully with no errors but, returns CREATEPIXELSHADER_INVALIDSHADERBYTECODE or CREATEMESHSHADER_INVALIDSHADERBYTECODE, depending on where the code is used.
[code]

Workarounds:
* Removing the static declaration fixes the error.
* Using a global function instead of a class member functi

[2022-06-22 17:20] aschrein-AMD commented on #3505
Any updates on this issue?

[2022-06-23 19:21] sudonatalie commented on #2401
Closing since this issue is now being tracked in: https://github.com/KhronosGroup/SPIRV-Tools/issues/2816. If there's evidence of a performance improvement with this change, please attach it to the SPIRV-Tools issue for prioritization.

[2022-06-23 19:21] #2401 closed

[2022-06-23 19:23] sudonatalie commented on #2402
As discussed in https://github.com/KhronosGroup/SPIRV-Tools/issues/2817, there are no plans to implement this change in `spirv-opt`. If there is evidence of a performance improvement with this transformation, please attach it to the SPIRV-Tools issue for reassessment.

[2022-06-23 19:23] #2402 closed

[2022-06-23 19:38] sudonatalie commented on #2688
Sorry for the lack of response on this issue!

Given the following minimal shader based on the problem code mentioned above:

[code]

I was not able to reproduce the error. The above shader compiles successfully with:
* `-T ps_6_0 -E main -spirv`, and
* `-T ps_6_0 -E main -spirv -Od`

I'll assume that the issue has since been fixed, however if you have a full repro shader that still produces this

[2022-06-23 19:38] #2688 closed

[2022-06-23 20:05] #2692 closed

[2022-06-23 20:14] sudonatalie opened #4528 "[SPIR-V] Implement `dot4add_u8packed` and `dot4add_i8packed` intrinsic functions"
If possible, we should add support for the HLSL packed dot product intrinsic functions to the SPIR-V backend, as documented in [Shader Model 6.4](https://github.com/microsoft/DirectXShaderCompiler/wiki/Shader-Model-6.4).

This is a follow-up from #2953.

[2022-06-23 20:15] sudonatalie commented on #2953
Since the crash is now fixed, I've opened a separate issue to track actually implementing the missing intrinsics in the SPIR-V backend: https://github.com/microsoft/DirectXShaderCompiler/issues/4528

[2022-06-23 20:15] #2953 closed

[2022-06-23 20:39] sudonatalie commented on #3177
It looks like this issue was fixed with #3426.

[2022-06-23 20:39] #3177 closed

[2022-06-24 01:05] bsekura opened #4530 "[SPIR-V] Feature request: add annotations for images readonly, writeonly"
Currently in spirv backend, Texture objects are always translated to sampled image. `OpTypeImage` will have sampled set to "will be used with sampler" (https://www.khronos.org/registry/SPIR-V/specs/1.0/SPIRV.html#OpTypeImage).

There are many cases where we want to use readonly Texture without sampling (e.g. the format does not support sampling - for example uint64). In this case we want it to be

[2022-06-24 03:27] GregSlazinski commented on #2402
But it's pretty obvious that this code is very bad:
[code]
Which should have been:
[code]

[2022-06-24 16:04] sudonatalie commented on #4221
I'm not sure by which PR since there have been a few ray tracing improvements, but it looks like this issue has since been fixed. I'm able to repro the error with the DXC distributed with Vulkan SDK 1.2.182.0, but it now compiles successfully with the latest version from GitHub (`1.7(dev;3598-0ef9b702)`) and Vulkan SDK 1.3.216.0.

[2022-06-24 16:04] #4221 closed

[2022-06-24 17:30] #3782 closed

[2022-06-24 20:23] kuhar commented on #3370
Update: I further checked with @tex3d. We will keep the behavior consistent with HLSL/DXIL and assume the matrix order in raw buffers to be column major, and provide a compatibility flag to opt-out of the change: `-fspv-use-legacy-buffer-matrix-order`. We won't honor `column_major` and `row_major` attributes in `.Load`/`.Store` because these are not currently supported in the DXIL codegen either.

[2022-06-24 20:36] kuhar opened #4532 "[SPIR-V] `FileTest.ByteAddressBufferTemplatedStoreStruct2` test is broken"
The `FileTest.ByteAddressBufferTemplatedStoreStruct2` test is currently broken. It compiles the wrong HLSL file:

[code]

When we switch it to use the correct input shader, the test fails:
[code]

We should update the test so that it uses the correct file and passes, or to remove it entirely if broken beyond repair.

[2022-06-24 20:38] kuhar commented on #4532
@chouinard Could you take a look? If you don't have free cycles, please assign it to me.

[2022-06-24 20:41] sudonatalie commented on #4532
Sure, I should be able to handle this next week.

[2022-06-24 21:29] #3370 closed

[2022-06-26 12:55] pablode opened #4533 "min12uint type mentioned in Wiki does not exist"
The wiki page [16 Bit Scalar Types](https://github.com/microsoft/DirectXShaderCompiler/wiki/16-Bit-Scalar-Types) list a `min12uint` type, but this type is neither listed in the official documentation [\[1\]](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-scalar) [\[2\]](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-appendix-keywords) nor

[2022-06-27 17:01] #3831 closed

[2022-06-27 17:02] sudonatalie commented on #3831
This is now fixed. Thanks for reporting @manas-kulkarni !

[2022-06-27 19:36] MarkaRagnos0815 commented on #4511
thanks and works

[2022-06-28 09:26] Jasper-Bekkers commented on #3331
Now with #4529 merged in, I was wondering if this issue went up in priority? To have have sane floating point behavior we rely on this for our DXIL codepath, but would also love to rely on this for our SPIRV codepath. Having this makes a world of difference to us in terms of having to debug odd floating point issues. On the CPU side we got rid of relying of fastmath style behavior since we started

[2022-06-28 13:07] simontaylor81 commented on #3082
Is there any progress on this one? It's preventing us from using a thread-local allocator, instead having to fall back to a global one, with all the thread contention that implies.

Could the unordered_map maybe just be converted to a switch statement? Probably slower, but maybe not critically?

[2022-06-28 15:16] sudonatalie commented on #3331
#4529 was just part of some general error messaging improvements and cleanup following issue triage, so implementing `-Gis` is still not currently on our roadmap of priorities for the near future. It should be supported by the SPIR-V backend though so we would be happy to review any PRs that address this, and provide any help with implementation questions if someone in the community is interested

[2022-06-29 04:14] lmnx90 commented on #3383
I have the same as above,  there is no docs about !dx.viewIdState in https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/DXIL.rst .

[2022-06-29 18:18] pow2clk commented on #4511
Thanks @gongminmin!

[2022-06-29 18:18] #4511 closed

[2022-06-29 18:19] bob80905 commented on #3496
This issue was completed with:
https://github.com/microsoft/DirectXShaderCompiler/pull/4427

[2022-06-29 18:19] #3496 closed

[2022-06-29 18:26] #4525 closed

[2022-06-29 18:30] pow2clk commented on #4530
Hi @sudonatalie @kuhar! SPIRV bug for you

[2022-06-29 18:41] pow2clk commented on #4486
Thanks @Orangeez!

Given that DXIL properly unrolls this loop, I'm marking this as a SPIRV issue and tagging @sudonatalie and @kuhar

Here is the above shader with some small additions so that it compiles without anything missing

[code]

[2022-06-30 12:49] phlogios opened #4536 "[DXIL] Compiler crashes when using optimizations and -Zi on a complex HLSL shader"
Commit 37e802cd0704cb72760fdca12ce7d7659a166036 (May 20, 2021) breaks compilation of this shader, if optimizations are -O1, -O2 or -O3 AND -Zi is used. I found the breaking commit by using git bisect.

Remove any line from the shader at the bottom of this report and it will compile fine.
The crash happens here:
![image](https://user-images.githubusercontent.com/2104121/176679397-a4760d25-82ef-4d30

[2022-06-30 13:55] jeremyong opened #4537 "Returning a `globallycoherent` resource from a function results in a "global coherent mismatch" warning"
## Premise

While other RHIs still do not have dynamic resource indexing, it's convenient to implement a common platform-neutral interface with getters for various resource types. However, an issue seems to arise specifically when trying to return a `globallycoherent` annotated UAV from a function. While the DXIL generated correctly annotates the resource as `globallycoherent`, the shader compilat

[2022-07-04 07:34] domme opened #4540 "[DXIL] Incorrect codegen when using "static" on groupshared variables"
Hello all,

We've noticed that when using "static" for bool-like groupshared variables in HLSL the resulting DXIL code incorrectly uses the "i1" type for this variable instead of "i32" in the version without "static". According to the [DXIL docs](https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/DXIL.rst#memory-access-granularity), i1 types are not supported for groupshared memory.

[2022-07-04 07:38] CgGraphic commented on #4488
Yes, editor load an older dxil.dll.

[2022-07-04 08:26] CgGraphic opened #4541 "[SPIR-V] Bugs when write to out vertices in mesh shader"
when compiling mesh shader code  like this into spir_v, it fails to write to gl_Position,  producing black image

[code]

the compiled code, captured from NSight, create a temp param_var_verts, but failed to write to it

[code]

[2022-07-04 08:44] #4488 closed

[2022-07-04 11:12] Jack-Clark commented on #4450
Hi @pow2clk, I've rebuilt dxc from main using commit id (76fed39c368cf65167e6db00738b212dac024b49) and I still get segfault errors that look like they have the same root cause (the valgrind output is almost exactly identical). From a file of about 23k tests created by a fuzzer, I get 588 segfaults. I've attached an archive containing all the hlsl tests that caused a segfault in this test run.
[hls

[2022-07-05 06:34] guoxx commented on #2666
Thank you for the nice work for improving the functionality of DXC, can we have a documentation about how to use pragma diagnostic as FXC have?

[2022-07-05 16:29] Dredhog opened #4542 "[SPIR-V] Specialization constants don't work if the shader uses the implicit Globals UBO"
### Title
[SPIR-V] Specialization constants don't work if the shader uses the implicit Globals UBO

### Functional impact
Specialization constants get placed into the `$Globals` UBO as regular constants when the `$Globals` UBO is present. This is incorrect and makes them practically unusable.

### Minimal repro steps

1. Compile the following shader with `dxc.exe -T ps_6_0 -E main -spirv repro_sha

[2022-07-07 07:59] simontaylor81 commented on #4536
Is it possible to get some traction on this issue. It is completely blocking us (i.e. EA Frostbite) from updating DXC beyond our very old current version.

[2022-07-09 01:49] #4536 closed

[2022-07-10 23:02] greg-lunarg commented on #4500
@baldurk What would RenderDoc want to see for a format for the Compiler Signature? Should the compiler be just dxc/glslang/other? The full name of the executable? The full path of the executable? Should the version just be the latest commit hash as is done by dxc for OpModuleProcessed? Or the semantic version number printed by --version? Should the version be separated from the compiler name just

[2022-07-10 23:44] greg-lunarg commented on #4500
@baldurk Here is an example of the way that glslang does command line for OpModuleProcessed:

               OpModuleProcessed "client vulkan100"
               OpModuleProcessed "target-env spirv1.5"
               OpModuleProcessed "target-env vulkan1.2"
               OpModuleProcessed "entry-point main"

[2022-07-11 09:59] baldurk commented on #4500
I think the signature is primarily for debugging/human use, e.g. if a miscompilation is found then the compiler can be identified to see if a bugfix is present or not. I don't think it's realistic to have tools programmatically do anything with that information, but I think a simple form of `compiler_executable numeric.version commitsha` would be best at least for dxc/glslang to not make it harder

[2022-07-11 18:43] jeremyong opened #4545 "[Feature] Compile VS/PS simultaneously to support interpolant stripping"
Currently, shaders of different frequencies are fed to the compiler one at a time. This is true not just for vertex and pixel shaders, but other shaders that feed data between stages. The issue is that when compiled in isolation, the compiler has no knowledge of what inter-stage data will or will not be used when the shader module is ultimately linked in the final PSO. To manage this currently, IS

[2022-07-11 19:13] #2890 closed

[2022-07-11 19:34] MarkIngramUK commented on #2890
Excellent news, thanks @hekota and the rest of the team.

[2022-07-11 21:43] pow2clk commented on #4533
Hi @pablode!

Thanks for catching this. It does seem odd that this type is missing, but it has ever been thus and the min* types are something of a relic from the past we don't really want to enhance.

I've fixed the wiki

[2022-07-12 08:25] Nielsbishere opened #4548 "Is for loop variable hoisting a bug or a feature?"
[code]
The example above compiles to input.color += 36 (nth triangle number of 9). C-like languages generally don't hoist for loop variables like this, so is this a specific HLSL feature or a bug? If I multiply by i == 8 it will optimize to store 0, meaning that the compiler knows that i comes from the for loop and knows its value.

[2022-07-12 16:09] DethRaid opened #4549 "[HLSL] Misleading error message when using a UAV register for a raytracing acceleration structure"
### Functional impact
This bug provides a misleading error message when compiling a shader with a semantic error. This causes lots of confusion and doesn't lead the developer toward fixing the error

### Minimal repro steps
- Write a shader with the HLSL code:
[code]
- Try to compile the shader
- Observe an error message saying that `depth_buffer` and `opaque_as` overlap their descriptors

### Exp

[2022-07-12 22:24] bfavela opened #4550 "Clip/Cull distance with mixed precision aren't separated"
Shader at the bottom of the email generates this output signature, which I've been informed is not honoring packing of fp16 values:

; Output signature:
;
; Name                 Index   Mask Register SysValue  Format   Used
; -------------------- ----- ------ -------- -------- ------- ------
; SV_Position              0   xyzw        0      POS   float   xyzw
; SV_CullDistance          0   x

[2022-07-13 15:09] #4050 closed

[2022-07-13 18:48] pow2clk commented on #3729
Hi @hybridherbst!

You can read more about `SV_Barycentrics` here: https://github.com/microsoft/DirectXShaderCompiler/wiki/SV_Barycentrics

As you can see, there is no mention of it being writable in the vertex shader, which is why it can't be used there. It is not unique in that respect as `SV_IsFrontFace` also has that characteristic: https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/d

[2022-07-13 18:48] #3729 closed

[2022-07-14 19:45] kuhar commented on #4541
Thanks for reporting, @CgGraphic. Would you be able to provide a minimal reproducer with all the definitions necessary to compile it, together with your full compiler invocation command?

[2022-07-15 22:33] kevin4QC opened #4558 "unpack intrinsic name/return type;"
Hi I saw the SM6.6 pack/unpack spec says that the unpacked intrinsic name and return type are:
"
%vec4.i16 = type { i16, i16, i16, i16 }
..
// unpack x0
%x0 = call %vec4.i16 @dx.unpack_u8s16(i32 <op>, i32 %read1)
%x0.0 = i16 extractelement %vec4.i16 %x0, 0
.."

Compiling a simple shader below using dxc-artifacts"
struct VertexIN
{
  int8_t4_packed src : POSITION;
};
struct VertexOUT
{
   int16_t4

[2022-07-18 00:51] TheRealMJP commented on #4545
I wanted to +1 this, since I think it could potentially be really useful. The case that Jeremy mentioned (stripping out VS outputs that are unused by the PS) tends to be very awkward right now with existing tools, which is really just the preprocessor or some other form of code-generation. As an example, say the VS can load a tangent frame from the vertex data and pass that to the PS. In order to

[2022-07-18 01:14] jeremyong commented on #4545
This is a great alternative interface in that while we might lose a bit of compiler throughput, it may actually be preferable in a lot of workflows where you have, e.g. 1 vertex shader that needs to be paired with N pixel shaders (or the less likely inverse case).

[2022-07-19 00:19] python3kgae opened #4561 "dxc should report error when mix packoffset elements with nonpackoffset elements in a cbuffer"
cbuffer CB {
  float a;
  float b:packoffset(c1.y);
}

float main() : SV_Target {
  return a + b;
}

FXC will report error " cannot mix packoffset elements with nonpackoffset elements in a cbuffer"

[2022-07-20 17:49] bob80905 commented on #3584
Closed by https://github.com/microsoft/DirectXShaderCompiler/pull/4562

[2022-07-20 17:49] #3584 closed

[2022-07-22 08:30] SJTU-Lucy opened #4563 "compile error in type conversion"
Hi! Here is roughly what I'm trying to compile from HLSL to SPIR-V using dxc. And I have marked the error below.
[code]
The Errors are:
1. error: too few elements in vector initialization (expected 2 elements, have 1)
2. error: semantic string missing for shader input variable 'uv'
The problem is that I can compile this with glslang without an error, so I wonder what's going wrong.
Are there any o

[2022-07-22 09:41] Jasper-Bekkers commented on #4537
We've also ran into this with our abstractions, and haven't found a nice way around it other then to break them.

Having `globallycoherent` as a type modifier makes sense to me but it would also mean that it needs to be valid on return types.

[2022-07-24 08:13] imhunterand opened #4564 "[CWE-78] Command Injection ()subprocess"
## About issue
Unsanitized input from a command line argument flows into subprocess.Popen, where it is used as a shell command. This may result in a Command Injection vulnerability.

## Endpoint a vulnerable:
[code]
Another a vulnerable code:
[code]

[9e56b51775d817f0eabc524faad84d2943dc22eb/tools/clang/utils/check_cfc/check_cfc.py](https://github.com/EpicGames/DirectXShaderCompiler/tree/9e56b5177

[2022-07-24 08:15] imhunterand opened #4565 "xml.etree.ElementTree is considered insecure"
## About issue vulnerabilities:
xml.etree.ElementTree.fromstring is considered insecure. Use an analog from the defusedxml package.

## Endpoint of vulnerable
[code]
another code is vulnerable:
[code]

Reported💜 by imhunterand

[2022-07-25 08:23] #4563 closed

[2022-07-25 22:08] tex3d commented on #4563
Both of these errors are legitimate errors in HLSL (whether or not glslang allows it).

1. `float2(1.0)` is an error because it is an attempt to initialize a float2 vector from a single scalar value.  While it is possible to do a splat to the vector, that is not supported by the float2(...) constructor syntax.  Furthermore, this `float2` vector will ultimately be assigned to a scalar `float`, so i

[2022-07-26 02:01] SJTU-Lucy commented on #4563
Thank you very much!

[2022-07-27 01:38] TheRealMJP commented on #3281
Hello, has there been any update on this? We just recently hit this issue, and it's preventing us from adopting full bindless for our engine's Vulkan path unless we switch all of these buffers to another type.

[2022-07-27 10:51] shangjiaxuan commented on #3092
Related: #4032 #2191
Seems like specialization constant logic in dxc doesn't propagate constants that can be evaluated early-on?
(earlier shader models seems to recognize #2191)

[2022-07-27 11:14] shangjiaxuan commented on #3092
One suggestion would be detecting `[[xxx]]` attributes in `[numthreads(4, 4, 1)]`, and use the actual numbers as the default number (no current code will be affected). Then the following may be ok:
[code]
Seems a bit hacky though...

[2022-07-27 12:18] shangjiaxuan commented on #3092
Sample assembly from `glslc` compilation of following code:
[code]
Assembly:
[code]
Don't know if `OpSpecConstantComposite` is currently implemented in dxc, also it seems to reference `OpDecorate %gl_WorkGroupSize BuiltIn WorkgroupSize`, things may be easier with a post-processor in this case.

[2022-07-28 17:30] natevm opened #4566 "[SPIR-V] Feature request: use "uniform" syntax to access SBT record data in ray tracing workflows"
Hello,
I'm working on a framework leveraging Vulkan Ray Tracing + HLSL for my shader language. In using HLSL because it supports multiple simultaneous entry points while GLSL does not.

In Vulkan, I can pass buffer addresses through the SBT using vkGetBufferDeviceAddress and the GL_EXT_buffer_reference2 extension, which looks something like this:

[code]

and in OptiX, I simply pass a pointer into

[2022-07-28 17:54] natevm commented on #4566
I wonder if the RawBufferLoad functionality described here could work as a workaround?

https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/SPIR-V.rst#rawbufferload

[2022-07-28 20:42] natevm commented on #4566
Update, seems that the "uniform" syntax I'm used to with slang doesn't work with HLSL RT -> Vulkan. Is this a bug?

The [[vk::shader_record_ext]] with a ConstantBuffer appears to work.

[2022-08-01 09:06] SJTU-Lucy opened #4567 "[SPIR-V] How to keep unused variable"
For some reason, I want to reserve all the variables of a struct although some of them is not used.
The hlsl code is like:
[code]
The current output is like:
[code]
I wonder if there is a way to keep TEXCOORD1, 4, 5, 11.

[2022-08-01 21:18] pow2clk commented on #4567
Hi @SJTU-Lucy!

From the output you provide, it looks like you are using https://github.com/KhronosGroup/SPIRV-Cross? If so, perhaps the bug should be filed there unless you can identify that the spirv backend of DXC is what is removing the unused inputs.

Regardless, I'm tagging this as SPIRV. @vettoreldaniele for visibility

[2022-08-01 21:27] tex3d commented on #4566
Generally, in DXC, uniform parameters to entry points are not supported this way.  This was a change from FXC.  However, DXC doesn't provide good error reporting for this case in the front end.

See #3377 for issue related to error reporting for uniform resource arguments on entry points.

[2022-08-01 21:27] pow2clk commented on #4566
Hi @natevm!

I'm afraid that SPIRV issues are handled by our friends at Google. Tagging @vettoreldaniele for visibility.

Meanwhile, I'm afraid there are a number of problems with the code you've provided. Some of them might be revealed if you try compiling these with a DXIL target just to get the errors. These resources can't be parameters and you'll need an index to access a Structured buffer. U

[2022-08-02 00:36] natevm opened #4568 "[SPIR-V] No vk::RawBufferStore to go along with vk::RawBufferLoad"
Hello,

I am using the vk::RayBufferLoad functionality described here: https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/SPIR-V.rst#rawbufferload

...and it works quite well for reading data from a device address. But now I need to store a result back into that buffer...

Is there anything standing in the way of adding a vk::RawBufferStore too?

[2022-08-02 00:48] natevm commented on #4568
I suspect this pull request which added vk::RawBufferLoad could be used to track what would be required to also support a store.

https://github.com/microsoft/DirectXShaderCompiler/pull/4069

[2022-08-02 02:45] SJTU-Lucy commented on #4567
Hi @pow2clk!
From the .spv file that DXC generates, it could be seen that the variables are already removed.
[code]

[2022-08-02 12:39] danginsburg opened #4569 "[SPIR-V] Presence of vk::RawBufferLoad turns RWStructuredBuffer into AppendConsumerBuffer"
This is a bit of a strange one, but I've been able to narrow it down to a very simple case.  If I have vk::RawBufferLoad<> present in the shader then any RWStructureBuffer is transformed into an AppendConsumeBuffer.  Repro case:

[code]
dxc.exe -spirv -T ps_6_1 -E MainPs -fspv-target-env=vulkan1.2 test.hlsl produces:
[code]

Note the ACSBuffer_counter is generated even though g_Test is a RWSTructu

[2022-08-02 14:14] vettoreldaniele commented on #4567
Hi @SJTU-Lucy!

As suggested by @pow2clk, can you check whether the DXIL backend also removes the unused variables? If that's the case, the SPIR-V backend is likely not the culprit here. If you can, please provide a minimal input shader that we can use to reproduce.

[2022-08-02 14:16] vettoreldaniele commented on #4566
Hey @natevm, As suggested by @pow2clk, it would be useful to start with a shader that works with DXIL to exclude the case where the shader is ill-formed (in that case the SPIR-V backend cannot guarantee to produce correct code).

[2022-08-02 16:54] natevm commented on #4569
I'm out of my element, but have also been looking into using vk::RawBufferLoad. I wonder if this is because using the "SPV_KHR_physical_storage_buffer" and the PhysicalStorageBufferAddresses capability promotes the addressing model to PhysicalStorageBuffer64?

[2022-08-02 17:02] greg-lunarg commented on #4569
I will take a look at this shortly. If someone else starts looking at it, please let me know.

[2022-08-02 18:09] greg-lunarg commented on #4569
At first glance, I noticed that while the ACS counter is "present" in the first SPIR-V, it is not used. There is no code that reads or writes it, it is not a member of the entrypoint interface and it does not have a descriptor set or binding assigned to it.

While I totally agree this is incorrect and should be fixed, I am curious how this is causing you a problem so that I know when it is fixed.

[2022-08-02 18:42] greg-lunarg commented on #4569
I am zeroing in on the problem. DXC (no legalization) is generating the ACS counter for both versions of the shader, although it is not used in either version of the shader. For the shader without the RawBufferLoad, the counter is completely optimized away by spirv-opt  legalization. For the shader with the RawBufferLoad, some of the counter code is eliminated, and some is left.

So it looks like

[2022-08-02 20:30] greg-lunarg commented on #4569
There seems to be two solutions: 1) change DXC (no legalization) to not create the counter at all, or 2) fix spirv-opt so that all traces of the counter variable are removed by legalization when it is not used, even in the presence of RawBufferLoad.

I think 1) is the slightly better solution, so I will pursue that.

[2022-08-02 21:15] sooknarine opened #4570 "Linux build FileNotFoundError - docs/DXIL.rst.tmp"
I noticed a new build error in DXC with the latest July 2022 1.7.2207 release that was not present in the April 2021 1.6.2104 release.
[code]
I can workaround it by doing `mkdir <dxc-build-dir>/docs` i.e. creating the output docs folder in the build dir.

[2022-08-02 23:22] danginsburg commented on #4569
Thanks, @greg-lunarg.  Append/Consume buffers are strange in that each consumes two descriptors: one for the buffer and one for the counter.  The problem for us is as follows:

* When we are creating an append/consume buffer, we create a separate buffer for the counter and bind it in our descriptor set.
* We know whether an append/consume buffer is used by doing reflection on the SPIR-V (there is

[2022-08-03 01:57] SJTU-Lucy commented on #4567
Hi @vettoreldaniele!
I have tested it in DXIL, and it's true that DXIL didn't remove the unused variables. So I think maybe that happens in SPIR-V backend.

[2022-08-03 06:19] SJTU-Lucy commented on #4567
A brief example can be like this:
[code]
When using ps as entry:
[code]
While for vs:
[code]

[2022-08-03 10:30] Keenuts commented on #3730
Hello all!
Saw this one as a quick fix.
Found more occurrences in tools/clang, but unsure if we open edits on this subtree (doesn't look to be a submodule).

[2022-08-03 14:26] s-perron commented on #4567
The dead code elimination pass already has an options to[ preserve the interface variables](https://github.com/KhronosGroup/SPIRV-Tools/blob/54cd5e1963b399e6c6d3c5b70da45583d9f9fed8/source/opt/aggressive_dead_code_elim_pass.h#L47-L48).  However, that options is not exposed in the legalization and optimization passes.  If we want to do this we would:

- [ ] Create a new interface to register the [l

[2022-08-03 14:29] s-perron commented on #4567
@SJTU-Lucy I will not be able to implement this myself, but I can review code if you want to contribute it.

[2022-08-03 17:02] Keenuts commented on #4429
Hello all!

Can reproduce at 7a45cbbf8bab340d212d72c3cfe9f8c5f5837ccf on linux. Will investigate.

[2022-08-03 17:24] Keenuts commented on #4067
Hello!

I can reproduce this one, I'll take a look into it 🙂

[2022-08-03 20:18] pow2clk commented on #4564
These are not files that are used by this project, nor will they ever be. They were inherited from LLVM and even though we don't use them, we kept them around with the idea that they would make merging from upstream easier. Even though that's no longer the plan, we're not going to remove them.

The first check_cfc.py instance seems unaltered in https://github.com/llvm/llvm-project. You might repor

[2022-08-03 20:18] #4564 closed

[2022-08-03 21:11] danginsburg commented on #4569
Hi @greg-lunarg, I can confirm your patch fixes the issue.  Thanks!

[2022-08-04 06:19] SJTU-Lucy commented on #4567
omg thank you very much @s-perron ! This really helps!

[2022-08-04 15:42] hannes-vernooij opened #4574 "[SPIRV] Support WaveSize attribute, it currently has no effect on generated SPIR-V."
https://microsoft.github.io/DirectX-Specs/d3d/HLSL_SM_6_6_WaveSize.html#hlsl-attribute

input:
[code]
output:
[code]

[2022-08-04 17:39] llvm-beanz commented on #3730
I'm a little confused here. That code is inside a block that is only run if your compiler is Clang, so I don't see how you would hit this with GCC.

[2022-08-04 18:19] greg-lunarg commented on #4569
Some additional notes: DXC as it is today **always** creates a counter for RWStructuredBuffer. As seen above, this screws up descriptor allocation and reflection for those apps that do not use the counter.

However, there are two methods for RWStructuredBuffer, Increment/DecrementCounter() which require a counter to be created.

So I am going to need to add logic to DXC which provisionally creates

[2022-08-04 22:33] Ipotrick commented on #3281
Is there any update? I am writing a vulkan abstraction right now and want to use full bindless and hlsl. Not having buffer device adress or arrays of RWStructuredBuffers makes this impossible for dxc with vulkan.
This is a big problem for me, as it would prohibit me from using hlsl.
And i am only asking for spirv output support, i dont see how this would not be possible or any problem, as in spirv

[2022-08-04 23:13] GabeRundlett commented on #3281
How would they have counters? I tried reading up on this but I don't get why they would have counters at all. When translated SPIR-V, RW/Append/Consume StructuredBuffers are supposed to all be the same thing... [as said here](https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/SPIR-V.rst#constanttexturestructuredbyte-buffers). I don't get how the Counter member functions could even w

[2022-08-04 23:14] Ipotrick commented on #3281
A suggestion from me would be to simply make StructuredBuffer readwritable in hlsl when spirv output is enabled. This would be strange, but would enable me to use hlls with vulkan fully bindless.

[2022-08-04 23:26] kuhar commented on #3281
+ @dnovillo to bump visibility

[2022-08-04 23:26] GabeRundlett commented on #3281
according to D3D docs, when creating a buffer in D3D and you want to have these counters, you need to have the flag D3D11_BUFFER_UAV_FLAG_COUNTER set, which is optional and obviously is not applicable to Vulkan/SPIR-V. So RW/Append/Consume buffers probably just should NOT have counters when targeting SPIR-V, and so it should not be an issue.

[2022-08-05 09:24] Keenuts commented on #3730
Yes that is correct, my bad!
Initial comment mentions "after I ran CMake manually inside its cache folder."

[2022-08-05 09:36] #4567 closed

[2022-08-05 13:08] dnovillo commented on #3281
Thanks.  @Ipotrick @Jasper-Bekkers it may be a while until we can get to this, sorry.  We are pretty resource constrained at the moment :(. I will take a look in the coming days.

[2022-08-05 13:36] llvm-beanz commented on #3730
CMake does not support changing the compiler without deleting the build directory and starting over. I'm guessing that's the root of what happened here. If that is the case there is nothing for us to do here, it is a use-case that is unsupported by the build tool we rely on.

[2022-08-05 13:41] llvm-beanz commented on #4548
These optimizations are valid both in C and HLSL, you can see this example here where Clang-14 does the same optimization:

https://godbolt.org/z/4nn4fTsTc

[2022-08-05 13:41] #4548 closed

[2022-08-05 15:13] LukasBanana commented on #3730
@Keenuts thanks for looking into this. I'm on vacation until Monday, so I will look into this next week.
That being said, as far as I remember, `-fdiagnostics-color` is supported in both compilers so I'd consider that the more portable variant to go with.

[2022-08-05 15:16] llvm-beanz commented on #3730
As a note, the official CMake docs say you cannot change the compiler after it is set:
https://cmake.org/cmake/help/latest/variable/CMAKE_LANG_COMPILER.html

The only way I can see this being an issue is if you tried to change the C compiler to gcc after configuring it with clang, which is an unsupported way to use CMake.

[2022-08-05 15:41] Nielsbishere commented on #4548
Interesting, though it's non standard there I think or MSVC ignores the standard again

[2022-08-05 16:02] llvm-beanz commented on #4548
The language standard doesn't dictate required optimizations, it only dictates the rules around final behavior. Any optimization that preserves those rules is valid to perform or not. Both Clang by performing the optimization and MSVC by not performing it are conforming to the C standard.

[2022-08-05 20:07] Ipotrick commented on #3281
Thank you for looking into it. I really appreciate that!

[2022-08-06 01:13] GabeRundlett commented on #3281
@dnovillo Hello! I've been working with Ipotrick on a projec,t and we're using DXC. I took a look at the source and from my little bit of digging, here's what I found. (disclaimer: I'm not familiar with the codebase at all)

first thing I did was make a simple contrived shader example to test with:
[code]
and so I'd build this HLSL with the following parameters:
`dxc ./test.hlsl -spirv -fspv-targe

[2022-08-08 12:38] #3596 closed

[2022-08-08 18:36] #4570 closed

[2022-08-08 19:12] charles-epic opened #4578 "RasterizerOrderedTexture2D initialization fails when placed within a struct"
Hi,

Placing a **RasterizerOrderedTexture2D** resource within a struct and initializing it with a global resource causes an error.

Here is a simple repro of the issue:

[code]

which results into the following output:

D:\local\Temp\629636d9-99d6-453a-a41d-098ffb2b2c95.hlsl:10:2: error: Constant values must be in-range for operation.
note: at '%8 = call %dx.types.Handle @dx.op.annotateHandle(i32

[2022-08-09 00:43] cassiebeckley commented on #4444
I believe I've managed to reduce this to a minimal reproducible example:

[code]

Which when compiled with `dxc -T cs_6_6 -E main -HV 2021 -fspv-target-env=vulkan1.2 -spirv min.hlsl` results in:

[code]

@s-perron could you confirm whether this has the error? I believe it's `OpStore %22 %24` right after the `OpLoad` on the previous line.

[2022-08-09 01:38] #4578 closed

[2022-08-09 14:14] DBouma opened #4583 "Using templates in combination with `globallycoherent` fails to compile"
The use of templates, in particular when used to specify a texture value type, fails to compile.
I'm expecting this to be completely valid as this works without the `globallycoherent` specifier.
But instead this error is thrown:

[code]

Example shader, compiled with `-HV 2021`:
[code]

[2022-08-09 14:45] s-perron commented on #4444
Yes, this contains the invalid code.  The spir-v is the code that I would expect the FE to generate.  There is a pass is spir-v tools that is suppose to replace the `%22` operand in the `OpImageTexelPointer` by `%23`.  I cannot remember which pass I placed that in.

We can discuss the next step, but I would change `g_rwTexture3d` so that is is not an array.  Then I would run the resulting spir-v t

[2022-08-09 22:22] Ipotrick commented on #2181
Is there any update?
In sight of RWStructuredBuffers not beeing supported in array bindings for spirv output, the only real alternative is RWByteAdressBuffer for vulkan users in a bindless model. Without offsetof writing and reading individual fields of a struct becomes very error prone and ugly, as one needs to define the offsets to struct members manually.

[2022-08-10 10:58] Globaloffensive commented on #4583
Since dx7 until dx12 theres no change the base script as well, volunter pls , begging again mam

[2022-08-10 10:59] Globaloffensive opened #4584 "LLVM"

[2022-08-10 18:03] Ipotrick commented on #4569
Currently arrays of RWStructuredBuffer are not allowed for spirv output for (I assume) this exact reason.
The reason stated in another issue was that the creation and tracking for the counters for these arrays rwstructuredbuffers would be very complex and thats why it was not implemented initially.
Yet i would assume that many dont use these counters at all, so it would be a lot better when the co

[2022-08-10 21:03] natevm commented on #4568
Okay, I believe I have this feature successfully implemented in pull request #4573 . I also added some documentation and a unit test. So if we can get that checked and merged in, we can close this issue.

[2022-08-11 07:45] cassiebeckley opened #4586 "[SPIR-V] Compiler crash caused by `OpStore` to an invalid pointer"
While investigating #4444, I found that the following HLSL causes a compiler crash:

[code]

The crash occurs during the optimization pass `eliminate-local-single-block`, which is passed

[code]

and seems to be caused by the call to `OpStore %uint_0 %28`, which is trying to set `%uint_0` (a value of type `OpTypeInt`) rather than an `OpTypePointer`. This code is being passed in at the beginning of

[2022-08-11 16:44] natevm commented on #4566
I was largely confused between the differences with slang-shader's flavor of HLSL and DXC.

I thought in the case of multiple entry points that only one ConstantBuffer with [[vk::shader_record_ext]] could be used. But it appears that I can actually use multiple such buffers with different template types, all in the same program:

[code]

So, just to clarify, this is more a syntax sugar proposal. T

[2022-08-11 16:59] #4444 closed

[2022-08-11 17:29] greg-lunarg commented on #4569
My code now defers creating the counter until Inc/DecrementCounter methods are invoked. If the methods are not invoked, the counter is not created.

I have not tested if this helps #3281. I suspect the solution for that can build on this one. I am imagining that the solution could be to allow arrays of RWStructuredBuffer as long as no Inc/DecrementCounter is called.

[2022-08-11 17:38] greg-lunarg commented on #3281
I have pushed a commit which fixes the related issue #4569.

My code defers creating the counter for a single RWStructuredBuffer until Inc/DecrementCounter methods are invoked. If the methods are not invoked, the counter is not created.

I have not tested if this helps this issue. I suspect the solution for this issue can build on my code. I am imagining that the solution here could be to allow ar

[2022-08-11 19:22] jenatali opened #4588 "SM6.7 MSAA UAVs only include sample count info in the DXIL in annotateHandle instruction args"
Repro: https://godbolt.org/z/YahTzfb8h

This shader has 2 different MSAA UAV types, one with an implicit sample count of 0, and one with an explicit sample count of 4. Accessing these UAVs produces different `annotateHandle` instructions:
[code]

But, the global resource metadata in `!dx.resources` is identical for the two:
[code]
The 1 -> 0 difference is just the binding space. I would've expecte

[2022-08-11 19:32] Ipotrick commented on #3281
Indeed it does not fix the array descriptors for RWStructuredBuffer completely.
Thank you very much for the effort, this is probably allready a big step in fixing this issue.

[2022-08-11 21:13] jenatali opened #4589 "MSAA UAV declarations incorrectly succeed compilation for shader models before 6.7"
https://godbolt.org/z/6hKxPo3TE

Note the compilation targets shader model 6.6 and not 6.7, but compilation succeeds.

[2022-08-12 01:54] baixiaohub opened #4592 "sqrt fp64"
got "warning GFC12D1D9: conversion from larger type 'double' to smaller type 'float', possible loss of data.", when calling sqrt(double).

It seems dxc hasn’t support sqrt fp64, which is commonly used in some math-lib implementations.
https://github.com/microsoft/DirectXShaderCompiler/blob/main/lib/DXIL/DxilOperations.cpp#L73

glsl has supported this op from 4.0. https://docs.gl/sl4/sqrt. (see gen

[2022-08-12 07:32] StarsX commented on #4523
Me too. Gather() is useful for customized bilateral filters. Furthermore, if there could be a method to collect the bilinear weights for the gathered samples, it would be v”much more convenient.

[2022-08-12 18:23] VigneshMohan1698 commented on #1733
@zigguratvertigo I understand this is quite old. But where exactly do you switch it from lib_6_1 to lib_6_3?

[2022-08-13 07:02] VigneshMohan1698 commented on #2601
Hi SakibSaikia. I understand this is an old thread, But I am running into this issue and my shader blob is fine. Did you find any solutions to the error folder which you uploaded previously.

[2022-08-13 17:40] natevm opened #4593 "[SPIR-V] Feature request: Allow constructing RaytracingAccelerationStructure from physical device address"
Hello,

GLSL allows users to construct a `accelerationStructureEXT` from a physical device address, which under the hood uses the `OpConvertUToAccelerationStructureKHR` SPIR-V instruction to convert the address into a ray tracing handle. But currently, HLSL does not specify any constructors to a RaytracingAccelerationStructure.

This is beneficial, as the 64 bit address (obtainable from `vkGetAcce

[2022-08-13 17:56] #4568 closed

[2022-08-14 17:21] Cazadorro opened #4594 "[SPIRV] Incorrect error reported for non uint type template parameter: "error: alignment argument of vk::RawBufferLoad() must be a constant integer""
I'm trying to find the consequences of this feature, https://github.com/microsoft/DirectXShaderCompiler/pull/4226, thought it didn't work with template arguments, but it does, realizing that it only takes uint arguments.  Error reported made it seem like something completely different.
[code]

tried in https://shader-playground.timjones.io/# using

MicrosoftDXC, trunk, cs_6_6, entry point main, ex

[2022-08-14 17:44] Cazadorro opened #4595 "alignof specifier"
With https://github.com/microsoft/DirectXShaderCompiler/pull/4226 knowing alignment has become even more important.  Alignment should be known at compile time from said type.  It would be great to have [alignof](https://en.cppreference.com/w/cpp/language/alignof) specifier like both C and C++ have, allowing wrappers to eliminate alignment from vk::RawBufferLoad calls.

I attempted to create this f

[2022-08-15 10:04] sparkkk commented on #4351
not only for struct members, but the types of unused function parameters would be also removed incorrectly.

[2022-08-15 13:24] Keenuts commented on #4067
Hello!
Update on this: found the reason: DXC doesn't check the SPV version and requests the extension all the time. Fix seemed trivial, but now DXC just drops the generated SPV without errors. Trying to understand why.

[2022-08-15 18:19] shakti-hub opened #4596 "How to remove TAEF dependency to build only the DXC Compiler"
Couldn't find a way to remove TAEF dependency to compile the project, but not the unit tests.
Only the unit tests are based on TAEF, and if we are interested in only compiling the DXCCompiler, there should be a way to remove the TAEF dependency.

[2022-08-15 20:26] pow2clk commented on #4594
Tagging @Keenuts and @cassiebeckley for visibility.  This is a vulkan issue

[2022-08-16 17:18] #4569 closed

[2022-08-16 19:13] cassiebeckley commented on #3667
@pow2clk is it valid HLSL for an array to have a size of zero? I found https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-variable-syntax#name_index_ which seems to say that the array size should be equal to zero, unless I'm misreading it. Is that a typo?

[2022-08-17 06:56] reduf opened #4601 "Incorrect interface implementation created in some cases"
Hi, I'm not 100% sure it's an error on your side, but there is currently something quite weird. Maybe an error on both side!

I ran into a buffer overflow which didn't seem to have buggy code.
When investigating a bit deeper, I found that the following code was writing pass `libDesc`.
[code]

I looked at the code and indeed, it was writing 0xA0 bytes which matches the size of `D3D12_SHADER_DESC`.

[2022-08-17 21:05] SakibSaikia commented on #2181
I'll add my voice to this request as well.

+1

[2022-08-18 11:53] hsiversson commented on #4255
Just curious, was there ever any progress made on this topic?
Not having the ResourceDescriptorHeap available for SPIR-V is pretty much a showstopper for applications built with true bindless architecture, wanting to target Vulkan using DXC. You'd have to build large workarounds or manage additional root signatures and descriptors otherwise.

[2022-08-18 14:43] #4429 closed

[2022-08-18 20:45] llvm-beanz commented on #4331
After further discussion within the team. Supporting generating source from template instantiations would be a significant amount of tooling effort and is not consistent with how C++ templates are defined. If this is a use case you need, I suspect templates are not the right approach for your use case.

[2022-08-18 20:45] #4331 closed

[2022-08-19 11:22] oscarbg commented on #2821
+1

[2022-08-19 22:21] pow2clk opened #4605 "RasterizerOrderedByteAddressBuffer doesn't accept templated Load/Store"
The admittedly terse documentation of ROV types indicates that they can be used just like their RW* counterparts: https://docs.microsoft.com/en-us/windows/win32/direct3d11/rasterizer-order-views#implementation-details
"Use these objects in the same manner as other UAV objects (such as RWBuffer etc.)."

Even though "similar" might be doing a lot of extra work here, it seems reasonable to expect tha

[2022-08-20 17:27] tex commented on #4331
@llvm-beanz Pinging the tex you wanted :) @tex3d

[2022-08-22 00:15] code-monkey-101 opened #4607 "Validation error for depth pass vertex shader with no pixel shader"
I'm getting this with DXIL.dll version 101.7.2207.10 that comes with PIX 2208.10.

The shader compiles fine with older versions of DXIL.dll (e.g. 101.5.2010.3).

[2022-08-22 02:11] code-monkey-101 commented on #4607
Sorry, turned out to be caused by a version mismatch between dxcompiler.dll and dxil.dll.

[2022-08-22 02:11] #4607 closed

[2022-08-22 09:59] SJTU-Lucy opened #4608 "[SPIRV] How to generate global variables independently in SPIR-V"
Are there any way to generate global variables independently, instead of putting them together in type.$Globals.
I have tried to use the following code:
[code]
To replace this code in `createExternVar`
[code]
But an error occurs:
[code]
I don't really know how to solve it. So I wonder what's the right way to do so. Thanks!

[2022-08-22 11:40] AndreiVikarchuk opened #4609 "[SPIR-V] Cannot start a block before ending the current block with IngoreHit and AcceptHitAndEndSearch"
When compiling for spir-v, the spirv-cross recognized the code with errors, when the shader contains `IgnoreHit `and `AcceptHitAndEndSearch`. The error thrown is `Cannot start a block before ending the current block`.

Steps to reproduce:
1. Compile the minimal example below (or a test shader from [anyhit test from DX compiler repo](https://github.com/Microsoft/DirectXShaderCompiler/blob/main/tool

[2022-08-22 13:13] QuantumDeveloper opened #4610 "Provide callback for custom include handler"
I am using C# bindings for DXC and I faced with an issue using default include handler. While is tandard case its working fine, its completely failing wheh using from Source Generators. There is no way I could make it work and the only variant was to preprocess sources and manually include sources in shader file.
So, I wish to have simple way to make custom include handler like it was done in Shad

[2022-08-22 17:59] pow2clk commented on #2753
Looks like @gongminmin fixed this. Thanks!

I'd ask the reporter to verify, but they've turned into a ghost 😕

[2022-08-22 17:59] #2753 closed

[2022-08-22 18:25] pow2clk commented on #2888
@python3kgae fixed this with #3483

[2022-08-22 18:25] #2888 closed

[2022-08-22 19:17] pow2clk commented on #4610
Hi @QuantumDeveloper!

I'm a bit confused by your message. I don't know what you mean by "from Source Generators". Regardless, there is a way to provide a custom include handler using C++ at any rate as can be seen in a test example here: https://github.com/microsoft/DirectXShaderCompiler/blob/940df03ceb03eac0c58bf953f8280cf1ada97ac8/tools/clang/unittests/HLSL/CompilerTest.cpp#L64

Can you elabora

[2022-08-22 19:29] pow2clk commented on #4601
Hi @reduf!

Compute shaders can definitely generate reflection. However, they cannot be used to create library reflection unless they were compiled with a `lib_6_*` target. The fact that the shaderkind is marked as compute suggests that maybe it wasn't? If it was, then that would be a bug we should address.

[2022-08-22 19:37] pow2clk commented on #4608
Marking as a SPIRV issue since that's the thrust of it. Tagging @keenuts and @cassiebeckley for visibility.

In HLSL, constants (uniforms in GLSL speak), have to be part of a constant buffer. If you don't provide one, you get $Globals, the default. If you want to create your own, you are perfectly free to do so. For example:

[code]

If you want constants outside of cbuffers, that is not allowed.

[2022-08-22 19:38] QuantumDeveloper commented on #4610
Hi @pow2clk
As I mention in my first post, I am using C# bindings to DXC and I simply cannot do like this, because C# has some limitations working with structs (no inheritance in C#) and especially COM objects.

[2022-08-22 19:50] pow2clk commented on #4610
Thanks @QuantumDeveloper,

I suspected this might be related to the use of C#, but I'm not very familiar with that language. I wanted to make sure we were on the same page and now we are.

We'll consider this feature request

[2022-08-22 20:03] pow2clk commented on #1534
Fixed by #1783

[2022-08-22 20:03] #1534 closed

[2022-08-22 20:03] llvm-beanz opened #4611 "Rename `/P` to `/Po` and match `cl.exe` `/P` behavior"
DXC's `/P` flag doesn't match the behavior of `cl.exe`, which many other DXC flags do. Perhaps we can rename `/P` to `/Po` to preserve the existing behavior and make `/P` behave as `cl.exe`.

[2022-08-22 20:21] QuantumDeveloper commented on #4610
@pow2clk
Just wish to have more cross-platform (cross-language) and user-friendly way of creating custom include handlers.
Hope you`ll approve this feature request.

[2022-08-22 23:03] pow2clk commented on #3667
Hi Cassie!

It is valid, but it was introduced somewhat unceremoniously. Initially it was a regression from FXC, which forbade this, but ultimately, we chose to make it official since the restriction no longer made sense. See #2461.

I think you are referring to this part of the documentation?

    Name[Index]

    ASCII string that uniquely identifies a shader variable. To define an optional arra

[2022-08-23 02:03] SJTU-Lucy commented on #4608
Hi @pow2clk !
What I have tried to do is to generate uniform variables in target code.
For example `uint2 globix` would be transformed to `uniform uint2 globix`. So since DXC generates all the global variables in `$Globals`, I should try to extract them in `SPIRV->target code` process?

[2022-08-23 05:07] ghostplant opened #4612 "Does DXC support __umulhi(int32, int32)?"
Does DXC support `__umulhi()` intrinsic?
We want to use cheap int32 register for int64 related computation for highest 32-bit values.

[2022-08-23 11:40] Nielsbishere opened #4613 "Stricter typecasting option / prevent this implicit cast"
It seems like the following is allowed:
[code]
Where 123 could also just be a uint value.
Both would work, but only one would be right. I request a stricter implicit cast option or a fix for these casts since they're two indirections (cast from uint to float to float4x4 I'm guessing and the opposite as well).
This could also be useful to implicit casts between vectors as well, as detecting this as

[2022-08-23 16:40] simontaylor81 commented on #3016
Looks like this issue has re-appeared, unfortunately. I just tried the exact repro listed above with the head commit as of now, and it hangs again (didn't debug it in depth, but callstack looked basically the same).

Note that I implemented a workaround for this locally which worked, but this reappeared in a different place. So I'm afraid I don't have any information as to when it might have regre

[2022-08-23 17:18] pow2clk commented on #3016
☹️

Sorry about that.

I guess that's what I get for including my simplified version instead of the original repro in the test suite. It will be easier for us to track if you create a new bug since it's possible the cause is different, and it will pop it to the top of our metrics.

[2022-08-23 17:50] pow2clk commented on #4608
Those are the kind of questions that are better for the SPRIV developers I tagged above. I don't really do SPIRV, but I thought I'd try to help out with suggestions on how to get the existing compiler to do what you want. Good luck!

[2022-08-24 06:14] reduf commented on #4601
It indeed doesn't seem to be computed with `lib_6_*` target. It seems that it was with `cs_6_0`, but I'm not 100% on that.

On our side, we could fix/mitigate the issue (depending whether it was only a bug on our side or not) by simply not getting the reflection for the compute shaders which we didn't need anyway.

The main reason why I ended-up creating the bug is because I found it quite weird t

[2022-08-24 06:50] simontaylor81 opened #4614 "Assert/hang in SROA_HLSL pass related to empty base struct regression"
#3016 seems to have reappeared. Unknown if it is exact same issue or just similar, but symptoms and general area of code are the same, at least.

Repro is unchanged:

Compile the following with `-E main -T vs_6_0`:

[code]

[2022-08-24 06:50] simontaylor81 commented on #4614
CC @pow2clk -- new issue as requested

[2022-08-24 11:21] AndreiVikarchuk commented on #4609
Was a SPIRV-cross update matter.

[2022-08-24 11:21] #4609 closed

[2022-08-24 13:06] maoenpei opened #4615 "DXIL debug locations do not respect #line directives"
Hi, I'm working on a profiling tool that requires DXIL -> HLSL line mapping for low-level to high-level counters aggregating. However after dxc validator version >= 1.6, the debug locations from DXIL do not respect #line directives anymore. I think this issue is introduced from https://github.com/microsoft/DirectXShaderCompiler/pull/2991.

The HLSL source is also extracted from DXIL bytecode. When

[2022-08-24 17:05] pow2clk commented on #4601
I'm not sure at what point you feel that the wrong implementation is created. In the code above, the struct you are using is `ID3D12LibraryReflection`, but if the shader you are trying to fill it with from `reflectionData` is a compute shader, then you are using the wrong reflection. You need `ID3D12ShaderReflection`. The shader determines which is created and it created the right one for a comput

[2022-08-25 06:26] reduf commented on #4601
Well, the type `ID3D12ShaderReflection` is created which as you mention is the good implementation considering the other parameters, but what I find strange (and the main reason for this issue) is that the callee seems to ignore the uuid which as far as I understand, mostly serve the purpose on telling which type was actually passed in.

My assumption was that `CreateReflection` would return an er

[2022-08-25 09:38] #4608 closed

[2022-08-25 14:16] vettoreldaniele commented on #4574
Hi Hannes,

Thanks for reporting this. Yes it does look like we haven't implemented `WaveSize(X)` yet, however we do have a workaround: you can use `vk::ext_execution_mode(35, X)` to set `SubgroupSize` in SPIR-V.
[code]

We'll look into implementing `WaveSize`.

[2022-08-25 16:39] vettoreldaniele commented on #4574
After looking at this more closely, unfortunately I don't think there's much we can do on the SPIR-V side. There's no way to set the subgroup size from the SPIR-V side for Vulkan shaders.

Vulkan does have an extension, which is core in 1.3, to set the subgroup size (https://registry.khronos.org/vulkan/specs/1.3-extensions/man/html/VK_EXT_subgroup_size_control.html). In DirectX, `WaveSize` sets th

[2022-08-25 17:45] jenatali opened #4616 "DxilModule::m_bResMayAlias can be uninitialized"
In the case where the DXIL module is being loaded, if no shader flags are present in the module (`rawShaderFlags` is zero), then `m_bResMayAlias` is never assigned. This causes problems when using the DXIL validator to validate SM6.7 shaders that were compiled with resource aliasing *enabled* (since the default of disabling aliasing produces the no-aliasing shader flag) and no other flag-requiring

[2022-08-25 19:05] llvm-beanz commented on #3402
Hey @seanbaxter, the changes to DXC's LLVM are a bit intrusive and supporting using that LLVM from another frontend has not been one of the design goals.

Supporting DXIL generation from generic LLVM constructs _is_ a primary design goal of our efforts in the upstream llvm-project's experimental DirectX target (although that effort is just barely started).

The DXC engineering team is not going to

[2022-08-25 19:05] #3402 closed

[2022-08-25 22:39] hekota commented on #4596
The tests are included when HLSL_INCLUDE_TESTS cmake option is set to ON, which is the default. We do not surface this option in hctbuild.cmd though. You can try disabling the tests by setting HLSL_INCLUDE_TESTS to OFF.

Find this line line utils\hct\hctbuild.cmd and replace ON with OFF:
`set CMAKE_OPTS=%CMAKE_OPTS% -DHLSL_INCLUDE_TESTS:BOOL=ON`

Let me know if it works!

[2022-08-25 23:02] #4616 closed

[2022-08-26 03:55] syddf opened #4619 "How to get thread group size and output primitive topology in MeshShader?"
I tried ID3D12ShaderReflection::GetThreadGroupSize, but got 0, 0, 0 all the time
And I can't find the primitive topology output for mesh shader

[2022-08-26 19:40] natevm opened #4620 "[SPIR-V] vk::RawBufferStore fails to store fields of a struct at correct offsets"
I noticed this issue today with the current implementation of vk::RawBufferStore.

Given this code:

[code]

The resulting data in the buffer becomes
[code]

So, vk::RawBufferStore doesn't seem to consider offsets when storing fields of a structure, and any struct field just ends up at the beginning of the struct.

Interestingly, if I replace a, b, and c with a single `int3`, then I do not see thi

[2022-08-27 14:26] unit-a-user commented on #4408
Currently, it released?

[2022-08-28 00:55] natevm opened #4621 "[SPIR-V] mixed entry points reference unsupported BuiltIns in interface list"
I'm trying to replicate a CUDA/OptiX workflow with HLSL, and I ran into this issue while mixing a compute entry point and a closest hit entry point together in the same device program...

A bit of background, I want to use the compute entry point to fill in the instance buffer required for a TLAS build, so that I can update instance transforms in real time. Then, I use a closest hit program to int

[2022-08-28 18:20] natevm commented on #4621
it’s possible that this pass in SPIRV-Tools can repair the incorrect SPIR-V entry points generated by DXC, but I’m not sure.

https://github.com/KhronosGroup/SPIRV-Tools/pull/4275

#3789 is a good reference issue that appears to be running into a similar limitation with DXC.

@jaebaek since you were on the previous issue, do you know what might be required to correct the interfaces of each entry p

[2022-08-28 20:02] TheArheus opened #4622 "hctbuild problems with building with -spirv"
Hello. I am trying to build program with command utils\hct\hctbuild -x64 -vs2022 -rel -official -spirv, but I have issues with it. I am building on Windows 11. There is a building error like this:
"""
CMake Error at external/CMakeLists.txt:20 (add_subdirectory):
  The source directory

    C:/DirectXShaderCompiler/external/SPIRV-Headers

  does not contain a CMakeLists.txt file.

CMake Error at ex

[2022-08-28 22:40] natevm commented on #4622
SPIR-V headers should go in the SPIR-V tools directory under the “externals” folder. That’s odd though, I don’t believe I had to do this sort of manual configuration with my setup. I’m also on Win 11

[2022-08-28 22:44] natevm commented on #4594
It seems like the solution to this could be to just change the compiler error message to

“alignment argument of vk::RawBufferLoad() must be a constant unsigned integer”

Am I understanding correctly? That seems like an easy enough change.

[2022-08-29 16:57] TheArheus commented on #4622
Well, I've tried different things, like: copying spirv-headers directly to the build directory, build spirv-tools, install spirv-tools and spirv-headers with vcpkg. Not a single thing worked for me and I don't understand, what I should do here. I with there was more comprehensive guide how to correctly do the things here

[2022-08-29 20:13] #4601 closed

[2022-08-29 20:27] pow2clk commented on #4622
Really thought we used to have proper documentation for this in the readme. Nevertheless, I've always had to add the submodules manually. You can go to the external/ dir and execute
[code]
and you should be good to go!

@natevm, we should add this information to the Readme. We might also consider making this more automatic. I was looking into another way of adding submodules that would make a lot

[2022-08-29 22:11] adam-yang commented on #4615
Hi! Thank you for the bug report! I need some clarifications:

1. Do you mean the sources you display in the tool UI is the sources you retrieve from the DXIL?
2. Do you manually process the source from DXIL into virtual files based on the #line directives?

[2022-08-30 05:55] TheArheus commented on #4622
I got it. Now that worked pretty fine. Sorry for being rude, but that was just my stupidity fault, who somehow totally forgot about submodules. Thanks, now everything builded correctly

[2022-08-30 06:58] maoenpei commented on #4615
Thanks.
1. It depends on our user (the programmer of the application). If user provides DXIL bytecode with embedded HLSL source, we need to extract the source and display that (better to display virtual files but with the described issue we have to display the unprocessed source). We also support individual files through specifying pdb search folder in the tool, but that's a different case. (I hav

[2022-08-30 11:32] siliconvoodoo opened #4625 "Access violation on variable with initializer if type is qualified"
code:
[code]
Effect:
![image](https://user-images.githubusercontent.com/25970839/187426089-44dede47-59d7-4160-9fb1-cd735b7120fe.png)

[2022-08-30 17:00] pow2clk commented on #4622
@TheArheus, Happy to hear it! It's a good note that we need better docs in this area.

[2022-08-30 19:22] natevm commented on #4622
Ah, yeah, agreed. This should be documented. By habit I tend to add --recursive to my clone commands, and forgot that I did that here...

[2022-08-30 19:23] natevm commented on #4621
It seems this repair pass is actually unavailable in SPIRV-Tools, so this is still a breaking issue with dxc unfortunately.

[2022-08-30 22:58] gracejennings commented on #1514
Hi @matt77hias, thanks for reaching out!

The `-Wconversion` flag enables warnings for conversions and will turn on the float -> int conversion like with C++. Please respond if this doesn't answer your questions or if this doesn't work for you

[2022-08-30 22:58] #1514 closed

[2022-08-30 23:17] Sergio0694 opened #4627 "Constant buffer with T[2] unbounded buffer size compiles and runs, but is undefined behavior"
Consider this HLSL shader:

[code]

This compiles just fine with DXC, and it's using that `T[2]` field to effectively specify a dynamically sized constant buffer. I'm currently loading this with a constant buffer (`D3D12_HEAP_TYPE_UPLOAD`, `D3D12_RESOURCE_FLAG_NONE`, `D3D12_RESOURCE_STATE_GENERIC_READ`) which I then create a constant buffer view for. I'm binding it to the shader root signature nor

[2022-08-31 03:13] adam-yang commented on #4615
Thanks for the response.

We intentionally made the debug info to point to files in the PDB instead of their #line directives. Our GPU debugging tool currently always displays the sources from the PDB/DXIL and relies on the debug locations to match. In the past, our debug locations respected the #line directives and the tool had to either construct virtual files, which was unreliable; or locate fi

[2022-08-31 05:09] maoenpei commented on #4615
Yes, it's possible and we considered this as a candidate solution. But this looks like a WAR on another WAR and we need to make totally different code path for DXIL debug info processing. So the first priority is to fix an issue at where the issue appear (in this case the dxc compiler), for 2 main reasons:
* As that I've mentioned, a regular compiler should always respect "#line" directives. dxc i

[2022-08-31 07:39] xander890 opened #4628 "Compiler crashes with ternary operator on matrices with 2021 HLSL enabled"
The newest released version of the compiler (July 2022) crashes on the ternary select operator ?: on matrices, when the -HV 2021 argument is passed.

We know this needs to be replaced by the new select() keyword, but this bug really hinders transitions from legacy code, since it's very hard to spot where the error actually is. Also, this is bad for people accidentally coding in the old convention,

[2022-08-31 09:54] siliconvoodoo opened #4629 "Internal llvm::cast<X> due to particular combination of class fields and methods"
(reduced to minimum crashing example) code:
[code]

Effect:

[2022-08-31 21:18] adam-yang commented on #4615
We do ensure the #line directives are respected when it comes to error messages. We consider this the main use-case of #line directives.

We have partner teams whose products depend on the current behaviour. All the teams involved will have to make non-trivial changes to accommodate if #2991 were to be reverted.

The GPU debugging tool that we support only displays the raw source submitted to the

[2022-09-01 05:19] Jason-YJ opened #4632 "How to export the ast information"
I'm new to complier.
I want get the ast of shader and I've succeed in using dxc.exe to output the ast in the command window, but the "-Fo" parameter seems doesn't work while I wrote command like
![image](https://user-images.githubusercontent.com/71368398/187836252-9f457b67-bef6-46e6-9737-ec3c8b130320.png)
I wonder how to output the ast information.

In fact, my core aim is to do somthing to the as

[2022-09-01 14:32] LukasBanana commented on #3730
Apologies for the late response. I was hoping to change this to a unified command line argument instead of having different ones for different compilers/environments, but since this might be a configuration problem on our side, I'm fine with closing this ticket.

[2022-09-01 20:16] cassiebeckley commented on #4632
I'm not sure if there is an option to dump the AST to a file, but, as a general rule, you can redirect standard output on the command line to a file using the `>` symbol. For example, you can run

[code]

[2022-09-02 06:28] Jason-YJ commented on #4632
Emm...You recommand help me avoid the manual ctrl +c/v operation, but it will be better if I can get the ast information in the pipeline.
I tried to write code it the "LoadAssets()" funciton of the d3d12 official sample project "hellotriangle"  like this,
![image](https://user-images.githubusercontent.com/71368398/188071960-d5173a21-4b74-437c-bbd8-57c2a183d1f5.png)
 It works at least, but I can on

[2022-09-02 08:05] bioglaze commented on #4628
This looks similar to a bug I reported earlier: https://github.com/microsoft/DirectXShaderCompiler/issues/4434

[2022-09-03 18:16] TheArheus opened #4636 "[SPIRV] Validation Error on 16 bit data storage even after enabling extension"
I wanted to use 16bit data storage extension, but I encountered validation error even though I have enabled extensions.
I am building shader with this command:

`C:\DirectXShaderCompiler.bin\Debug\bin\dxc.exe -spirv -T ms_6_5 -E main ..\shaders\object.mesh.hlsl -Fo ..\shaders\object.mesh.spv -enable-16bit-types -fspv-target-env=vulkan1.2 -fspv-extension=SPV_NV_mesh_shader -fspv-extension=SPV_KHR_1

[2022-09-03 18:32] TheArheus opened #4637 "Support for 8 bit storage extension"
That seems there is no 8 bit data storage extension right now. Maybe there are plans to add support for VK_KHR_8bit_storage extension, so in shader I could write something like this:
[code]
If so, then maybe add flags like -fspv-extension=SPV_KHR_8bit_storage and -enable-8bit-types. Thanks

[2022-09-05 03:10] Jason-YJ commented on #4632
Besides, is there any way to transform the ast info back to the compiler to get the SPIR-V so that I can do the rendering on the new ast info.

[2022-09-07 03:00] cassiebeckley commented on #4632
I'm a bit new to dxc so I don't know for sure, but from looking at the documentation I can find for the COM interfaces you're using (https://github.com/microsoft/DirectXShaderCompiler/wiki/Using-dxc.exe-and-dxcompiler.dll) I suspect you won't be able to use it to get the AST. Instead, you'll probably have to link directly to the parser library. I think others have used Clang for source-to-source t

[2022-09-07 07:32] avennstrom opened #4640 "Internal compiler error when targeting spirv"
Sometimes when targeting SPIRV the compiler crashes instead of outputing warnings.

The following shader contains an error, a `float` is passed to a `inout float3` argument.

[code]

Compiling to DXIL produces the expected error:
[code]

Targeting SPIRV crashes the compiler:

[code]

Tested on version:

[code]

[2022-09-07 09:30] Jason-YJ commented on #4632
Luckily, I found the problem while output the ast in the d3d12 sample pipeline. I used the wrong initial function to load the hlsl file.....
Now, the question is how to convert the ast back to the compile process to get the corresponding bytecode....

[2022-09-07 16:46] chaoticbob commented on #3186
Possible dup of #3649?

[2022-09-08 20:23] BeastLe9enD commented on #4620
@natevm At the moment, loading structure data is not supported. See #4289

[2022-09-08 20:38] natevm commented on #4620
@BeastLe9enD

Sure, but the issue there is different. The issue there assumes we’re using a sophisticated memory layout for the struct. In most all applications I’m aware of, this isn’t the case.

We should be able to load normal structs of data by simply copying over sizeof(struct) contiguous bytes of data.

[2022-09-09 20:56] natevm commented on #4637
+1. It would be really helpful to have an official means of representing 8-bit types.

[2022-09-12 16:47] greg-lunarg commented on #4500
Closed by #4630

[2022-09-12 17:09] #4500 closed

[2022-09-12 20:06] Keenuts commented on #4625
Thanks for the report 🙂

Steps to reproduce:

[code]

With the content of the given code in repro.hlsl.
Without the full qualification, the compilation fails due to a missing entry point definition (expected). With full qualification, segfault.

Backtrace:
[code]

[2022-09-12 21:06] pow2clk commented on #4628
Confirmed that the pending fix for #4434 will fix this issue too. We've renewed our attention to that fix. In the meantime, I'll close this as a dupe.

[2022-09-12 21:06] #4628 closed

[2022-09-14 02:52] siliconvoodoo opened #4648 "unsigned int{16,32,64}_t at global scope causes Segfault (attempted to read from 0x8)"
`unsigned int16_t g;`

result

Qualifiers (static, extern...) don't change the observable behavior.

[2022-09-14 15:05] LukasBanana opened #4649 "Rewriter does not remove unused templates"
UE5 relies on the DXC rewriter for several shader backends and we recently discovered that the rewriter does not remove unused templates as shown in the following example:
[code]
The rewriter generates the following code:
[code]
This results in an undefined identifier `Foo` because that global variable has been removed but not the template. MSVC evaluates templates differently but since DXC is bas

[2022-09-14 22:12] acmarrs-nvidia commented on #3313
Can we reopen this one? I am able to repro this issue when compiling a ray tracing closest hit shader. Perhaps I'm hitting one of the invalid combinations, but I hope not since the combination I have should be valid.

Compiling HLSL to SPIRV declaring SM6.6 and Vulkan 1.2 (`-fspv-target-env=vulkan1.2` and `lib_6_6`).

[code]

[2022-09-14 22:43] acmarrs-nvidia commented on #3313
Actually, false alarm. Moving to a newer version of DXC fixes the issue and I can confirm that this in fact does work as expected 🎉

[2022-09-15 02:24] yuriy-odonnell-epic opened #4655 "Hang/crash on shutdown when using dxcompiler dll with custom memory allocator"
Hi,

We've hit an issue when trying to use the allocator override API. Our shader compiler process hangs on shutdown:

[code]

It appears that the culprit may be the hash table in ShaderModel::Get(). Presumably, the static gets allocated while global allocator is active and destroyed at static destruction time, after `DxcSetThreadMallocToDefault()`.

While perhaps a more comprehensive / robust sol

[2022-09-15 09:37] Jason-YJ opened #4657 "Can I start compile using AST?"
I want to call the compile function when starting with ast information.
I read code and found some function maybe useful for my need like "ASTUnit::LoadFromASTFile". But I don't know how to use it to change the current dxc pipeline.
I found https://github.com/microsoft/DirectXShaderCompiler/issues/216 talked about transform ast to SPIR-V, unfortunately I only want to get dxil for d3d12.

[2022-09-15 19:17] #4067 closed

[2022-09-15 19:41] danginsburg opened #4659 "[ SPIR-V ] Assert compiling AMD Fidelity FX Screen Space Reflections shader with min16floatN, fails to generate code"
I am using dxc built to commit d6eb722516b9cd0b5303c88833f393861d0879c2

I am getting the following assert trying to compile a shader from the AMD Fidelity FX SSSR sample:

[code]

Repro:
1. Download https://github.com/GPUOpen-Effects/FidelityFX-SSSR/releases/download/v1.3/SssrSample-v1.3.zip
2. Unzip and go to sample\bin\ShaderLibVK
3. Run: ```dxc.exe -T cs_6_2 -spirv -enable-16bit-types -fspv-ta

[2022-09-15 19:51] danginsburg opened #4661 "[SPIR-V] Failure generating shader debug info for AMD Fidelity FX Screen Space Reflection shader"
I am using dxc built to commit https://github.com/microsoft/DirectXShaderCompiler/commit/d6eb722516b9cd0b5303c88833f393861d0879c2

This is the same shader as issue #4659 but a different problem.  Using -fspv-debug=vulkan-with-source causes an LLVM assert at d6eb722516b9cd0b5303c88833f393861d0879c2 and in a local build with @greg-lunarg I get:

[code]

@greg-lunarg - I suspect when all your changes

[2022-09-16 02:58] cassiebeckley commented on #4661
The SPIRV-Tools version has to be updated manually, I can do that if it's needed

[2022-09-16 08:07] cassiebeckley commented on #3281
I've opened a PR that attempts to address this issue (#4663). I'd appreciate any feedback you all might have.

[2022-09-16 10:44] mcbouterse opened #4664 "Internal compiler error on nested switch statement when targeting SM 6.6"
Hi, I have encountered an internal compiler error when using nested switch statements. The compiler gives me the following error:

`Internal compiler error: access violation. Attempted to read from address 0xFFFFFFFFFFFFFFE8`

Here is a minimal shader that reproduces the issue:

[code]

When compiling with /Tcs_6_6. Targeting a lower shader model, I don't get this issue. I hope this is enough info

[2022-09-16 20:03] TheMostDiligent opened #4666 "Variable has incomplete type 'SamplerState [2]'"
Hello! I have a function in the shader that takes an array of textures and samplers (for ray tracing). It looks like this:

[code]

This function and the shader used to work just fine, however, with the latest version of DXC it fails with the following error:

[code]
Is this a regression or am I missing something about sampler arrays?

[2022-09-19 06:40] mcbouterse commented on #4664
I should probably add that this issue was encountered using the July 2022 release of DXC.

[2022-09-19 10:30] #4169 closed

[2022-09-19 17:21] #4141 closed

[2022-09-19 20:26] #4632 closed

[2022-09-19 20:28] pow2clk commented on #4657
Hello again @Jason-YJ!

Correct me if I'm wrong, but I think this bug is an individual form of were the discussion in #4632 ended up. As such, I refer you to my last comment there https://github.com/microsoft/DirectXShaderCompiler/issues/4632#issuecomment-1251513980 . I'm afraid this isn't something that the compiler supports. The use of AST to generate SPIRV is an internal implementation detail,

[2022-09-19 20:28] #4657 closed

[2022-09-19 20:59] pow2clk commented on #4648
Well, that's unfortunate. 😣

Just in case you're unaware, the expected way to get an unsigned 16-bit integer is to use `uint16_t` which worked when I tried it. Obviously we shouldn't crash with this usage, but just in case this is blocking you I hope that helps.

[2022-09-19 21:02] pow2clk commented on #4664
Thanks for the report @mcbouterse!

We'll look into this. In the meantime, you can work around this issue by using the `-disable-lifetime-markers` flag

[2022-09-20 01:43] siliconvoodoo commented on #4648
Thanks. It's ok it doesn't block me, I'm just here to be your nemesis :p

[2022-09-20 02:15] cassiebeckley opened #4673 "Cannot use `select` intrinsic with SamplerState"
The [blog post announcing logical operator short circuiting](https://devblogs.microsoft.com/directx/announcing-hlsl-2021/#logical-operator-short-circuiting) seems to suggest that the new `select` intrinsic should behave the same as the ternary operator used to prior to HLSL 2021. However, it does not allow selection between two different `SamplerState`s.

For example,

[code]

compiles, but

[code

[2022-09-20 08:37] Jason-YJ commented on #4657
Thanks, but I'm not going to transform the ast to SPIR-V. What I need is to transform the ast to bytecode in d3d12, like DXIL.

[2022-09-20 14:32] jeremyong-az commented on #2537
Hi DXC team!

I was curious if there was any progress on this front since this flag (if it worked) would be of great help for those of us that still have `cbuffer` usage.

[2022-09-20 22:03] #4655 closed

[2022-09-21 17:11] #4148 closed

[2022-09-22 08:13] Jason-YJ opened #4681 "Why support of compiling from ast discarded?"
I found some interface for compiling from ast to dxil which were noted like following. I wonder if it still works cause I'm interested in compilation from my ast file to dxil bytecode.
![image](https://user-images.githubusercontent.com/71368398/191692683-8bd98563-82a7-4211-912b-41a2971a4168.png)

[2022-09-22 20:13] tex3d opened #4683 "Missing warning for implicit cast to signed int from literal > max int"
Generally, implicit casts from literal values that don't fit into the range of a target type will produce a warning and tell you the different value that will actually be used (based on truncation, etc...).

Here's an example:
[code]

However, if the value is larger than the maximum positive value for a signed int, but fits into the equivalent bit-sized unsigned value limit, no such warning is emi

[2022-09-23 19:38] jasilvanus opened #4686 "[HLSL 2021] Raytracing: Bitfields in payload structs with payload access qualifiers"
HLSL 2021 introduces bitfields in structs, for example as in

[code]

Independently, from shader model 6.6 on, ray tracing payloads can be access-qualified to restrict payload field lifetime and reduce register pressure: https://microsoft.github.io/DirectX-Specs/d3d/Raytracing.html#payload-access-qualifiers

It is however not clear whether bitfields in payload structs are allowed.
It seems the cur

[2022-09-26 08:36] mathforlife83 commented on #2537
@tex3d Any comment on this thread, is it better for users to abandon cbuffers and close this issue, or is it planned in the future to fix it?

[2022-09-26 21:34] llvm-beanz commented on #4681
Clang's support for consuming serialized ASTs is used for precompiled headers and C++ modules, neither of which are features supported by HLSL.

AST serializations are also not stable across compiler versions, as such we don't want to support it as an interface since the support burden would be significant.

[2022-09-26 21:34] #4681 closed

[2022-09-26 21:43] pow2clk commented on #4686
Hi @jasilvanus!

Thanks for the very clear bug report!

We've shied away from combining bitfields with HLSL-style colon annotations such as these and semantics for HLSL2021. We recognize that these could be useful in cases such as these, but it's outside the scope of HLSL2021.

We would like to introduce a new way of denoting those annotations that will be compatible with bitfields in a future lan

[2022-09-26 21:45] pow2clk commented on #4673
Just a note that we will need to fix this for DXIL generation as well 😣

[2022-09-27 07:18] jasilvanus commented on #4686
Hi @pow2clk,

explicitly forbidding access-qualified bitfields and thus erroring out is completely fine from my side. I had no intention to use the combination; rather, I was worried about the unclear specification status.

Thanks!

[2022-09-27 17:31] santorac opened #4691 "Crash On Incorrect Data Type Passed To Function"
### Title
Crash On Incorrect Data Type Passed To Function

### Functional impact
It is difficult to track down the incorrect shader code because error messages are not reported.

### Minimal repro steps

[Skin_ForwardPass_dx12.hlsl.prepend.txt](https://github.com/microsoft/DirectXShaderCompiler/files/9658397/Skin_ForwardPass_dx12.hlsl.prepend.txt)

1. Use the attached  file "Skin_ForwardPass_dx12.

[2022-09-28 09:14] ghostplant opened #4693 "Is InterlockedCompareExchange only support int32 instead of int64?"
I tried using InterlockedCompareExchange() on int64_t data, but only low 32 bit values are changed. The compute shader version is cs_6_2.

[2022-09-28 17:21] Keenuts commented on #4693
Hi @ghostplant!

Thanks for the report!
Would you have some steps to reproduce? Like a sample shader + command line used?

[2022-09-29 00:03] tex3d opened #4695 "lib_6_x external call with resource in struct asserts in TranslateResourceInCB: error: llvm::cast<X>() argument of incompatible type!"
TranslateResourceInCB assumes load from resource in CB struct will be followed by CreateHandleForLib call, which would be followed by AnnotateHandle call, but in a case where you pass the struct to an external function call, no such calls are created, and the assert comes from the `cast<CallInst>` assumption.

Repro is contents of new test `tools/clang/test/HLSLFileCheck/hlsl/resource_binding/reso

[2022-09-29 07:16] ghostplant commented on #4693
[code]
Firstly, I set all values in hstep to be (int64_t)-1LL, then execute this shader with 1 block and 1 thread.
The value `hstep[0]` I got finally is supported to be 1, but I actually get 0xFFFFFFFF00000001.

[2022-09-29 08:50] Keenuts commented on #4693
Thanks! From this article (https://microsoft.github.io/DirectX-Specs/d3d/HLSL_SM_6_6_Int64_and_Float_Atomics.html), it seems atomic operations on 64 bits are only supported starting 6_6.

Are you able to compile this? At HEAD, I cannot compile this code to cs_6_2:
[code]

[code]

Building with CS_6_6, generated SPIR-V looks OK (using 64 bits integers), and for DXIL, I'm not super familiar yet, but

[2022-09-29 10:10] ghostplant commented on #4693
OK, is cs_6_6 stable enough to be synchronized into vistual studio plugin? The dxcompiler.dll version I use doesn't support cs_6_6 but cs_6_2.

[2022-09-29 11:56] Keenuts commented on #4693
Support for shader model 6.6 was implemented almost 2 years ago (https://github.com/microsoft/DirectXShaderCompiler/pull/3293) and official release was announced 1 year ago (https://devblogs.microsoft.com/directx/hlsl-shader-model-6-6/) so if you use a recent release, it should be stable.

[2022-09-29 11:58] Keenuts commented on #4693
If you can reproduce this bad behavior on the last release, please let us know! But so far it doesn't look like a bug :slightly_smiling_face:

[2022-09-29 12:40] h3r2tic opened #4696 "[SPIR-V] `[[vk::combinedImageSampler]]` refuses to work with `SamplerComparisonState`"
Hey, I tried doing this:

[code]

And got this error:

Interestingly, there is a workaround, which even causes SPIR-V Cross to produce the correct GLSL 😀: make a dummy `SamplerState` using the same register, and apply [[vk::combinedImageSampler]] to that instead!

[code]

[2022-09-30 00:00] Clothoid1 commented on #4693
I just tested InterlockedCompareExchange with cs_6_7 - compiling to SPIR-V.
I noticed that this only works correctly with 32 bit cases - but not for int64_t or uint64_t cases.
The HLSL shader compiles fine, but the result when running the shader is incorrect.
Here the upper 32 Bit of the result after a 64 atomic operation always seems to be 0.

[2022-09-30 11:45] alelievr opened #4697 "Is it possible to compile the same shader with different define configuration in one go?"
Hello,

In many game engines, there is a feature to compile a single shader multiple times with different define values or configuration (for example the [multi_compile](https://docs.unity3d.com/Manual/SL-MultipleProgramVariants.html) in Unity), this lead to the same shader being compiled 10 or 100 times with slight variation of code.

Currently, the step of generating all the variants of the shad

[2022-09-30 12:16] hannes-vernooij opened #4698 "[SPIR-V] compiler crash when casting types"
Casting types with an identical size causes a segmentation fault.
https://shader-playground.timjones.io/03295c7334e11b732d4218543ebf47a4

[code]
It does compile successfully when A in struct C was defined as an `uint` instead of `A`.

[2022-09-30 12:25] hannes-vernooij commented on #4574
Hey, thanks for checking. it is an attribute to mark that a shader is only compatible with a specific wave-size, which is indeed not supported in SPIR-V. Sorry for the inconvenience.

[2022-09-30 12:25] #4574 closed

[2022-09-30 12:33] simontaylor81 commented on #3082
Hello again. I've been investigating further crashes during shutdown of the compiler dlls (on console this time), and found several more places where lazy-initialised global variables are allocated on the user-provided IMalloc, but then freed at shutdown (in `llvm::llvm_shutdown`) from the default COM malloc, causing heap corruption and crashes. Basically anything using `ManagedStatic` seems liabl

[2022-09-30 12:41] hannes-vernooij commented on #4698
It seems to work when casting the other way around:

[2022-09-30 20:27] BeastLe9enD opened #4699 "Compile dxcompiler on windows only targeting spirv"
Is there a way to compile dxcompiler on Windows without dxil codegen (only for spirv)?
This could shrink down the binary size if only spirv support is desired.

[2022-10-02 06:10] cx-zzz opened #4700 "Can i get the AST using the interface provided by the Pre-built Releases?"
I am a newer about compile and i'd like to get AST tree from a hlsl file. Can i use the .lib  in vs2019 to get it and how to do this, can someone give a example code?
Thank you!

[2022-10-03 07:06] python3kgae opened #4701 "DXC not optimizing out code related to groupshared"
For shader like this:
 groupshared float a[10];
 [numthreads(8,8,1)]
 void main() {
   a[0] = 1;
 }
the output dxil is this:
@"\01?a@@3PAMA" = external addrspace(3) global [10 x float], align 4

define void @main() {
  store float 1.000000e+00, float addrspace(3)* getelementptr inbounds ([10 x float], [10 x float] addrspace(3)* @"\01?a@@3PAMA", i32 0, i32 0), align 4, !tbaa !7
  ret void
}

Expect

[2022-10-03 10:56] manon-traverse opened #4702 "Incorrect SPIR-V generated when `firstbithigh` is used on a `uint64_t`"
[code]

Calling this function causes the error when targeting SPIR-V. It works fine when targeting DXIL.
[code]

It does work with the following workaround:
[code]

[2022-10-03 12:09] godlikepanos commented on #4702
`FindUMsb` and a few similar GLSL derived instructions do not support 64bit (see https://registry.khronos.org/SPIR-V/specs/unified1/GLSL.std.450.html). glslang has (or had) similar issues. I think Khronos should extend the instructions to support 64bit and in the meantime DXC should apply your workaround.

[2022-10-03 14:39] fknfilewalker opened #4703 "Why does hlsl not support constructors?"

[2022-10-03 19:40] pow2clk commented on #4693
@ghostplant, I can confirm that 6.6 is required for 64-bit atomic operations. You may need to use the compiler releases from github to get access to a 6.6 capable compiler.

@Clothoid1, using the latest compiler and the provided sample code, I see the proper SPIRV output for 64-bit atomics. It's possible that your driver has a bug which would require a fix from the appropriate hardware vendor.

[2022-10-03 19:40] #4693 closed

[2022-10-03 20:49] pow2clk commented on #4691
Hi @santorac!

As a matter of fact, this should succeed on HLSL versions prior to 2021. The rules before that version allowed struct/class parameters to be considered castable if their data members were all the same. However, we have a bug here that relates to the fact that they are declared as classes instead of structs. If you change them to structs, this should compile fine.

Another alternativ

[2022-10-03 21:30] tex3d commented on #4700
You can use the `-ast-dump` option when compiling through `dxc.exe` or the `IDxcCompiler::Compile` interface for a text dump of the AST tree as output.  For a programmatic interface to inspect HLSL AST, you can use the `IDxcIntelliSense` interface defined in https://github.com/microsoft/DirectXShaderCompiler/blob/main/include/dxc/dxcisense.h.

Interfaces are created by using the DxcCreateInstance

[2022-10-03 21:30] #4700 closed

[2022-10-03 21:46] llvm-beanz commented on #4699
DXIL isn't really a separable part of DXC. DXIL is just the LLVM IR generation (and some specialized optimization passes). While it is _possible_ to mark up clang with enough `#ifdef` blocks to compile it without the code generation layers, this would be an invasive configuration and a support burden we're unlikely to take on.

Long term the Clang-based upstream compiler will support conditionally

[2022-10-03 21:46] #4699 closed

[2022-10-03 21:55] llvm-beanz commented on #4703
The short answer to your question is history. HLSL began its life as a C-based language (C not having constructors).

Constructors is an obvious feature of C++ that HLSL does not have, and we are considering adding it to a future version of the language. There are some complications that we need to design around. For example, HLSL doesn't support global initialization in a way that is quite the sa

[2022-10-03 22:34] santorac commented on #4691
I see, thanks for that info. I've worked around this issue with some updates to my shader code already, but just wanted to raise awareness about the crash.

I'm sure others will appreciate your reduced repro case instead of my 10K line one haha!

[2022-10-03 22:42] pow2clk commented on #4697
Hi @alelievr!

I'm afraid that the answer is technically yes, but it won't do what you hope it will. Defines are handled by the preprocessor which is the first thing the compiler does and doesn't take a lot of time. There isn't any common action that could be taken on the code that could remove any duplication of effort before the defines have to be finalized. It would take just as long to compile

[2022-10-04 03:15] jmccarthy634 opened #4704 "[SPIR-V] SubpassInput error when compiling non-pixel shader function in same source file that doesn't reference it at all"
As per title, if I have a HLSL file with a SubpassInput which declares a number of different functions, some of which are not pixel shaders, and I try and compile one of the non-pixel shader functions, DXC gives me an error, eg compiling the following with the command `dxc.exe -T cs_6_0 -E CsTest -spirv SubpassTest.hlsl`:

[code]
give this error:
[code]
Ideally this would only happen if the Subpas

[2022-10-04 09:50] cx-zzz commented on #4700
Thank you for your reply so quickly.  But i cant find the test code, can you tell me where it is?
 Thank you very much.

[2022-10-04 10:00] fknfilewalker commented on #4703
Interesting,
I am not thinking of anything fancy, more like variable initialization which can also include function calls. This should make code cleaner/safer and removes the need for explicitly calling initialization functions (which is extra code and can be forgotten resulting in errors).
Also this would increase compatibility with CPU side c++ code. Since GPU algorithms become more and more com

[2022-10-04 12:05] cx-zzz commented on #4700
oh, i found some examples in DXIsenseTest.cpp, is it right?

[2022-10-04 13:45] cx-zzz opened #4705 "How to traverse AST using IDxcCursor?"
I'm puzzled about how to use IDxcCursor to traverse AST, i have read the Wiki and i didn't find anything about CompilationResult which uses IDxcCursor to traverse the AST(perhaps i missed). Can someone show me how to do this begin from loading .hlsl file?
Thank you!

[2022-10-04 14:40] cx-zzz commented on #4705
I know how to do this, but all the examples begin from text and create unsaved file using CreateUnsavedFile function in DXIsenseTest.cpp. Can i just read the .hlsl file by its name?

[2022-10-04 17:31] fknfilewalker commented on #4703
That is a good to hear and certainly a good target.

Not really asking for pointers but if you have plans for that I would not say no. I did not know that inout is that different but it makes sense to me now, always thought it is a reference.

It is just so strange because for float4 etc. it is there. Feels kinda incomplete without it...

Yes, I was already worried that it is like that

Anyway rea

[2022-10-04 18:06] #4434 closed

[2022-10-04 19:06] Clothoid1 commented on #4693
I just checked again and noticed a bug in my test shader - after fixing that i can confirm that 64 bit atomics are working fine with SPIR-V output and using those in Vulkan!

[2022-10-04 19:09] Clothoid1 commented on #1653
Since 64 bit atomics are now working fine when compiling HLSL to SPIR-V (see #4693), i assume this issue can then be closed also?

[2022-10-04 19:14] zmarlon opened #4706 "[HLSL 2021] Adding `const` to function does not work"
I have the following structure, which is an abstraction to load data from a spirv physical storage buffer.
[code]

Lets say I create a `Ptr<i32>` and call the `[]` operator to retrieve an element from the physical address buffer:
[code]

This code works as expected. If I have a `kamel::Ptr<i32>`, I can call the `[]` operator. But If I change the `kamel::Ptr<i32>` to be a `const kamel::Ptr<i32`, it

[2022-10-04 20:51] pow2clk commented on #1653
@Clothoid1 good catch! This relic is from my days as an independent contributor 😆

[2022-10-04 20:51] #1653 closed

[2022-10-04 20:52] pow2clk commented on #4693
@Clothoid1 thanks for letting us know!

[2022-10-05 14:01] alelievr commented on #4697
Thanks for the answer!

I understand that preprocessor resolving happens first in the compilation and it's unfortunate that we can't share more execution between shaders of similar structure.
Do you have any pointers on how to optimize shader compilation time? Or how to profile it correctly? Some of our shaders can take up to 15 seconds to compile and with the number of variants it can grow to doz

[2022-10-05 14:02] afd commented on #4450
@pow2clk Should this be re-opened based on @Jack-Clark's comment?

[2022-10-05 20:15] fknfilewalker commented on #4703
If it is not possible to use ints as templates to set the size of member arrays it would be nice future feature, if it should already work please give me a hint
[code]

[2022-10-06 07:44] fknfilewalker opened #4708 "Free operator overload"
If you want to have class + x and x + class you need to have free operator overloading, is this possible or is there another way around it? If not, could this be a future feature?

[code]

[2022-10-06 07:58] fknfilewalker opened #4709 "Accessing templated base class member var results in compiler crash"
You can also check it out in shader playground too
https://shader-playground.timjones.io/8518ac9fa48d1f21c3c92a62dccde208

Using newest version dxc with -HV 2021

[code]

[2022-10-06 22:08] kylawl opened #4710 "Incorrectly erroring with error: Index for resource array inside cbuffer must be a literal expression"
I'm working with a pre-exsiting renderer that relies on setting constants and binding resources within in the same struct. The below example shader will fail in DXC with this error `error: Index for resource array inside cbuffer must be a literal expression`

I can see here https://github.com/microsoft/DirectXShaderCompiler/blob/81ef064a47a191c9fc68a43adca4706244c3687b/lib/HLSL/HLOperationLower.cp

[2022-10-06 22:29] kylawl commented on #4710
As an additional note, I just found that none of these 3 methods work in with FXC using ps_5_1. FXC returns without reporting an error but also fails to emit a file.

[2022-10-07 06:03] cx-zzz opened #4712 "How can i get the value of cursor whose type is DxcCursor_FloatingLiteral/DxcCursor_BinaryOperator?"
I tried to traverse the AST of a hlsl file using IDxcCursor and i want to build a tree using the information gotten by the cursor. But i didn't found a way to get the value (like 1.0 or '=') of cursors whose types are DxcCursor_FloatingLiteral/DxcCursor_BinaryOperator. Can someone tell me how to get this values?
Thank you!

[2022-10-08 19:00] natevm commented on #4341
Running into the same issue about a year later. How can we assign to the subscript operator?

[2022-10-09 15:15] Goshido opened #4714 "SPIR-V degradation 1.7.2207.10069 compare to 1.7.2207.10036"
After upgrading from _1.7.2207.10036_ to _1.7.2207.10069_ I got pixel shader compilation error:

[code]

Compilation to _SPIR-V_ worked previously in version _1.7.2207.10036_.

### Minimal repro steps

I attached minimal reproducible example with pixel shader sources and `bat` script with all compilation parameters. You need to change `DXC_LOCATION` variable inside the `build-test.bat` to _dxc.exe

[2022-10-10 15:27] EpicChrisWaters opened #4715 "RequiredFeatureFlags isn't populated by CFunctionReflection::GetDesc"
When filling out the passed in [D3D12_FUNCTION_DESC](https://learn.microsoft.com/en-us/windows/win32/api/d3d12shader/ns-d3d12shader-d3d12_function_desc), it appears that [CFunctionReflection::GetDesc](https://github.com/microsoft/DirectXShaderCompiler/blob/main/lib/HLSL/DxilContainerReflection.cpp#L2597) only fills out a handful of fields. Notably for our project, the RequiredFeatureFlags field is

[2022-10-10 21:45] llvm-beanz commented on #4706
This is a duplicate of https://github.com/microsoft/DirectXShaderCompiler/issues/4340.

The underlying issue is that HLSL doesn't support constant instance methods. We are aware of the issues caused by the missing feature and we are looking at adding the feature to a future version of HLSL.

[2022-10-10 21:45] #4706 closed

[2022-10-10 22:15] #4695 closed

[2022-10-10 22:16] #4691 closed

[2022-10-11 07:58] fcarucci commented on #4373
Thanks for getting back to me.

If I understand it correctly, 2) should let me compile correctly and then I can proceed with linking?

[2022-10-11 14:13] fknfilewalker opened #4717 "SPIR-V printf with double not working"
it seems that printf is not working correctly with double
[code]
is printing 0.000000

I am using July 2022 dxc version

[2022-10-11 18:59] llvm-beanz commented on #4583
The general issue here is that DXC verifies declaration attributes during first-pass parsing. This just flat out doesn't work with templates. With templates the attribute validation needs to be performed when the declaration is instantiated. There is no good easy fix for this. We really need to refactor and restructure how HLSL attributes are validated.

[2022-10-12 13:57] EasyJellySniper opened #4720 "Invalid SPIR-V magic number even it's a very simple shader."
The shader code is:
`float4 BasePS() : SV_Target
{
	return float4(1,1,1,1);
}`

And the error msg:
UNASSIGNED-CoreValidation-Shader-InconsistentSpirv(ERROR / SPEC): msgNum: 7060244 - Validation Error: [ UNASSIGNED-CoreValidation-Shader-InconsistentSpirv ] Object 0: handle = 0x24bbd0a8060, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0x6bbb14 | SPIR-V module not valid: Invalid SPIR-V magic number.

[2022-10-12 14:57] llvm-beanz opened #4721 "Support applying clang fix-its automatically"
Clang supports flags related to fix-its which would be useful to implement in DXC:

* `-fixit` - Applies fix-its to the input file overwriting the file.
* `-fixit=` - Applies fix-its and writes out a new file with the specified extension.

We also should consider applying fix-its automatically in the HLSL rewriters as that will extend their utility.

[2022-10-12 15:13] llvm-beanz opened #4722 "`column_major` and `row_major` don't apply correctly to template-dependent types"
This is caused by the same issue as #4583, so the required transformation is similar.

This test case should cover the interesting cases:

[code]

[2022-10-12 17:54] ScatteredRay opened #4723 "Support -M depfile gneration flags during -P preprocess to file"
We're using the -M flag as covered [here](https://github.com/microsoft/DirectXShaderCompiler/issues/2063), but out build process also involves running DXC with the -P flag to preprocess the file.

It'd be great if the -MD and -MF flags were supported when running DXC in -P preprocess only mode.

[2022-10-12 21:29] #4686 closed

[2022-10-12 21:38] adiblev commented on #2290
Any update on this topic?  Start addressing with pointers / conversions / safe pointers would be a great addition moving towards full bindless without need to create redundant copy or using offsets and creating overheads due to that.

[2022-10-12 22:23] tex3d opened #4724 "Crash in SemaHLSL when indexing an array with a vector"
[code]
In this case, we should get a warning about implicit vector truncation, but it should work.  Instead, we get a crash.

Clang is adding built-in subscript operators, and attempting copy initialization for the argument cast from array to decayed ptr type.  HLSL-specific code path does not handle this scenario and attempts a flattened type comparison, which hits `llvm_unreachable` for `AR_TOBJ

[2022-10-13 14:27] #4583 closed

[2022-10-13 17:19] #3783 closed

[2022-10-13 17:47] llvm-beanz commented on #2499
There are related issues with type aliases and templates (#4722). These all come back to how the type attribute is implemented and not preserved.

[2022-10-13 18:34] llvm-beanz commented on #4722
I was hoping this was a relatively small task (similar to globallycoherent), but it really isn't.

There's a complicated mess here, with a lot of parts and a lot of the `row_major`/`column_major` base pieces don't work. For example, we allow the attributes on type annotations (i.e. `typedef row_major float4x4 RowMajorf4x4`), but we drop the annotations.

We also broke the source locations for the

[2022-10-14 08:00] VZout commented on #3505
Also hitting it. (RTX 2080 super (latest drivers) in case its vendor specific)

[2022-10-15 00:08] natevm commented on #4408
This should be addressed with PR #4573. I think this issue can be closed.

[2022-10-15 00:15] natevm commented on #4288
I'm finding that Intel Arc doesn't support 64-bit integers at the moment. So I might try implementing this if no one else has the cycles...

[2022-10-16 17:59] EasyJellySniper commented on #4720
Turns out it's caused by a silly bug.
When I called dxc.exe by CreateProcessA().
I sent "-spirv -T ...." instead of " -spirv -T ...".
I forgot to give a whitespace char before -spirv. So it's still compiled to HLSL instead spir-v.

Apology if this issue bothers someone!

[2022-10-16 17:59] #4720 closed

[2022-10-17 10:06] KYovchevski opened #4727 "[SPIR-V] Segmentation fault when compiling to SPIR-V"
At some point changes were introduced which have caused previously valid HLSL code to result in a segmentation fault when compiling into SPIR-V. It would appear this has occurred after #4535. There are no issues compiling the same code into DXIL.

Below is a minimal case for reproducing the segmentation fault.

[code]

This is also the callstack when compiling this code, with the seg fault occurin

[2022-10-17 17:47] theyWhoes opened #4728 "Not know how using API(Megascans/Quixel) use JSON/syntax codes"
[https://quixel.github.io/megascans-api-docs/asset-downloads/ ](url)
How do I use it and why is the explanation as simple to were to find or simplified form of downloading?

[2022-10-17 19:05] jaladreips opened #4729 "DXC generates SV_Target MDNodes for unused render targets"
Consider the following pixel shader:
[code]

DXBC generated:
[code]
Compiler has recognized that the only RT that is used is in slot 3 and generated declaration for that one only.

DXIL generated:
[code]
DXIL compiler generates unnecessary MDNodes for all RT outputs, even though only RT3 is used.

[2022-10-18 10:59] golikeri commented on #3692
Hi, I am getting same error. How did you resolve it?

[2022-10-18 12:44] Jasper-Bekkers opened #4731 "Mark WaveGetLaneCount as constexpr"
Currently one can't easily do this; instead you'd have to create a new shader permutation for every supported wave size.

[code]

[2022-10-18 21:48] Tobski opened #4732 "Buffer Address Proposal: Create buffers from other buffers, similar to loading from ResourceDescriptorHeap"
ResourceDescriptorHeaps are an incredibly flexible way of accessing descriptors, but they imply that all descriptors are the same size, which is untrue more or less universally across vendors.
As a simple example, an unformatted buffer is generally going to look like an address and a size, whereas an image has significantly more data associated with it.

Vulkan Working Group members (including AMD

[2022-10-18 21:59] Tobski commented on #4469
Ack I missed this but I just raised https://github.com/microsoft/DirectXShaderCompiler/issues/4732 which attacks this problem same problem, so this may actually be kind of a duplicate sorry 😬

If a repo maintainer wants me to merge that issue into here please let me know...

[2022-10-18 22:00] jeremyong-az commented on #4732
I'm excited about the prospect of an analogous feature for `ResourceDescriptorHeap` in Vulkan!

Regarding the bindless buffer access, my feeling is that many ISVs already suballocate within buffer resources to do this indirection because of the alignment requirement correct? I'm curious how the single to double digit slowdown figure was estimated because if there are workarounds that already use e

[2022-10-18 22:30] Tobski commented on #4732
Yes that's sort of implied here I suppose - didn't need to raise an issue for that because #4255 exists :)

Hard to say, though I do know for sure there are apps that do not do this.

Primarily this is experiments via games running on vkd3d-proton, which supports both parallel arrays and a homogenous one; allowing us to do a fairly quick switch by hiding the mutable descriptor type extension and c

[2022-10-18 22:31] yuriy-odonnell-epic commented on #4732
From Unreal Engine perspective, avoiding buffer descriptors entirely in favor of uint64 pointer-like mechanism is extremely interesting. In our increasingly-GPU-based rendering architecture, we have to maintain a various GPU-side data structures that represent our scene. We store most of the persistent GPU-side scene data in large contiguous buffers, which pose pretty major challenges when parts o

[2022-10-19 00:40] StarsX commented on #4732
I just imagined this before. If a raw buffer (byte address buffer) index could be uint64, and root uav virtual address setting could be 0 as the start address on the API side, this would be just a memory address pointer.

[2022-10-19 04:17] JX-Master opened #4733 "Spelling error on .gitignore file."
On .gitignore line 55, I see:

`build*`

This causes all files that begins with "build" being excluded from the git repository, including:

- DirectXShaderCompiler/include/llvm/Transforms/Utils/BuildLibCalls.h
- DirectXShaderCompiler/lib/Transforms/Utils/BuildLibCalls.cop
- DirectXShaderCompiler/tools/clang/include/clang-c/BuildSystem.h
- DirectXShaderCompiler/tools/clang/tools/libclang/BuildSyste

[2022-10-20 08:16] mcbouterse opened #4735 "ByteAddressBuffer.Load<T> doesn't work if T contains a templated type"
Hi, I ran into an issue with templated loads from ByteAddressBuffer using the latest official release (July 2022). Basically the following works as expected:

[code]

But if MyStructA is a templated struct it fails to compile:

[code]

This will raise the following error: "Explicit template arguments on intrinsic Load must be a single numeric type"

Is this expected and not supported or is this a

[2022-10-20 08:58] Keenuts commented on #4727
Hi @KYovchevski , thanks for the report!

I tried to reproduce on a linux build at head with the given shader but couldn't.
- Are you reproducing this on a release build or a custom build?
- If it's a custom build, would you mind sharing the OS, compiler version, and build system in use?
- Can you share the command line used to reproduce this bug?
- SPV tool might be involved, at what commit is th

[2022-10-20 10:22] KYovchevski commented on #4727
@Keenuts sorry for missing the command, we can reproduce this crash with the command you provided _after adding `-HV 2021`_ (we have more arguments on our end, but those should be irrelevant). It happens on DXC from https://github.com/microsoft/DirectXShaderCompiler/commit/05e51364c3d9ce189129912aaf0f08fc8d12373a, not a custom build (see submodule hashes at https://github.com/microsoft/DirectXShad

[2022-10-20 21:30] jeremyong-az commented on #4732
Before we go here (and I agree that binding addresses to shader resources would be great), I wanted to mention again that I think having virtualized bindings similar to the `register` and `space` convention in DX12 supported in SPIR-V/Vulkan would be excellent as a precursor or incremental step. As it stands, all ISVs need to abstract bindings at _build time_ as opposed to _runtime_ where the actu

[2022-10-20 22:05] Tobski commented on #4732
I'd rather we not bog this issue down with orthogonal requests, but suffice to say that is something we are thinking about in Vulkan.

[2022-10-20 22:07] jeremyong-az commented on #4732
I'm glad to hear it, I mentioned it mainly because from an ISV perspective, convergence of any sort is appreciated (which includes the buffer address proposal above)

[2022-10-20 22:24] Tobski commented on #4732
I had a bit of feedback internally that it might be desirable to hide the address and/or pair it with a size in some way at the HLSL level, to make sure that HLSL remains a robust language. The important part here IMO is that it lets you define and access recursive data structures, so I suspect it's fine to do that. The simplest option might be to simply allow ByteAddressBuffer or StructuredBuffer

[2022-10-21 07:35] zhaijialong commented on #4732
@Tobski just out of curious, does that mean the SM6.6 bindless in D3D12 also suffer from the same problem (on some hardwares) ?

[2022-10-21 13:20] Tobski commented on #4732
@zhaijialong I understand that it's possible to work around some of these issues in D3D12.

[2022-10-22 05:43] ghostplant commented on #4693
@Clothoid1 Is there a binary release for cs_6_6 / cs_6_7? I just checkout the current latest release which is from July 2022, and seems like it just supports up to cs_6_5 on all of my Windows nodes, while working with cs_6_6 will result in error execution.

[2022-10-23 17:18] natevm commented on #4288
We also might want to break up this issue, since RawBufferLoadInto is a separate feature from supporting uint2 addresses.

[2022-10-23 17:21] natevm commented on #4288
w.r.t the uint2 address, I'm unfortunately running into an issue with dxc casting the uint2 address into a single uint64_t address value and emitting a warning. I use this in the gen_intrin_main.txt but I guess overloading doesn't work here?

[code]

So for the moment, I'm thinking I'll name the uint2 address variants `RawBufferI2Load` and `RawBufferI2Store`

[2022-10-23 19:52] natevm opened #4737 "[SPIR-V] vk::RawBufferLoad is not an intrinsic"
I'm trying to add support for an overload of the vk::RawBufferLoad intrinsic to support a `uint2 address` in addition to a `uint64_t` address. I'm running into some weird and unexplainable behavior by dxc / llvm though...

In particular, this section of code is odd to me. `vk::RawBufferLoad` fails the hlsl::IsIntrinsicOp check here, even though it very clearly _is_ an intrinsic...

https://github.

[2022-10-23 19:55] natevm commented on #4737
Tagging @jaebaek, since they added the original vk::rawbufferload intrinsic.

Not really sure who to talk to about this...

The primary motivator here is that Intel's Arc Alchemist GPUs appear to not support the int64 arithmetic extension in SPIRV, so I need to use uint2 for my addresses...

[2022-10-24 09:26] turanszkij opened #4738 "[SPIR-V] ByteAddressBuffer::Load<float4x4> is broken"
Hello, since the July 2022 compoiler release the `Load<float4x4>` of `ByteAddressBuffer` is not working correctly. The behaviour changed and no longer matches what HLSL compiler is doing. The result is a transposed matrix compared to HLSL, so a workaround is to simply transpose the resulting matrix when using the SPIR-V compiler. But this workaround didn't need to be performed in the compiler rele

[2022-10-24 09:50] Keenuts commented on #4727
Thanks for the additional information! I can reproduce this, looks like we hit an assert in spirv-tools.

[code]
Seem to be the reason of the problem.
You assign to an unsigned int, but the input is a signed int (no "u" suffix).

Because of a reason I do not know yet, the implicit cast is not properly done, so we end up having to load an int into a uint, which is illegal at this level. Maybe somet

[2022-10-24 10:39] Keenuts commented on #4727
Given this code:

[code]

When generating DXIL:

[code]

When generating SPIR-V prior to HLSL2021:
[code]

With HLSL2021, we build ternary differently to support short-circuiting, but relevant bits are:
[code]

This load is what's causing our issue: we load the wrong type, spec said it should be int.

I could fix this, but I'm not sure what's the proper behavior (@tex3d for HLSL spec input)
 - are

[2022-10-24 17:37] cassiebeckley commented on #4738
I believe this is intentional (see #4526); you should be able to enable `-fspv-use-legacy-buffer-matrix-order` in order to use the old behavior.

[2022-10-24 17:37] #4738 closed

[2022-10-24 18:58] pow2clk commented on #4728
Hi @theyWhoes,

I'm afraid we can't help you there. This is the HLSL compiler project. We have no connection with quixel nor familiarity with how it works.

Good luck!

[2022-10-24 18:58] #4728 closed

[2022-10-24 19:23] pow2clk commented on #4693
@ghostplant, The July compiler release supports both 6.6 and 6.7. Does the error occur when you try to run the shader? That would depend on the runtime you are using, which comes from the SDK and also the hardware and driver you have.

[2022-10-24 20:07] llvm-beanz commented on #4733
The intent is to allow multiple build directories. We could change this to `/build*` which would accomplish the same goal.

That said, I do worry that there is a root usage issue here we don't understand. Why are you copying to a new repository and dropping the history? The normal git workflow would be to fork the repository, or if you needed it embedded into a different repository, a sub-tree mer

[2022-10-24 21:49] llvm-beanz commented on #4735
This is a bug, probably caused by: https://github.com/microsoft/DirectXShaderCompiler/blob/main/tools/clang/lib/AST/HlslTypes.cpp#L115

[2022-10-25 06:47] Andreyogld3d opened #4740 "[clang] dxc api Compiler error: expected parameter declarator CROSS_PLATFORM_UUIDOF(IUnknown, "00000000-0000-0000-C000-000000000046")"
HI, I use dxc api with clang compiler. I got error during compilation. I have no error during using gcc compiler.

simple test code:

[code]

Error:
./dxc/Support/WinAdapter.h:615:33: error: expected parameter declarator
CROSS_PLATFORM_UUIDOF(IUnknown, "00000000-0000-0000-C000-000000000046")

[Full Error log](https://github.com/microsoft/DirectXShaderCompiler/files/9857715/clang_dxc_api.log)

[sim

[2022-10-25 06:52] jzm-intel opened #4741 "[SPIR-V] Fatal error when using out int value of InterlockedCompareExchange"
DXC version: dxcompiler.dll: 1.7 - 1.7.2207.3 (e9137cd1d); dxil.dll: 1.7(101.7.2207.10)

Compiling the below code to SPIR-V using command `dxc -HV 2018 -T cs_6_2 -E main -spirv 0.hlsl` will result in following fatal error:
[code]

The HLSL source code:
[code]

[2022-10-25 06:59] jzm-intel commented on #4741
Not the exactly same problem, but with similar HLSL source code and the same command DXC will go into internal compiler error:
[code]

HLSL source code:
[code]

[2022-10-25 07:46] ghostplant commented on #4693
@pow2clk I uses Intel HD graph, AMDGPU and NVIDIA GTX, non of them runs when setting version to cs_6_6.

[2022-10-25 09:16] MarijnS95 opened #4742 "Are 32-bit wide-char strings on Linux intended?"
CC @riverar @kennykerr, https://github.com/microsoft/windows-rs/issues/1874
CC @pow2clk for being the resident Linux maintainer :+1:

## Context

I interface with `libdxcompiler.so` from Rust, on both Windows and Linux. Since the DXC library provides a cross-platform COM API, it only makes sense for [our DXC Rust wrapper crate called `hassle-rs`](https://crates.io/crates/hassle-rs) to use one of t

[2022-10-25 15:01] Tobski commented on #4732
FYI I've raised this again on the new hlsl specs repo (https://github.com/microsoft/hlsl-specs/issues/17) since that seems like a more appropriate place for this, though atm I'm not clear if it needs runtime changes.

Closing this issue in favour of that new issue.

[2022-10-25 15:01] #4732 closed

[2022-10-25 18:37] natevm commented on #4737
Ok, some updates... It appears that this "intrinsic" attribute is added in "SemaHLSL.cpp", and at least during parsing, the vk::RawBufferLoad function declaration is considered as an "intrinsic". We just seem to lose these attributes somehow when we go to emit SPIRV for that call...

[2022-10-26 05:47] Andreyogld3d commented on #4740
Thank you **hekota**  It is working. Thank for SPIR-V support for Vulkan, glsl must be depricated as soon as possible :)

[2022-10-26 05:47] #4740 closed

[2022-10-26 09:32] ghostplant commented on #4693
VS2019

[2022-10-26 15:19] turanszkij commented on #4738
Thank you.

[2022-10-26 22:44] natevm commented on #4737
Oddly, I run into the same issue if I make my own intrinsic called "vk::RawBufferLoad2".

[2022-10-26 23:13] natevm commented on #4737
I guess this is some sort of bug with gen_intrin_main.txt...

If I use this pattern, the resulting declaration is an "intrinsic" and my address type is allowed to be a uint2

`void [[]] RawBufferLoad(in uint<2> addr, out $funcT value);`

But if I instead use this syntax, then the address is incorrectly transformed into a single uint, and is _not_ an "intrinsic".

`$funcT [[]] RawBufferLoad(in uint

[2022-10-27 09:58] tim-weis commented on #4742
I cannot imagine that this was a conscious decision. Indeed, I wouldn't call it a *"fallback"* as much as an *"ABI contract violation"*.

From a cursory look it appears as though [WinAdapter.h](https://github.com/microsoft/DirectXShaderCompiler/blob/47f31378a9b51894b0465b33ac1d10ce6349a468/include/dxc/Support/WinAdapter.h) provides ABI type aliases for platforms that aren't `_WIN32`. Amongst those

[2022-10-27 11:37] MarijnS95 commented on #4742
@tim-weis thanks for your insights! Sounds like DXC backtracking on its decision to use the platform-native wide char/string convention is most preferable.
However, then I don't know how prevalent UTF-16 helpers on non-Windows platforms are, compared to UTF-32. This may or may not make things harder.

Fwiw I'm not so much interested in getting a trivial change pushed through, as getting my specifi

[2022-10-27 12:10] otanter-at-ubi opened #4746 "Cannot download prebuilt versions"
Hi,
It looks like we can no more download the latest compiled windows builds from [here](https://ci.appveyor.com/api/projects/dnovillo/directxshadercompiler/artifacts/build%2FRelease%2Fdxc-artifacts.zip?branch=main&pr=false&job=image%3A%20Visual%20Studio%202019):

{"message":"Build job with specified name not found or access denied."}

The Ubuntu build can be downloaded just fine.

Cheers,
Olivier

[2022-10-28 03:23] GoogieJ opened #4747 "[SPIR-V] Function call discards 'readonly' access qualifier."
Can someone tell me how to fix this?Thank you!

repo shader:
[code]
compiled with mali offline compiler v6.4.0.
It returns an error message: Function call discards 'readonly' access qualifier.

[2022-10-28 10:20] #4408 closed

[2022-10-29 04:01] llvm-beanz opened #4750 "Move diagnostics from `CGMSHLSLRuntime::AddTypeAnnotation` to Sema"
There are a bunch of diagnostics issued in `CGMSHLSLRuntime::AddTypeAnnotation` that could instead be validated in Sema. Basically all the places `Diags.getCustomDiagID` is called are candidates to move back into Sema and emit through the proper clang diagnostics mechanisms.

[2022-10-29 20:53] andrejnau commented on #4746
Faced the same problem. Replacing `Visual Studio 2019` in the url with `Visual Studio 2022` helped. Try this [link](https://ci.appveyor.com/api/projects/dnovillo/directxshadercompiler/artifacts/build%2FRelease%2Fdxc-artifacts.zip?branch=main&pr=false&job=image%3A%20Visual%20Studio%202022).

[2022-10-31 17:58] cassiebeckley commented on #4747
Hey, thanks for reaching out. You've included GLSL code and are mentioning a different compiler, could you elaborate on how this issue is related to DXC? `type_StructuredBuffer_v4float` makes it look like it was translated from HLSL, did you use  DXC and SPIRV-Cross?

[2022-10-31 18:15] cassiebeckley commented on #4746
Thanks for reporting this issue. I'll update the documentation to use the correct link.

[2022-10-31 19:53] #4746 closed

[2022-11-01 02:57] GoogieJ commented on #4747
Yes,the unreal engine 5.0 using DXC to convert HLSL into GLSL.
The HLSL source code:
[code]

[2022-11-01 04:03] conor42 opened #4755 "[DXIL] Chunks can become misaligned after signature chunks"
After emitting a signature chunk in the DXBC container, the position is not aligned to 32 bits, so later chunks don't begin on a 32-bit boundary if the signature element names are not a multiple of 4 bytes.

[2022-11-01 18:40] tex3d commented on #4755
This should be fixed in the latest released compiler+validator.
See: https://github.com/microsoft/DirectXShaderCompiler/releases/tag/v1.7.2207

[2022-11-02 10:31] otanter-at-ubi opened #4758 "[HLSL2021] Vector swizzle on bitfield crashes DXC"
Hi,

the compiler crashes with this error:
[code]
When compiling this code:
[code]

More precisely, the bug is related to the .xxxx swizzle combined with the bit field.

Cheers,
Olivier

[2022-11-02 23:53] jenatali commented on #4742
Hello,

Chiming in with a second point with a Windows COM API that we've made available for Linux which has wide characters: We support [D3D12 as a Linux API](https://devblogs.microsoft.com/directx/directx-heart-linux/). The headers for targeting Linux are identical to the headers that are used on Windows: https://github.com/microsoft/DirectX-Headers, with the exception that we've followed DXC's e

[2022-11-03 21:45] kylawl opened #4763 "DXC doesn't report an error when placing a resource in a ConstantBuffer"
DXC doesn't report an error when placing a resource in a ConstantBuffer and for StructuredBuffers, it generates bad sizes and offsets for the cbuffers. It seems that this is apparently unsupported behavior despite it's complete support in FXC? Iv'e included an exchange I had on Discord for context of this issue. It also includes a code example.

[2022-11-04 02:24] #4755 closed

[2022-11-04 10:17] devshgraphicsprogramming opened #4766 "How can I build `dxil` and `dxcompiler` as a static library?"
I know that it would be best to leave them as DLLs so that a driver upgrade of Windows SDK update can upgrade and "fix" my compiler.

However I'm mostly targetting SPIR-V and running the compilation at runtime and I have a habit of static linking all my depdendencies into the Engine (even if the engine itself is a DLL).

Anyone tried this before? Especially on Windows?

[2022-11-04 15:59] TLaviron opened #4767 "[SPIR-V] Invalid SPIR-V generated with -fpsv-debug=vulkan-with-source"
The following shader causes a fatal error when compiled with SPIR-V debug info:

[code]
Compiling this shader with `dxc.exe test.hlsl -E mainvert -T vs_6_0 -spirv -fspv-target-env=vulkan1.1 -fspv-extension=SPV_KHR_non_semantic_info -fspv-debug=vulkan-with-source -Fo test.vert.spv` causes a fatal error:
[code]

This can be worked around by using a local variable of the same type as the output param

[2022-11-04 19:03] pow2clk commented on #4742
Per the above, while we recognize the complexity of the situation leads to no perfect options, we feel we've made the right decision and we're sticking with it.

[2022-11-04 20:31] MarijnS95 commented on #4742
@pow2clk note that I'm in no way implying that this may have been the wrong choice, but _your colleagues_ over at the Rust teams insist on at least getting a proper rationale from DX(S)C before allowing (me) to make any progress towards a workable solution.

At the same time @jenatali above only rationalized the decision made for DXCore, but not DX(S)C ("Chiming in with a second point with a Windo

[2022-11-04 20:50] jenatali commented on #4742
Nano-COM/micro-COM would be the same, and yes DXC's API follows this pattern. As I understand it, DXC's use of native `wchar_t` was not necessarily intentional at the time, but in light of the discoveries made over time by other DirectX efforts, has been rationalized after-the-fact to have been the right choice.

In my opinion, any new APIs should opt for narrow UTF-8 strings only. Whether existin

[2022-11-04 21:38] cassiebeckley commented on #4767
Thanks for reporting this issue!

[2022-11-07 10:03] devshgraphicsprogramming opened #4771 "Templates `error: 'typename Accessor::value_type' cannot be used as a type parameter`"
Hi,

I'm trying to put together something akin to C++'s `<algorithm> in HLSL.

It seems I can't use dependent types as template arguments, which is a bit of a bummer.

[code]

[Live Demo](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAMzwBtMA7AQwFtMQByARg9KtQYEAysib0QXACx8BBAKoBnTAAUAHpwAMvAFYTStJg1AJaC2qSX1kBPAMqN0AYVS0AriwYgATKQcAZPAZMADl3ACNMYhAANgAOUgAHVAVCWwZnNw9vROTUgQCg0JYIq

[2022-11-07 12:01] TLaviron opened #4772 "[SPIR-V] attribute vk::image_format can't be used on arrays"
The following shader:
[code]
compiled with `dxc test_uav_format.hlsl -E maincomp -T cs_6_0 -spirv -Fo test_uav_format.comp.spv` fails with an error:
[code]

If the `image_format` attribute is not used, the resulting SPIR-V is invalid; it breaks VUID-RuntimeSpirv-OpImageWrite-07112 (error reported by the Vulkan Validation Layers version 1.3.231.1).

[2022-11-07 15:11] Keenuts commented on #4772
Hi! Thanks for the report!

The validation error is because when not specified, the guessed type is RGBA32F. So we have 1 missing component on the source texel (3 floats, not 4). I guess we should fail to generate SPIR-V in such case, opening another issue to track this separately.

Looking at it, it seems the issue is not on the SPIR-V side, but before: DXC fails during the attribute validation p

[2022-11-07 15:39] Keenuts opened #4773 "[SPIR-V] invalid OpImageWrite instruction generated if vk::image_format is not specified."
Issue derived from (https://github.com/microsoft/DirectXShaderCompiler/issues/4772)

HLSL has attributes to specify the texture format (https://github.com/microsoft/DirectXShaderCompiler/blob/main/docs/SPIR-V.rst#textures).

When not specified, the fallback is Rgba32f (first type of the list).
Given this sample:
[code]

and this command:
[code]

The generated code is invalid (breaks VUID-RuntimeSp

[2022-11-07 16:24] TLaviron commented on #4772
Thanks for the reply

Unfortunately in the actual use case I have, the multiple `RWTexture2D`s have different dimensions, so I can't just merge them into a single `RWTexture2DArray`.
I'll have to wait for either the ability to use this attribute on arrays of resources, or by having the format default to `unknown` instead, with the appropriate `StorageImageReadWithoutFormat`/`StorageImageWriteWitho

[2022-11-07 19:08] pow2clk commented on #4742
@MarijnS95 I want to give you what you need here. Tex, Jesse and I discussed this prior to Jesse's comment. The reasons for using native wchar on DXC are identical to those of Dxcore with the addition of being consistent with Dxcore. Do you need me to repeat his arguments so you have a single comment to point to?

I don't know why the `(S)` is there when you say DX(S)C. Am I missing something?

I

[2022-11-07 19:34] MarijnS95 commented on #4742
Because I am used to call this DXC (and so do you, apparently) yet windows-rs (and other) folks call it DXSC (S for Shader) to not [possibly confuse it with a short-hand for DXCore](https://github.com/microsoft/windows-rs/issues/1842#issuecomment-1165631968) :)

Thanks for reopening. I agree that it doesn't seem like this would move anywhere any time soon, as those who requested me to file this is

[2022-11-07 20:04] kennykerr commented on #4742
As I mentioned [here](https://github.com/microsoft/windows-rs/issues/1874#issuecomment-1176623345) and [here](https://github.com/microsoft/windows-rs/issues/1874#issuecomment-1182778663), the changes needed to support non-Windows targets with [windows-rs](https://github.com/microsoft/windows-rs/) are just too far out of scope at this time.

[2022-11-08 11:49] MarijnS95 commented on #4727
@keenuts @tex3d what's the status of this? We'd love to upgrade DXC but can also carry a `uint xm = ... ? 1u : 0u;` workaround for now.

[2022-11-08 21:01] sileom-dev opened #4777 "Function Pointers in HLSL"
Hello -- Is there a way of using something like function pointers in HLSL compute kernels?  I couldn't find anything in the documentation.  I'm porting an application currently written in Metal which uses visible function tables to achieve what I'm attempting to do here.  Thanks much!

[2022-11-09 04:44] natevm commented on #4737
Although I wasn't able to solve this issue, I've since discovered that Intel ARC does support 64 bit integers, just unofficially. So a RawBufferLoad taking uint2's isn't necessary.

Leaving open for now, since this might be an issue down the road.

[2022-11-09 10:00] ghostplant opened #4778 "Is there a plan/experimental way to use true int8 data type?"
No 8bit data type is found in the latest HLSL version. Bool type seems to work as same as int32 in data layout.

[2022-11-09 12:43] devshgraphicsprogramming opened #4779 "Either Support AST Merging or linking of SPIR-V"
Right now I can't link `lib_6_x` target with some other target because `lib_6_x` cannot be emitted to SPIR-V because SPIR-V doesn't support linking for any target environment except OpenCL (this is an issue of SPIR-V Tools not DXC really).

I was a bit surprised that SPIR-V is generated from the AST directly instead of DXIL, I guess there are reasons for that. It just seems weird not to use the In

[2022-11-09 13:12] devshgraphicsprogramming commented on #4777
I think https://github.com/microsoft/hlsl-specs would be correct repo for this feature request.

But yeah the proper way to support this with a polyfill would be for the compiler to build a visible function table for every signature, then emit a "dispatcher" which would be used in-place of every function call from a pointer.

No in-situ switches though, because that would ruin perf on GPUs with se

[2022-11-09 14:09] MarijnS95 commented on #4714
We're running into the same issue. @Goshido would you mind boiling your example down to a simple text snippet and minimum commandline that is included directly in your report, so that others don't have to download zip and go through levels of `#include`? That makes this issue more digestible and in turn more likely to get picked up :wink:

[2022-11-09 14:27] MarijnS95 commented on #4714
As I could not easily boil down our own shaders to a repro, here's a git bisect instead:

[code]

CC @vettoreldaniele @cassiebeckley from #4658.

[2022-11-09 15:17] vettoreldaniele commented on #4714
Thanks for the report. I'll take a look to see if I can get to a minimal repro

[2022-11-09 15:32] vettoreldaniele commented on #4714
I was able to find a minimal repro case, that is confirmed to only produce invalid SPIR-V with HLSL 2021 due to the short-circuited operator change:
[code]

I will look into what's going wrong.

[2022-11-09 16:41] Goshido commented on #4714
@vettoreldaniele let me clarify. Did you check attached shader source with compilation flags to dxc.exe? Do i need to reupload source + flags as snippet?

[2022-11-09 16:51] vettoreldaniele commented on #4714
No need. I was able to reproduce and identify the problem. We'll be working on a fix.

[2022-11-09 16:56] Goshido commented on #4714
Roger that. Thank you 👍! I hope this nasty bug will be squashed.

[2022-11-09 19:00] vettoreldaniele commented on #4714
Adding more context around this bug. The problem lies in the fact that short-circuited operators introduce control flow. Basically, `a && b` becomes equivalent to `bool result = false; if (a) result = b;`.

This creates a problem when such a construct is used as a loop condition. When generating the loop in SPIR-V, we take the basic block that performs the condition check and reuse it as a loop he

[2022-11-09 19:43] pow2clk commented on #4742
I've read those comments @kennykerr. As I read them, it sounds like irrespective of UTF-8,16, or 32, you are not interested in pursuing nor facilitating the addition of non-windows support at this time. Is that accurate? If so, I'm not sure this is so much an issue with the compiler interface per se.

[2022-11-10 11:02] mathforlife83 opened #4780 "Abort intrinsic is not supported"
`void main() {
    abort();
}`

`dxc -T ps_6_0 -E main`

Output: Unsupported intrinsic. abort();

[2022-11-10 21:57] #4714 closed

[2022-11-11 08:49] MarijnS95 commented on #4714
@vettoreldaniele Thanks, this works for us!

[2022-11-11 12:33] kennykerr commented on #4742
That's correct. I don't have any issue with the `DirectXShaderCompiler` project. As I've stated before, I am merely unwilling to further complicate the `windows-rs` project with support for non-Windows platforms.

[2022-11-11 12:44] MarijnS95 commented on #4742
In other words, this detour and extra noise on `DirectXShaderCompiler` [requested by you](https://github.com/microsoft/windows-rs/issues/1874#issuecomment-1176623345) was totally unnecessary and avoidable.

[2022-11-11 13:03] kennykerr commented on #4742
This is what I said:

In other words, if the DirectX Shader Compiler team would like to support Rust I'd be happy to assist them. Anyway, sorry if I caused any confusion. If I haven't been clear in the past hopefully this is now cleared up.

[2022-11-12 15:33] ben-clayton opened #4786 "`DxbcConverter` can corrupt integer Immediate Constant Buffer values (x86)"
**TL;DR**: It is not safe to assume that integer bit-patterns will be preserved when reinterpret-casting to floating-point and back again. `DxbcConverter` does `integer` → `float` → `integer` reinterpret-casting, causing certain integer values to be silently corrupted. Attempted fixes either causes WARP to crash, or delays the bit-pattern corruption until DXIL is consumed by WARP.

## Issue

Test

[2022-11-14 21:27] jenatali commented on #4786
In my experience, all other vendors are fine with this. This issue has been fixed in WARP. For testing purposes, you can grab an updated (non-redistributable) version of WARP from https://www.nuget.org/packages/Microsoft.Direct3D.WARP.

[2022-11-14 22:04] jenatali opened #4787 "ExecutionTest::DerivativesTest has invalid logic for 2D mesh shader thread groups"
For compute, the validation uses:
[code]

For mesh and amplification, the validation uses:
[code]

The shader code for writing the derivative data is the same between compute and mesh, so I'd expect to have the same logic on the host side for looking up where the data should live.

[2022-11-14 22:12] ben-clayton commented on #4786
That's great to hear.
I'll post a PR tomorrow to make the suggested changes from above (`Potential fix`).

[2022-11-14 22:18] jenatali opened #4788 "ExecutionTest::ComputeSampleTest has invalid verification logic causing failures with mesh shaders"
The relevant function:
[code]

This iterates "pixel" by pixel ("pixel" because it's a 1D dispatch, which is laid out as if it were operating on quads) and verifies the 4 components, as:
1. The LOD that would be computed based on the X derivative between that pixel and 0.
2. The actual LOD that a sample operation used with the same coordinates of 1, by loading from a texture with different values i

[2022-11-15 15:38] vettoreldaniele commented on #4779
Duplicate of #2633.

[2022-11-15 15:39] #4779 closed

[2022-11-15 15:44] devshgraphicsprogramming commented on #2633
Maybe there's could be a "poor man's linking" option for SPIR-V which would be to merge/concatenate the ASTs from multiple files, essentially an equivalent of a C++ Unity Build.

[2022-11-16 09:46] MarijnS95 opened #4792 "`libdxcompiler.so` locks up when used in many threads at once"
We're parallelizing our shader (asset) builds and hit a snag where - on Linux - this process locks up fairly often. With some debugging in `gdb` we've pinpointed the issue to reside inside `CALL_ONCE_INITIALIZATION` on a `static volatile`:

https://github.com/microsoft/DirectXShaderCompiler/blob/6dd31be007cf376d0679b642f3d393ec2125e629/include/llvm/PassSupport.h#L36-L54

All threads are either stu

[2022-11-17 06:46] tteguh opened #4795 "[SPIR-V] Unstripped OpCapability ImageMSArray"
I have the following HLSL shader with two possible entry point:  One uses a `Texture2DMSArray`, the other uses a `Texture2DMS`

[code]

As far as I'm aware, `OpCapability ImageMSArray` is only needed when `Texture2DMSArray` is used.  DXC will strip out the unnecessary texture resource when compiled with `-O3` depending on the passed in entry point.  However, the capability is still added to the re

[2022-11-17 16:59] vettoreldaniele commented on #4795
We visit instructions to add capabilities before we do any optimizations, hence this problem. We need to look more into it and understand edge cases, but maybe it's worth re-doing a pass on needed capabilities after optimizations have been run and then remove those that are not needed anymore.

[2022-11-18 09:10] mcbouterse commented on #4735
Thank you so much! Hope this will get merged soon.

[2022-11-20 14:14] bitsauce opened #4805 "Compiler does not use the custom include handler when compiling with `-Zi`"
Hi!

I have been testing out ways to make debug information available in captures etc. and I have found an issue where enabling source-level debug information causes a crash in the SPIR-V compiler if any files included in the shader are not available relative to the current working directory.

This in itself is maybe not that surprising, however, in my application I have implemented a custom inclu

[2022-11-23 02:08] mrsaturnsan opened #4814 "Compilation failing when using CreateBlobFromPinned"
It seems like an hlsl::Exception is being thrown when calling Compile for preprocessing data. However, the exception is not being caught by the try-catch block in Compile. Perhaps it's being thrown by clang elsewhere once compilation has begun? I'm using IDxcCompiler3. It looks like compilation is failing inside here.

[code]

[2022-11-23 04:02] mrsaturnsan commented on #4814
I'm passing in a UTF8 const char* without any BOM from C#.

[2022-11-23 07:57] StarsX opened #4816 "[SPIR-V] Sampled image type requires an image type with "Sampled" operand set to 0 or 1"
This issue is compute shader only in my case. In pixel (fragment) shader code, I wrote:
const float4 baseColor = BaseColor[input.Pos.xy];
It's OK.

But in compute shader code, I wrote:
const float4 baseColor = BaseColor[DTid];
It reports a compilation error:
[code]

Full reproducible code:
[code]
[code]

Another trial:
[code]
[code]

It seems that the cause is the confliction of u0 and (t0, s0). D

[2022-11-24 02:10] #4358 closed

[2022-11-24 10:09] MarijnS95 commented on #4792
For completeness, here's a little internal testing matrix, where I tried to reach 100 runs of our build system, running 64 jobs in parallel on a ThreadRipper 3970X:

| DXC built on | `Release` | `RelWithDebInfo` | [`std::call_once`](https://github.com/MarijnS95/DirectXShaderCompiler/compare/import-llvm_once-upstream-changes) + `RelWithDebInfo` | [`static bool` initializer](https://reviews.llvm.org

[2022-11-24 10:17] mrsaturnsan commented on #4814
Actually, it may be related to the fact that i'm trying to compile shaders via many threads at once.

[2022-11-24 10:17] mrsaturnsan commented on #4814
Will try
https://github.com/microsoft/DirectXShaderCompiler/pull/4818

[2022-11-24 15:06] Jasper-Bekkers opened #4819 "[SPIR-V] Shader model 6.4 DP4a intrinsics aren't implemented"
It looks like the "new" DP4a intrinsics aren't supported in SPIR-V mode even though these op's should be widely available.

Relevant SPIR-V specification: https://htmlpreview.github.io/?https://github.com/KhronosGroup/SPIRV-Registry/blob/master/extensions/KHR/SPV_KHR_integer_dot_product.html

Repro case: https://godbolt.org/z/Gzh4dxbhq

[2022-11-24 20:51] godlikepanos opened #4820 "[SPIR-V] Why relaxed precision can't coexist with explicit 16bit types?"
By looking at the `SPIR-V.rst` documentation when `-enable-16bit-types` is used the `min16float` types become explicit float16. Is there a reason why explicit 16bit types do not coexist with RelaxedPrecision? Why can't `min16float` stay as RelaxedPrecision float32 irrespective of `-enable-16bit-types`?

[2022-11-28 19:36] #4814 closed

[2022-11-28 20:41] pow2clk commented on #4341
Unfortunately, this is not currently possible due to lack of reference support in HLSL. It is something we want to improve in later versions.

[2022-11-29 02:43] deceased-a opened #4824 "[SPIRV-V] Dynamic Resource Binding for SPIR-V"
I have no exact idea for `ResourceDescriptorHeap` and `SamplerDescriptorHeap`, but I thinking about add such decorators. And make it editable as buffers. Add also `UniformDescriptorHeap` and variable named descriptor heaps. In Vulkan API and SPIR-V we have descriptor buffer and mutable descriptor types. Also, I would to propose add variable stride in layout specifier (include such as `custom.srv_s

[2022-11-29 03:15] unit-a-user commented on #4255
I have bit another proposal, but for HLSL. We have mutable descriptor type, and descriptor buffers, so we can try to add decorators to bind these HLSL names with `set=N`.

[2022-11-29 08:04] YTN0 opened #4825 "SPIR-V shader broken with compiler version > 1.7 - 1.6.0.3503"
I have a fairly standard vertex shader which is performing skinned animations.

I had previously been using DxC compiler version: dxcompiler.dll: 1.7 - 1.6.0.3503

Everything had been working fine with that compiler i.e. animations worked perfectly.

I upgraded to a more current version of the compiler (dxcompiler.dll: 1.7 - 1.7.0.3720), and now my shader is broken i.e. model / vertices are all me

[2022-11-29 09:16] siliconvoodoo opened #4826 "ternary `?` degrades enumerator types to `int`"
[code]

result

excepted: successful build. (verified in clang, gcc and msvc on C++)

[2022-11-29 15:29] vettoreldaniele commented on #4825
Thanks for reporting. Can you please include the DXC compilation command you use to compile the shader?

[2022-11-29 15:52] vettoreldaniele commented on #4825
I had a quick look, and while the generated code is slightly different, I wasn't able to immediately see what's actually different in behavior. The main difference I see is that the `%out_var_TEXCOORD1` output is constructed all at once with a composite construct instead of doing a per-element insert starting with an undef (this also causes all operand numbers to be slightly shifted). Another diff

[2022-11-29 17:37] Keenuts commented on #4826
Hi! Thanks for the report!

The implicit cast to int is also seen in #4727, that's something we should look into

[2022-11-29 17:44] vettoreldaniele commented on #4825
Also, can you please include the HLSL header files? It would make reproducing the exact compilation scenario easier.

[2022-11-29 19:20] vettoreldaniele commented on #4825
I've taken a more careful look. I've noticed that the matrices being constructed may be transposed in the non-working version.

Working:
[code]

Non-working:
[code]

[2022-11-29 19:26] vettoreldaniele commented on #4825
@YTN0 Can you try compiling the shader with `-fspv-use-legacy-buffer-matrix-order` and seeing if that solves the issue?

[2022-11-29 20:06] Jasper-Bekkers opened #4828 "[SPIRV] invalid OpTypeImage generated"
https://godbolt.org/z/dz51dnh8v

RWTexture<float3> gets an OpTypeImage of Rgba32, this seems incorrect. Presumably this should be Unknown instead (according to discussion with @HansKristian-Work

Ultimately resulting in a validation issue like this. (Note that the actual resource is 11.11.10 so a rgba32 classification is incorrect).
[code]

[2022-11-29 20:19] HansKristian-Work commented on #4828
HLSL semantics dictate that CapabilityStorageImageWriteWithoutFormat should always be used. CapabilityStorageImageReadWithoutFormat is a little more spicy, it's not supported everywhere. FL11 only requires R32_UINT/R32_FLOAT/R32_SINT to be supported, so the explicit type can be deduced, but this is relaxed in FL12+.

[2022-11-29 22:02] devshgraphicsprogramming commented on #2181
metoo

[2022-11-29 22:58] pow2clk commented on #4824
Hi @unit-a-user!

Wow. This is a lot in very few words. It's really several distinct issues. I'm going to declare that this bug is for adding SPIRV support for the descriptor buffer extension(s). I'll address the others here briefly, but please file separate bugs for them so we can track each issue indpendently.

1. Add `UniformDescriptorHeap`. I think in HLSL-speak this would be `ConstantBufferHe