[2020-09-01 02:36] kuhar commented on #3106
Thanks for reporting, @GregSlazinski. Assigning to Ehsan, since made the mentioned changes.

[2020-09-01 09:34] nickyc95 opened #3109 "[SPIR-V] Compiler crash when using mul on float4x1 and float1x4"
Hi,

We are experiencing a DXC compiler crash when running the following snippet of HLSL.
(This is a cut down version of a bigger shader which reproduces the crash)

[code]

The cause of the issue appears to be the `mul(delta, xT)`
Crash occurs at `IDxcCompiler::Compile`

**Compiles fine on:**

- FXC

- DXC (DXIL)

**Fails on:**

- DXC (SPIR-V)

Tested on ShaderPlayground DXC from trunk on 2020-02

[2020-09-01 14:19] #3079 closed

[2020-09-01 14:21] #3069 closed

[2020-09-01 16:20] ehsannas commented on #3108
closing this for two reasons:
a) This sounds like a quirk of Xcode. Compiles fine with `-GNinja`. See our CI buildbot [script](https://github.com/microsoft/DirectXShaderCompiler/blob/master/.travis.yml#L80) and [results](https://travis-ci.org/github/microsoft/DirectXShaderCompiler).
b) SPIRV-Tools is an [external dependency](https://github.com/KhronosGroup/SPIRV-Tools). The change will have to be

[2020-09-01 16:20] #3108 closed

[2020-09-01 16:21] ehsannas commented on #3109
Thanks for reporting @nickyc95. I'll take a look.

[2020-09-02 07:40] otanter-at-ubi commented on #2731
Actually, that limitation is already described in issue #2319:

[2020-09-02 07:44] otanter-at-ubi commented on #2319
Hi,
regarding point 2, I could indeed experiment the wrap around, as described in issue #2731 (where you can find an easy repro). The end result is that the shader compilation fails and returns rather unclear errors.

[2020-09-02 07:45] #2731 closed

[2020-09-02 07:45] otanter-at-ubi commented on #2731
duplicate #2319

[2020-09-02 14:28] Oli-Wright opened #3110 "IDxcContainerBuilder seems to demote lib_6_3 to lib_6_2"
### Title
IDxcContainerBuilder seems to demote lib_6_3 to lib_6_2

### Functional impact
Unable to use `IDxcContainerBuilder` to strip debug info from a `IDxcBlob` without it breaking.

### Minimal repro steps
Create a library `IDxcBlob` using the `lib_6_3` profile.
Load that into an `IDxcContainerBuilder` using `IDxcContainerBuilder::Load`
Serialise to a new `IDxcBlob` using `IDxcContainerBuilder

[2020-09-03 04:04] siliconvoodoo opened #3111 "Looks like -Fd doesn't work with -spirv"
I get "Unable to find required part in blob" if I attempt the acrobat move of building with -Zi -Fd -spirv

[2020-09-03 17:58] #3070 closed

[2020-09-03 19:26] #3078 closed

[2020-09-03 22:41] pow2clk commented on #3009
I'm going to tweak the example given a bit because arbitrary outs are allowed to be partially undefined for some reason that I have no reason to doubt is valid. This shader exhibits the same problem:

[code]

[2020-09-04 09:26] david-amer commented on #3078
Thanks for fixing it @ehsannas

[2020-09-04 19:01] tex3d commented on #2594
It turns out there was an existing issue: #1894.

[2020-09-05 10:13] turanszkij opened #3119 "[SPIR-V] store value of type 'RayQuery<0>' is unsupported"
Hi,
I am trying to compile shaders that use inline raytracing, but getting errors like:
`EXEC : error : store value of type 'RayQuery<0>' is unsupported`
Originally, I had some ray flags in there, but removed them to see if it helps, but no. Am I missing something?

I am using shader code like this:

[code]
(Which is part of a large forward rendering shader)

Thanks

[2020-09-05 12:41] turanszkij commented on #3119
I forgot to mention that this is only a problem when compiling SPIRV

[2020-09-08 15:06] ehsannas commented on #3119
Thanks for reporting @turanszkij

[2020-09-11 15:07] bluespeck commented on #2128
Hi @BitMD @tex3d, any update on this? Thanks a lot.

[2020-09-11 21:16] pow2clk commented on #2509
Closing under the assumption this is an NVIDIA driver issue.

[2020-09-11 21:16] #2509 closed

[2020-09-11 21:24] pow2clk commented on #2529
Fixed by #3122

[2020-09-11 21:24] #2529 closed

[2020-09-11 21:31] pow2clk commented on #642
Fixed!

[2020-09-11 21:31] #642 closed

[2020-09-11 21:32] pow2clk commented on #657
Supported!

[2020-09-11 21:32] pow2clk commented on #684
Fixed for ages

[2020-09-11 21:32] #684 closed

[2020-09-11 21:34] pow2clk commented on #1733
Lib_6_1 doesn't even exist anymore. This was an artifact of DXR development that has long been resolved.

[2020-09-11 21:34] #1733 closed

[2020-09-11 21:34] pow2clk commented on #1906
Fixed!

[2020-09-11 21:34] #1906 closed

[2020-09-11 21:35] pow2clk commented on #972
Related to #2537

[2020-09-11 21:36] pow2clk commented on #2184
Fixed!

[2020-09-11 21:36] #2184 closed

[2020-09-11 21:38] pow2clk commented on #2422
Fixed in newest version of the validator. dxil.dll will take a while to propagate out.

[2020-09-11 21:38] #2422 closed

[2020-09-11 21:50] pow2clk commented on #2577
Not a priority, won't fix.

[2020-09-11 21:50] #2577 closed

[2020-09-11 21:53] pow2clk commented on #2593
Fixed

[2020-09-11 21:53] #2593 closed

[2020-09-11 21:55] pow2clk commented on #2599
Here is the new release: https://github.com/microsoft/DirectXShaderCompiler/releases/tag/v1.5.2003

[2020-09-11 21:55] #2599 closed

[2020-09-11 22:01] pow2clk commented on #2608
No longer repros. Fixed!

[2020-09-11 22:01] #2608 closed

[2020-09-11 22:20] #2613 closed

[2020-09-14 15:44] #3109 closed

[2020-09-14 21:41] pow2clk commented on #2954
DXIL issue is not fixed.

[2020-09-14 22:21] vcsharma commented on #2537
Reopening this issue to make sure that this get fixed when I pull in my change.

[2020-09-15 02:14] ehsannas commented on #2954
uh, sorry I didn't realize this.

[2020-09-15 02:34] pow2clk commented on #2954
No problem, we were just doing bug triage and I thought I'd make sure since this wasn't an issue I'd looked at much before.

[2020-09-15 08:23] mkroll-nv opened #3130 "Slow compilation when inlining code without debug infos"
For some 4 MB generated HLSL code (which I'm not allowed to share :( ), involving quite a deep call graph with lots of calls, the compilation with the DirectXShaderCompiler (commit e3a83447474) is very slow.
Using the profiler of Visual Studio on a RelWithDebInfo build of dxc with "-T lib_6_5 <HLSL file>" as command line, I got this result (aborting after two minutes of compilation):

![image](htt

[2020-09-15 09:34] Piratkopia13 opened #3131 "[SPIR-V] Loading element from constant buffer arrays into variables produces invalid SPIR-V"
### Functional impact
Not allowing storing an element of a constant buffer array as a local variable forces array indexing to be used everywhere, causing messy code.

### Minimal repro steps
Compile the following test shader with `dxc.exe -T ps_6_0 -E main test.hlsl -spirv`
[code]

### Expected result
No error.

### Actual result
We get the following output:
[code]

### Further technical details
T

[2020-09-15 10:52] luckyxxl commented on #2663
fixed by https://github.com/microsoft/DirectXShaderCompiler/pull/3128

[2020-09-15 11:30] Dredhog opened #3132 ""error: reference to 'i' is ambiguous" where loop scoped variable should take priority. Other compilers have no issues"
### Title
Receive `error: reference to 'i' is ambiguous` where loop scoped variable `int i` should take priority. This issue is not present for `FXC`, `glslang` or `C++` compilers

### Functional impact
Failed compilation. Shaders with such shadowing occurrences are not forwards compatible with FXC.

### Minimal repro steps

1. Compile the following pixel shader with `dxc.exe -T ps_6_0 -E PSMain r

[2020-09-15 14:13] #2663 closed

[2020-09-15 19:14] ehsannas commented on #3131
Thanks for reporting @Piratkopia13

[2020-09-15 19:14] hekota commented on #2976
Jeff, if you have VS installed on the d: is there `vswhere.exe` in `c:\Program Files (x86)\Microsoft Visual Studio\Installer`? I am not sure how else to detect the VS install location since VS2019 does not populate the registry entry.

[2020-09-15 21:33] #2921 closed

[2020-09-15 21:59] jeffnn commented on #2976
I do have vswhere in that directory on my machine. TBH I can't remember, but i may originally have had VS on c:, then uninstalled it and re-installed it on d: in order to make space on c:
(So it's possible it wouldn't be there on c: if I had only ever installed on d:)

[2020-09-16 14:38] jaebaek opened #3134 "[spirv] use the debug info flags specified by OpenCL.DebugInfo.100 rather than uint32_t"
This issue is related to the debug information generation of SPIR-V backend (related PR: #3125).
Since SPIRV-Header supports enum values of the debug info flags that OpenCL.DebugInfo.100 specifies, we can use them instead of `uint32_t` values.
For example, change the `uint32_t flags` member of `SpirvDebugGlobalVariable` class.

[2020-09-16 14:42] jaebaek commented on #3134
Similarly, we have to use [Base Type Attribute Encodings](https://www.khronos.org/registry/spir-v/specs/unified1/OpenCL.DebugInfo.100.html#_base_type_attribute_encodings_a_id_basetypeattributeencoding_a) and [Debug Operations](https://www.khronos.org/registry/spir-v/specs/unified1/OpenCL.DebugInfo.100.html#_debug_operations_a_id_operation_a) instead of `uint32_t`.

[2020-09-16 14:44] jaebaek opened #3135 "[spirv] support "Type Qualifiers" for OpenCL.DebugInfo.100 instructions"
This issue is related to the debug information generation of SPIR-V backend (related PR: #3125).
See [Type Qualifiers](https://www.khronos.org/registry/spir-v/specs/unified1/OpenCL.DebugInfo.100.html#_type_qualifiers_a_id_typequalifiers_a).

[2020-09-16 14:45] jaebaek opened #3136 "[spirv] support class inheritance for OpenCL.DebugInfo.100 instructions"
This issue is related to the debug information generation of SPIR-V backend (related PR: #3125).

[2020-09-16 14:46] jaebaek opened #3137 "[spirv] support enum types for OpenCL.DebugInfo.100 instructions"
This issue is related to the debug information generation of SPIR-V backend (related PR: #3125).

[2020-09-17 06:57] MapleDropBear opened #3143 "std::iterator in DxilContainer.h"
In VS 16.7.3 DxilContainer.h has the error

`error C4996: 'std::iterator<std::input_iterator_tag,const hlsl::DxilContainerHeader *,ptrdiff_t,const hlsl::DxilContainerHeader **,const hlsl::DxilContainerHeader *&>': warning STL4015: The std::iterator class template (used as a base class to provide typedefs) is deprecated in C++17. (The <iterator> header is NOT deprecated.) The C++ Standard has never

[2020-09-17 09:57] Oli-Wright commented on #3110
Closing issue because it turns out this is a side-effect of another issue that is much simpler.

The issue was trying to use a `IDxcContainerBuilder` more than once.  It will work first time, but will fail on all subsequent calls to `IDxcContainerBuilder::Load` with `E_INVALIDARG`.

[2020-09-17 09:57] #3110 closed

[2020-09-18 14:15] kingofthebongo2008 opened #3146 "Invalid Pixel Shader generated"
Hello,

I get this message on create pipeline,

D3D12 ERROR: ID3D12Device::CreatePixelShader: Encoded Pixel Shader size doesn't match specified size. [ STATE_CREATION ERROR #93: CREATEPIXELSHADER_INVALIDSHADERBYTECODE]

float4 main()
{
    return float4(1,0,0,1);
}

when i change the shader to:

float4 main() : SV_TARGET0
{
    return float4(1,0,0,1);
}

everything is fine

Here is the generated f

[2020-09-18 17:33] azhirnov opened #3148 "[spirv] Invalid amplification shader generation"
I try to compile hlsl amplification shader with a DXC from Vulkan SDK 1.2.148.1 and vulkan crashes on pipeline creation.

[code]

ASM looks different than from GLSL source:
<details>
<summary>ASM listing for HLSL</summary>

[code]
</details>

<details>
<summary>ASM listing for GLSL</summary>

[code]

</details>

Also I have validation errors on amplification shader compilation because of missing l

[2020-09-18 22:07] jenatali opened #3150 "Unspecified behavior from new-to-DXIL idiv instruction"
DXBC had a udiv instruction, with clearly-spec'd behavior for corner cases like divide by 0 (should produce maximum uint).

DXIL introduces an idiv instruction, but doesn't specify what should happen with:
* Positive value / 0
* Negative value / 0
* INT_MIN / -1, which would evaluate to INT_MAX+1, but that can't be represented

[2020-09-19 06:58] Goshido opened #3151 "hctbuild failed when Visual Studio 2019 installed in the different place"
Recently I discovered than this [deploy instruction](https://github.com/microsoft/DirectXShaderCompiler/wiki/SPIR%E2%80%90V-CodeGen) doesn't work any more.

My target is:
- _Visual Studio 2019_ builder `v16.7.3`
- `x64` platform
- official release
- no `dxilconv`
- _SPIR-V_ support
- commit bf5d5854925a4d994d48e5ca8d5ac6bd6e636213

I'm working with _DXC_ about 6 month and did not have any problems

[2020-09-19 09:33] udnaan opened #3152 "dxc fails to run with error code 0x80004002 on linux"
## What

dxc fails with the following error

`dxc failed : error code 0x80004002.`

## Where
Debian 10.5 X86_64

## Why

The debugging leads to line 111 in `dxcapi.use.h`:
`HRESULT hr = m_createFn(clsid, riid, (LPVOID*)pResult);`

Which fails and throws an unknown exception.

## Workaround
Investigation lead to it being caused due to LD_LIBRARY_PATH containing `$VULKAN_SDK/lib` directory. Still no

[2020-09-19 13:04] turanszkij opened #3153 "[SPIR-V] GeometryIndex() doesn't compile"
Dear compiler team,

Is GeometryIndex() supposed to be usable in SPIRV KHR_raytracing shaders? The compiler can't compile a shader and suggest me to file a bug report with the following message:

[code]

The compiler arguments I am using are the following:
[code]

I can share the shader code:
[code]

Kind regards,
Janos

[2020-09-20 14:17] turanszkij opened #3154 "[spirv] -fvk-invert-y not available for Mesh Shader"
Hi,

Are mesh shaders planned to support `-fvk-invert-y` compiler switch? It would be useful in keeping the shaders identical between Vulkan and DX12. Currently it is only supported for VS, DS and GS.

Best regards,
Janos

[2020-09-21 15:14] ehsannas commented on #3148
Thanks for reporting @azhirnov

[2020-09-21 15:15] ehsannas commented on #3152
Thanks for reporting @udnaan

[2020-09-21 15:16] ehsannas commented on #3153
Thanks for reporting @turanszkij

[2020-09-21 15:17] ehsannas commented on #3154
Yes, I don't see why it should be limited to VS/DS/GS. Thanks for reporting @turanszkij

[2020-09-21 19:46] turanszkij commented on #3153
This is actually an incorrect report. The problem is not because of GeometryIndex(), but something else. It just happened that I had an incorrect `#define` that confused me. I still have the problem with compiling it. Could it be the array of ConstantBuffer<T> is the problem?

[2020-09-21 21:25] hekota commented on #3151
Hello Goshido, thanks for reporting! I'll take a look.

[2020-09-22 16:59] cbitsunil commented on #3097
I'm also getting similar failure 0x80004002 when I call DXCoreCreateAdapterFactory, as
` CComPtr<IDXCoreAdapterFactory> pFactory;
DXCoreCreateAdapterFactory(IID_PPV_ARGS(&pFactory));`

This is ported from windows.
This fails only when I use this code in dynamic library. In normal cases this is success.
Please let me know if anybody solved this issue.

[2020-09-23 00:00] siliconvoodoo commented on #3111
I agree with your questioning. I was imagining you'd know better than me, but from a very rough mind image I was expecting there may be some sort of DWARF-like format (or whatever) that RenderDoc supports. I guess in the end it's a matter of what debugging tools want as inputs. This could be a case for a discussion with Pix developers. In the meantime you could just implement a hard clear error "n

[2020-09-23 09:58] LLJJDD opened #3158 "[SPIR-V] noinline attribute does not prevent function from being inlined during SPIR-V generation"
I notice there is a `[noinline]` attribute in HLSL to hint that the function should not be inlined, but DXC will always inline all functions in SPIR-V.
Do we have a way to prevent specified function from being inlined in the final SPIR-V?

[2020-09-23 14:27] ehsannas commented on #3158
Thanks for reporting @lljjdd

[2020-09-23 19:02] #3151 closed

[2020-09-24 11:58] d11mshepcar commented on #1694
+1 for an opt out on this!

[2020-09-25 11:39] pow2clk commented on #3146
Without the semantic, this shader shouldn't compile:
[code]
Are you sure there isn't a compile failure occurring somewhere that is being ignored resulting in trying to create the pipeline with an empty pixel shader?

[2020-09-25 11:48] pow2clk commented on #3143
We build with VS 2019 regularly and I've never seen this error. It looks like it's a warning that is being reported as an error?

That said, while it would be nice to fix this use of deprecated behavior, it's not currently a priority. If you'd like to submit a PR, we'll happily accept it.

[2020-09-25 11:58] pow2clk commented on #3132
The scope of iterator variables in HLSL is unusual. The scope of `int i` would not be the local loop scope, but would be accessible following the loop as well. Discrepancies with c++ are expected. The glslang hlsl frontend is an attempt to match the behavior of dxc. So discrepancies there are usually bugs in glslang.

The difference with fxc is not expected. We try to match that behavior as much a

[2020-09-25 12:19] pow2clk commented on #3107
I am not sufficiently familiar with C# to answer your direct question, but perhaps the example presented by dndxc would help: https://github.com/microsoft/DirectXShaderCompiler/tree/master/tools/clang/tools/dotnetc

I don't know how cross platform it is I'm afraid.

[2020-09-25 12:37] pow2clk commented on #3072
Can you go into more detail about what aspects of the output are "horribly broken"?

The warnings you list suggest you are using FXC. Is that correct?

FXC is not in active development and this is not where issues pertaining to it should be reported. Please see https://github.com/microsoft/DirectXShaderCompiler/wiki/FAQ#what-happens-to-the-old-compiler-fxc

[2020-09-25 12:41] pow2clk commented on #3058
Hi @matthewjnv!

This is a known issue that I'm working on. Unfortunately, the fix isn't trivial.

In the meantime and even after, we strongly recommend using `-enable-16bit-types` unless you have a good reason not to.

[2020-09-25 12:46] pow2clk commented on #3044
This is something that clang provides with the `-CC` flag. Presumably we can add it without too much difficulty.

[2020-09-25 13:19] pow2clk commented on #2563
Apologies for the delayed response. FXC was inconsistent with and more aggressive at resource culling than was intended. That's why we are unwilling to propagate that inconsistent aggression to DXC.

We have designs to add support for constexpr or something similar which should help in these scenarios, but I'm afraid that's not a short term project either.

[2020-09-25 13:26] crazydef commented on #3072
The shader code produced was pretty much garbage.  Insofar as it just didn't work.  I didn't step through the compiled code to work out exactly what was broken (well, I tried, but the shader debugger couldn't understand what was going on either, hence my other bug report about that), but suffice to say the generated code from the two different types of loop wasn't comparable.

Here's a complete sh

[2020-09-25 13:42] pow2clk commented on #3072
Thanks for the complete shader. It's good to ensure we're using the same code.

Using the latest DXC compiler and also the version that ships with VS 2019, I see sensible minimal differences or no differences at all between the output.

Using the FXC that ships with VS 2019, I see large differences. I think it's clear that you are using FXC. I believe if you target a shader model < 6.0, visual stu

[2020-09-25 13:46] crazydef commented on #3072
Ah, makes sense.  I'm targeting shader model 5.0.

[2020-09-25 13:50] pow2clk commented on #2992
Hi @rpsathe!

Using the latest DXC, I cannot reproduce this issue. Can you confirm?

[2020-09-25 14:02] pow2clk commented on #2989
I introduced this bug with the change to error messages. The fix should be pretty simple.

[2020-09-25 14:08] pow2clk commented on #2977
Hi @CodedByATool

Thanks for the repro shader. though I had to move the `MAX_MESHLET_SIZE` up a few lines to get it to work for me, it was very helpful.

However, I cannot reproduce the issue with the latest DXC compiler. Can you confirm?

[2020-09-25 14:09] pow2clk commented on #2976
@hekota Did your recent changes to hctbuild.cmd resolve this?

[2020-09-25 14:12] pow2clk commented on #2965
The WDK requirement is a source of some consternation for us. We'd like to remove it as a requirement. That is likely the solution we'd prefer here. It requires getting a particular header from somewhere else or convincing those responsible for it to let us include it here, which is a whole deal. 🙄

[2020-09-25 14:22] pow2clk commented on #2935
thanks for the report!

Including a complete reproducing  shader here for reference:
[code]

[2020-09-25 14:28] pow2clk commented on #2910
Lacking any response, I'm closing under the assumption that my previous comment resolved the issue.

[2020-09-25 14:28] #2910 closed

[2020-09-25 14:32] pow2clk commented on #3072
In that case, given that there's a workaround for FXC, I'm afraid this is a won't fix.

Thanks for reporting and for your prompt responses!

[2020-09-25 14:32] #3072 closed

[2020-09-25 14:44] pow2clk commented on #2862
Hi @ghostplant!

I cannot reproduce this issue with the latest DXC. Can you confirm?

[2020-09-25 14:48] pow2clk commented on #2830
I think @tex3d fixed this with #2930

[2020-09-25 15:00] #2779 closed

[2020-09-25 15:03] pow2clk commented on #2768
Without a response since March, We're going to assume that Tex's guidance resolved the issue.

[2020-09-25 15:03] #2768 closed

[2020-09-25 15:07] pow2clk commented on #2755
Hi @scottkircher!

Sorry it took us so long to get to this. I'm afraid I'm unable to reproduce the issue with your description. Would it be possible to provide a short repro case to make sure we're on the same page?

[2020-09-25 15:10] pow2clk commented on #2749
@aras-p did @tex3d's suggestion work for you? Can we close this issue?

[2020-09-25 15:13] pow2clk commented on #2726
Hi @Nielsbishere!

Did you confirm the compiler version used? Can we close this issue?

[2020-09-25 15:30] pow2clk commented on #2654
@gongminmin fixed this. Thanks!

[2020-09-25 15:30] #2654 closed

[2020-09-25 15:37] pow2clk commented on #2652
I'm a bit confused by the source line you reference in dxc.cpp. I wonder if you meant to reference:

https://github.com/microsoft/DirectXShaderCompiler/blob/634a23537df7e85512437a4976f9bf9fcd095e18/lib/DxcSupport/HLSLOptions.cpp#L154

Which would make sense. I think `is_separator()` is platform specific. It should allow unix path separators for those build. I agree there's little reason to limit i

[2020-09-25 15:39] Nielsbishere commented on #2726
Oops sorry, yes. One of the versions from a few weeks ago still has this behavior even in the dxc standalone. It shows it as an option but when the option is used it doesn't recognize the arg.
The commit version is e107d88c81246428dada330cc6cfd7e47d5b0854 and I pulled the exes and dlls from the appveyor build, so it should be 100% fine.

[2020-09-25 15:48] pow2clk commented on #2651
While I recognize and respect that you can't share the full code, a simple repro would go a long way toward facilitating our ability to look at this and making sure we're on the same page. I took a crack at writing up a shader that met the criteria you laid out and I couldn't reproduce the crash. Here it is:

[code]

Could you suggest what this might be missing from this or else provide one of you

[2020-09-25 17:30] hekota commented on #2976
Yes, I believe this should be resolved by #3138.

[2020-09-25 17:30] #2976 closed

[2020-09-25 18:56] pow2clk commented on #2989
#3161 fixes the crash. This shader produces a lot of error messages, none of which are very helpful:

[code]

Particularly unhelpful is "exported library functions cannot have resource parameters or return value". Whaaaaaaat? I'd like to fix these, but I think the priority is to fix the crash. So I'm fixing that now.

[2020-09-25 19:41] Nielsbishere commented on #2651
It might be fixed in a newer version of dxc due to various commits since that time. I will get back to you on monday if I'm unable to reproduce this issue with the shader we encountered it in.
The example you stated seems fine, except we didn't specify the texture's format. Which to my knowledge does not matter, but might signal something internally if that can help you.
That's the minimal test ca

[2020-09-25 19:44] pow2clk commented on #2651
I was working under the assumption that the texture's format wouldn't matter. Again, I completely understand that you can't just dump your shaders here.

Monday will be fine. Thanks!

[2020-09-26 12:39] kingofthebongo2008 commented on #3146
Yes, I am.
However later i have discovered that i have not enabled the experimental options.
I think that it is just a new syntax, that works only with experimental options on

[2020-09-26 15:22] pow2clk commented on #3146
I'm glad that you have gotten things working, but experimental options wouldn't alter how this shader is parsed. I don't know how the shader I referenced could be compiled successfully under any circumstances except maybe if you were compiling it as a library, but that wouldn't produce any executable output, just metadata.

Anyway, can this issue be considered resolved?

If not, perhaps you could

[2020-09-28 02:53] rdunnington opened #3162 "C99 support"
Hi,

The old D3D compiler was a pure C-style interface, so interop between C and C++ wasn't an issue. The D3D11 and D3D12 APIs are C++, but they support the COBJMACRO interface, which allows for compatibility with C as well.

The new DXC interface is C++ but does not have any C support. It would be great to get the same level of parity for C as the rest of the D3D interfaces, using a similar COBJM

[2020-09-28 06:26] aras-p commented on #2749
Yeah the `IDxcCompiler3` interface to get to reflection works.

[2020-09-28 06:27] #2749 closed

[2020-09-28 11:40] Nielsbishere commented on #2651
Seems like it's fixed in the current version. 👍

[2020-09-28 11:40] #2651 closed

[2020-09-28 14:33] QuantumDeveloper commented on #3107
Is there some manual how to use it correctly? and Also is there some nuget package wit this code or I need to manually link it to my project somehow?

[2020-09-28 18:12] pow2clk commented on #3107
There is no manual. C# is not the primary path for using the DLL interface. I pointed to dndxc not as something to link to, but as an example of how the existing C++ compiler libraries can be linked to and used by a C# executable.

dndxc is a bit of a misnomer. It is not *the* dotnet version of dxc, it's just a utility app useful mostly to compiler developers that happens to use C# and links dxcom

[2020-09-28 18:37] QuantumDeveloper commented on #3107
Ah... Ok, now I see. Thanks for the hint. Will look into it in more details

[2020-09-28 23:17] mattruschnv opened #3164 "[SPIR-V] Support arrays of RW/append/consume structured buffers"
Currently I'm trying to port a shader which uses the following to Vulkan:
RWStructuredBuffer<TLASInstance>                  VisTLASInstances[]        : register(u0, space3);

It would be awesome if this were supported for spirv as well as dxil.

[2020-09-29 12:40] jkoenen opened #3165 "[SPIR-V] Line directives with filenames fail to compile for spirv-target with debug info"
The following code fails to compile when targeting spirv + enabled debug information:

[code]

Command line:
[code]

The output is:
[code]

We currently use paths to non-existing files in the line directives in our content pipeline. I assume that the content of the file shouldn't be read by the compiler.

It does compile fine without the spirv target.

[2020-09-29 15:28] cpt-max opened #3166 "[SPIR-V] Crash when compiling faulty shader to SPIRV"
Compiling this shader to SPIRV causes a crash, instead of outputting an error:
[code]
Removing the *1 at the end of the return statement will prevent the crash, and generate the appropriate error message (tex2D not supported).

Command line:
[code]

[2020-09-29 20:13] jaebaek commented on #3165
Hi @jkoenen Thank you for reporting this issue. I will take a look.

[2020-09-29 21:38] jaebaek commented on #3166
@cpt-max, thank you for reporting this issue. I will take a look.

[2020-09-29 21:43] jaebaek commented on #3164
@mattruschnv thank you for reporting this issue. First of all, we want to understand exactly what you want. Could you please share a full shader that I can compile?

In addition, if this is not supported for DXIL, then I recommend you not specifying it as "SPIRV" issue.
If it is in that case, we need a dicussion with DXIL developers to understand what we are missing (I guess probably AST parser do

[2020-09-29 22:18] mattruschnv commented on #3164
To clarify, it IS supported for DXIL.

[2020-09-30 08:28] Dredhog opened #3169 "[SPIR-V] Crash on assertion when compiling shaders containing SubpassInputs and global struct instances with resource only members"
### Title
Crash on assertion when compiling shaders containing `SubpassInput`s and global struct instances with resource only members

### Functional impact
Compiler crashes. Can't use SubpassInputs and sampler2D types emulated via custom structs and functions in the same shader.

### Minimal repro steps

1. Compile the following pixel shader with `dxc.exe -T ps_6_0 -E frag -spirv repro_shader.hls

[2020-09-30 17:39] #3165 closed

[2020-09-30 18:58] jaebaek commented on #3166
Just for note:
It happens because we do not support `tex2D`. See `tools/clang/lib/SPIRV/SpirvEmitter.cpp:7143`.

[2020-09-30 21:02] jaebaek commented on #3166
Do you think this code works for DXIL? I tested it in the [shader playground](http://shader-playground.timjones.io/4fdbc76154ac220e07f4ad966c53c3b3) but I cannot get the result ..
It says "error: Unsupported intrinsic".

[2020-09-30 22:00] cpt-max commented on #3166
Thanks for looking into this.
No, this code won't work for DXIL because of tex2D.
Just to be clear, I don't expect the shader to compile. The problem is solely that DXC crashes, instead of generating an error message.

[2020-10-01 12:49] Nielsbishere opened #3173 "DXC++ issue, last argument assumed as input file name"
In the latest build I pulled from appveyor (and a few before), DXC assumes the last argument passed is the input file name.
If you don't have an input file, it used to default to the file name "hlsl.hlsl", which could've been used as a hint and checked for compile error parsing.
Now it takes the last argument, regardless of if that argument is an input name or not. (So if your argument is /O3 it w

[2020-10-01 13:08] Nielsbishere opened #3174 "(Question): IDxcLinker functionality"
Hi,
Unfortunately I can't seem to find any documentation on the linker, but from what I saw from the command line tool and IDxcLinker class, it seems like there is no tool to optimize & validate multiple shader stage entries with each other. This would be very handy, because right now the ID3D12PipelineState will just report FAILED(hresult) if certain outputs/inputs are read from but not written t

[2020-10-01 17:42] ehsannas commented on #3169
Thanks for reporting @dredhog.

[2020-10-01 20:54] #3166 closed

[2020-10-02 10:20] seppala2 opened #3177 "[SPIR-V] Support ShaderRecordBufferKHR blocks"
Hello,

I see that ShaderRecordBufferNV is supported with [[vk::shader_record_nv]], but there is no option for the KHR version. A simple search and replace directly in SPIR-V seems to work although I haven't tested actually using the pipeline. However, a cleaner solution would be nice.

Also, somewhat related: support for buffer references, even if only for SPIR-V, would be useful specially with s

[2020-10-02 19:50] Dredhog opened #3178 "[SPIR-V] Using SV_Target and SV_Target0 in the same PS fails validation instead of printing an error"
### Title
Using SV_Target and SV_Target0 in the same PS fails validation instead of printing an error

### Minimal repro steps

1. Compile the following pixel shader with `dxc.exe -T ps_6_0 -E PSMain -spirv repro_shader.hlsl`
[code]
### Expected result
An error is printed e.g. like the one with the DXIL backend: "Function: PSMain: error: Parameter with semantic SV_Target has overlapping semantic i

[2020-10-02 21:59] pow2clk commented on #2755
If you come up with a shader, please file a new issue. Lacking a response or a repro, I'm closing this.

[2020-10-02 21:59] #2755 closed

[2020-10-02 22:11] pow2clk commented on #2830
Lacking any response, we will assume this is resolved. Open a new issue if there is a problem with it.

[2020-10-02 22:11] #2830 closed

[2020-10-02 22:49] pow2clk commented on #2862
Assuming the the issue is resolved. If otherwise, please open a new issue.

[2020-10-02 22:49] #2862 closed

[2020-10-02 22:57] pow2clk commented on #2888
repro shader:

cbuffer Sample
{
    int4 __packed[16];
};

static int arrayReallyWant[64] = (int[64])__packed;

int4 main() : SV_Target {
    return arrayReallyWant[0];
}

There's a lot of unnecessary copying going on here.

[2020-10-02 23:14] pow2clk commented on #2977
Assuming this is resolved. If not, please let us know.

[2020-10-02 23:14] #2977 closed

[2020-10-02 23:21] pow2clk commented on #2992
Assuming this is resolved. Let us know if it isn't.

[2020-10-02 23:21] #2992 closed

[2020-10-03 03:43] #2743 closed

[2020-10-05 23:48] pow2clk commented on #3107
We are going to work on improving this interface. We plan to be using IDL to generate the header which should facilitate this interface.

Thanks for bringing this up! let us know if you have other issues.

[2020-10-05 23:48] #3107 closed

[2020-10-05 23:54] pow2clk commented on #3132
We have a longstanding intention of fixing the scoping weirdness as documented here. #584 So we're going to consider this a duplicate of that.

[2020-10-05 23:54] #3132 closed

[2020-10-05 23:56] #3143 closed

[2020-10-05 23:57] #3146 closed

[2020-10-06 07:26] nickyc95 opened #3186 "[SPIRV] EvaluateAttributeAtSample intrinsic function unimplemented"
Hi,

I am trying to use the following intrinsic functions in a HLSL shader, which gets converted to SPIRV via DXC.

`EvaluateAttributeAtCentroid`, `EvaluateAttributeAtSample`, `EvaluateAttributeSnapped`

However I get the following error message on compilation:
`error: EvaluateAttributeAtSample intrinsic function unimplemented`

Are there any plans to implement this?

DXC Version: Compiled locally

[2020-10-06 20:29] #2989 closed

[2020-10-07 13:54] nickyc95 opened #3189 "[SPIR-V] Descriptor bindings assigned before dead code elimination"
Hi,

I am running into an issue where the binding numbers that are being assigned are not quite what I expect.

If you have a shader with 2 unused Cbuffers, then a CBuffer that is used you will end up with Set 0, Binding 2. I would expect it to be Set 0, Binding 0.

(I am using the shift functionality to move the textures and samplers so that buffer start at 0)

In the resulting Spirv I can see th

[2020-10-07 18:45] turanszkij commented on #3001
Hello, is there any news on this? I am getting certification errors for the dxcompiler.dll
![certfail](https://user-images.githubusercontent.com/12954849/95373889-e6ecb800-08dd-11eb-9b8b-94610e081507.png)

[2020-10-07 21:42] dmpots opened #3192 "Unnecessary bool->int conversions"
I see some boolean values get converted to integers. These conversions are unnecessary. I would expect the values to remain as bools.

[code]

Compiling that shader I see the following (snipped) dxil

[code]

Notice how the `bool b1` is converted to an i32 here (it's the %v.10 (bool) -> %v.11 (i32) that is not needed). We should pass around %v.10 directly.

I see that clang 3.7 will also keep the

[2020-10-07 22:07] hekota commented on #3001
Where does the dxcompiler.dll come from, the Windows SDK? Can you please try the [March pre-release ](https://github.com/microsoft/DirectXShaderCompiler/releases) version here on GitHub?

[2020-10-07 22:52] turanszkij commented on #3001
Hi, thanks for the suggestion, but it has the same issue. I am using a later version anyway, from the master branch from around July I think.

[2020-10-08 00:15] #657 closed

[2020-10-09 13:37] bqqbarbhg opened #3196 "[SPIR-V] Signed integer min/max atomics generate invalid SPIR-V"
Using `InterlockedMin()` or `InterlockedMax()` with signed integers fails with the following error:

[code]

In the actual code the argument to `InterlockedMin()` is loaded from a `groupshared` buffer but it seems to happen with only local constant value as well. Here's a simplified example code causing the issue:

[code]

Using a signed offset to `InterlockedMin()` does not resolve the issue nor

[2020-10-09 15:07] ehsannas commented on #3196
Thanks for reporting @bqqbarbhg

[2020-10-09 16:02] akioCL commented on #2498
Hi:

Anybody knows if there's an update on this feature? I'm having issues reading from a RWTexture2D with format rgba16f on some Android devices (Pixel 3).

Thanks!

[2020-10-11 01:16] RossNordby opened #3197 "[SPIR-V] Silent failure on resource-typed function parameters with vulkan1.2 environment"
Attempting to compile the following:
[code]
with:
`dxc -spirv "Repro.hlsl" -T cs_6_0 -E CSMain -fspv-target-env=vulkan1.1 -Fo "output.spirv"`
works as expected, but changing it to vulkan1.2:
`dxc -spirv "Repro.hlsl" -T cs_6_0 -E CSMain -fspv-target-env=vulkan1.2 -Fo "output.spirv"`
causes no output to be generated.

Observed on windows with dxcompiler.dll versions 1.6 - 1.5.0.2884 (0474df55) and 1

[2020-10-12 09:57] LLJJDD opened #3198 "[SPIR-V] sizeof() gets wrong value when used in a non-entry function"
The shader:
[code]

Using command: `dxc -spirv -E main -T cs_6_0 shader.hlsl -fcgl`

The result is:
[code]

You can see that in `main()`, `sizeof(StructA)` calculates to 24, but in `foo()`, it is 32.

[2020-10-12 15:48] QuantumDeveloper commented on #3107
@pow2clk Could you please say when do you plan to do this header generation? At least approximately.

[2020-10-12 18:00] RossNordby commented on #3197
Just remembered that the dxc -help says that the valid parameters are vulkan1.0 and vulkan1.1, not vulkan1.2, so that could pretty well explain this :P

Surprised that I only ever encountered any issues with this specific construction.

[2020-10-13 04:20] LLJJDD commented on #3198
Additional questions:
1. Which size is the correct one? Should there be padding in the structure?
2. When interacting with RWByteAddressBuffer, using a `RWByteAddressBuffer.store<StructA>` or `RWByteAddressBuffer.load<StructA>`, should there be padding between structure members?

[2020-10-13 14:42] ehsannas commented on #3197
Thanks for reporting @RossNordby

[2020-10-15 02:39] KuribohG opened #3204 "Shader compile success when using UTF-8 with BOM but failed when using UTF-8 (no BOM)"
I am using VSCode to write my shader with some Chinese annotations. However, when I save the file with UTF-8 (no BOM), the compiling process will fail.

The error message is:
`dxc failed : error code 0x80070459`

Even I remove all my Chinese annotations, the included files in my shader also contain some Chinese annotations. This time, the message is confusing. The compiler will complain the includ

[2020-10-15 21:05] jaebaek commented on #3198
Hi @LLJJDD, thank you for reporting this issue.
In terms of your questions,

1. In my opinion, it should be `24` because DXIL backend generates `24`: http://shader-playground.timjones.io/5a07735e693ec2d141d8b492539166c0

For this decision, we have to consider whether it aligns with the rule of Vulkan or not.
Since `sizeof(StructA)` is not coupled with any storage class (it is not an actual storage

[2020-10-15 21:05] jaebaek commented on #3198
Let me know if I am wrong or if you have a different opinion.

[2020-10-16 08:18] LLJJDD commented on #3198
Thanks for the explanation, it basically matches my thoughts.

I will open a PR later to fix this issue.

[2020-10-16 15:40] Dredhog opened #3207 "Can't have resources in entry point parameter list (works with FXC)"
### Title
Can't have resources in entry point parameter list (works with FXC)

### Functional impact
Shaders whose entry points contain resource definitions in the parameter list no longer compile. This breaks backward compatibility with FXC which allowed this kind of resource binding syntax.

### Minimal repro steps

1. Compile [repro_shader.txt](https://github.com/microsoft/DirectXShaderCompiler

[2020-10-16 15:42] jaebaek commented on #3198
Oh I already sent one. PTAL #3208

[2020-10-19 08:41] Dredhog opened #3209 "[SPIR-V] Using RWTexture2D or RWBuffer with min precision types crashes the compiler"
### Title
Using RWTexture2D or RWBuffer with min precision types crashes the compiler

### Functional impact
SPIR-V backend crashes during compilation and produces errors not present with the DXIL backend when using `min16` typed resources. FXC also compiles successfully.

### Minimal repro steps

1. Compile [repro_shader.txt](https://github.com/microsoft/DirectXShaderCompiler/files/5400216/repro_

[2020-10-19 18:41] ehsannas commented on #3209
Thanks for reporting @dredhog

[2020-10-20 15:32] jeremyong opened #3210 "Feature request: non-wchar/wstring interface"
Certainly for fixed arguments and options (`-Zi`, `-Qstrip=reflection`, etc), wide strings don't make a lot of sense. In particular, I imagine the reason wide strings are used are for filenames for things like shader debug names, pdb paths, etc. However, even with the Win32 API, the `*A` variants exist for cases where "wide-unicode" isn't needed.

Urgent? No, not at all, but it would be appreciate

[2020-10-21 09:53] Dredhog opened #3213 "[SPIR-V] Reading or writing a struct's member from a derived struct's method causes SPIR-V codegen errors"
### Title
 Reading or writing a struct's member from a derived struct's method causes SPIR-V codegen errors which ask to report a bug

### Functional impact
Compilation fails with the SPIR-V backend. Does not fail with the DXIL backend or FXC.

### Minimal repro steps

1.1. Compile [read_issue.txt](https://github.com/microsoft/DirectXShaderCompiler/files/5414931/read_issue.txt)  (seen below) with

[2020-10-21 10:16] Dredhog opened #3214 "[SPIR-V] Forward declaring a function inside another function causes a compiler crash"
### Title
Forward declaring a function inside another function causes a compiler crash.

### Functional impact
Can't have forward declarations inside functions. Breaks compatibility with the DXIL backend and backward compatibility with FXC which compile the following example fine.

### Minimal repro steps

1.1. Compile [forward_decl_issue.txt](https://github.com/microsoft/DirectXShaderCompiler/fil

[2020-10-21 16:45] #3198 closed

[2020-10-23 09:27] Dredhog opened #3218 "Using Texture2D<bool*>.Load results in validation errors with both DXIL backends (not with FXC)"
### Title
Using Texture2D<bool*>.Load results in validation errors with both DXIL and SPIR-V backends (not with FXC)

### Functional impact
Cannot use bool typed textures. Breaks compatibility with FXC.

### Minimal repro steps

1. Compile the following shader with `dxc.exe -T ps_6_0 -E PSMain issue_shader.txt`:
[code]
2. Observe compiler output for the DXIL backend:
[code]
3. Compile the same sha

[2020-10-24 00:10] pow2clk commented on #2443
The day has come! https://github.com/microsoft/DirectXShaderCompiler/releases/tag/v1.5.2010

If issues are found with this build, please file new issues with the [SPIR-V] tag in the title.

[2020-10-24 00:10] #2443 closed

[2020-10-24 00:11] pow2clk commented on #2443
Thanks to @hekota for all her work on this!

[2020-10-24 01:23] ehsannas commented on #2443
Thanks @hekota for making this happen!

[2020-10-26 15:44] Jasper-Bekkers commented on #2443
Thanks, this is great news!

[2020-10-28 10:10] Triang3l opened #3221 "[SPIR-V] FMin/FMax/FClamp NaN handling contradicts HLSL specification"
Currently the SPIR-V emitter generates FMin, FMax and FClamp instructions for min, max, clamp and saturate. The [specification of the GLSL.std.450 instruction set](https://www.khronos.org/registry/spir-v/specs/1.0/GLSL.std.450.html) states that "which operand is the result is undefined if one of the operands is a NaN". This is in contrast with the [DXIL](https://github.com/microsoft/DirectXShaderC

[2020-10-29 12:38] mattshepcar opened #3225 "RWByteAddressBuffer.Store<float4x4> only stores the first four floats"
### Title
`RWByteAddressBuffer.Store<float4x4>(...)` only stores the first four floats

### Functional impact
Storing matrices generates incorrect code that leaves the buffer contents incomplete.

### Minimal repro steps
Here is a simple shader that demonstrates the issue.
[code]
I compiled this with `dxc -T ps_6_2 test.hlsl`

### Expected result
Sufficient rawBufferStore ops should be generated t

[2020-10-29 16:23] mattshepcar opened #3226 "RWByteAddressBuffer.Store<T> where T is a struct containing a matrix causes compiler to crash"
### Title
`RWByteAddressBuffer.Store<T>(...)` where T is a struct containing a matrix causes compiler to crash

### Functional impact
Cannot write code that stores structs containing matrices

### Minimal repro steps
Here is a simple shader that demonstrates the issue.
[code]
I compiled this with `dxc -T ps_6_0 test.hlsl`

Here is [a shader playground link](http://shader-playground.timjones.io/d30

[2020-10-30 14:10] nickyc95 opened #3228 "[SPIR-V] Which memory layout should I be using? DX12->VK"
Hi,

I am currently working on porting some of my DX12 shaders over to Vulkan via DXC..

I'm a little confused as to which Memory layout I should be using..

I have some structs (in both CPP and HLSL) for example:
[code]

When using vk or gl memory layout rules, the data becomes mismatched after the "view" member, due to it requiring different alignment in a Storage buffer on the shader side..
I c

[2020-11-01 11:39] mrvux commented on #657
Thanks, I finally had time to try it, seems there is some partial support, also I could see a few issues

Taking this extremely simple code :

    float3 Apply(float3 input)
    {
	    return input * 2.0f;
    }

accessing reflection gives a mangled name in function desc :

     D3D12_FUNCTION_DESC func_desc;
     auto fr = lib_ref->GetFunctionByIndex(0);
     fr->GetDesc(&func_desc);

func_desc.N

[2020-11-02 07:27] #3228 closed

[2020-11-02 16:44] ehsannas opened #3236 "[SPIR-V] Using Texture2D<bool*>.Load results in validation errors"
### Title
Using Texture2D<bool*>.Load results in validation errors with both DXIL and SPIR-V backends (not with FXC)

### Functional impact
Cannot use bool typed textures. Breaks compatibility with FXC.

### Minimal repro steps

1. Compile the following shader with `dxc.exe -T ps_6_0 -E PSMain issue_shader.txt`:
[code]
2. Observe compiler output for the DXIL backend:
[code]
3. Compile the same sha

[2020-11-02 16:46] ehsannas commented on #3218
To track progress of DXIL and SPIR-V separately, I have filed https://github.com/microsoft/DirectXShaderCompiler/issues/3236 for the SPIR-V side.

This issue can track the fix for DXIL.

[2020-11-02 16:47] ehsannas commented on #3236
This issue is also reported for the DXIL backend (tracked by https://github.com/microsoft/DirectXShaderCompiler/issues/3218)

[2020-11-02 19:08] pow2clk commented on #657
Hi @mrvux!

The name mangling is intentional I'm afraid. See this line where the mangled name return is tested: https://github.com/microsoft/DirectXShaderCompiler/blob/075d3ce9ef70820efea79d3c256183e19d36bb14/tools/clang/unittests/HLSL/DxilContainerTest.cpp#L1280

To demangle it, you might consider the fairly simple approach taken by the internal code: https://github.com/microsoft/DirectXShaderCom

[2020-11-02 20:29] tex3d commented on #657
While we implemented some library reflection through the `ID3D11LibraryReflection` interface, there are fundamental differences between what a library is and what it's used for in D3D11 with FXC and DXBC vs. D3D12 with DXC and DXIL.  One (DXBC) consists of shader snippets used exclusively for constructing function linking graphs at runtime in D3D11, and the other (DXIL) is more similar to a C++ li

[2020-11-03 06:44] LLJJDD commented on #3158
Issue fixed.

[2020-11-03 06:44] #3158 closed

[2020-11-03 11:23] mrvux opened #3237 "Library Reflection : Listing parameters return E_FAIL"
As specified in #657

Creating a simple function compiled as a library

    float3 Apply(float3 input)
    {
       return input * 2.0f;
    }

Calling reflection on the library :

    D3D12_FUNCTION_DESC func_desc;
    auto fr = lib_ref->GetFunctionByIndex(0);
    fr->GetDesc(&func_desc);

    D3D12_PARAMETER_DESC pdesc;
    auto p = fr->GetFunctionParameter(0);
    HRESULT hr = p->GetDesc(&pdesc

[2020-11-03 11:43] mrvux opened #3238 "IDxcLinker : Allow to provide a different function name"
Hello, while using linker features, I stumbled on the following :

Let's take this simple pixel shader :

    float4 Blend(float4 c1, float4 c2, float a);

    float4 PS(float4 p : SV_Position) : SV_Target
    {
        float4 c1 = //do something
        float4 c2 = //do something
        return Blend(c1,c2, a);
    }

In order to link a function to this shader, name must be matching eg :

   floa

[2020-11-04 14:03] d11mshepcar commented on #3164
We'd very much like to see support for this too to enable a bindless model for RWStructuredBuffers in vulkan as well as dx.

[2020-11-04 21:58] #2920 closed

[2020-11-07 19:18] Pursche opened #3247 "Generated SPIR-V is invalid"
Hello, I am trying to compile this compute shader implementation of bitonic sorting into SPIR-V and it is giving me this error:

[code]

Here is the shader I am trying to compile: https://pastebin.com/Zr4hamJa
I am using the DX Compiler release for October 2020, I invoke the shader compiler in ShaderModel 6.5 with these flags (using the library if that matters):

`
-spirv
-fvk-use-gl-layout
-Zpr
-

[2020-11-09 16:19] LukasBanana opened #3248 "[SPIR-V] Workgroup memory not allowed in tessellation-control shader"
According to the SPIR-V specification, workgroup memory (`shared` in GLSL) is only allowed in the compute shader stage (as well as the new mesh and task shader stages). However, DXC generates this to communicate patch constant data in a tessellation control shader as intermediate storage. The SPIRV-Tools validation does not catch this error and causes a triangle soup on NVIDIA hardware and a crash

[2020-11-09 18:29] ehsannas commented on #3247
Thanks for reporting @pursche.

[2020-11-09 18:29] ehsannas commented on #3247
@jaebaek  this seems to be related to debug info codegen.

[2020-11-09 18:34] ehsannas commented on #3248
Thanks for reporting @LukasBanana

[2020-11-10 16:04] ehsannas commented on #3248
@jaebaek this is related to PR #3059 . I can't remember exactly why the switch to Workgroup happened? Is it because of sharing memory among different invocations? IIUC the patch constant function is called only once for each patch, so theoretically there shouldn't be a need to share data among threads.

[2020-11-10 16:17] LukasBanana commented on #3248
PR #3059 introduced shared memory because DXC previously declared a local function array and assumed it is shared across invocations. Maybe a typo when the code was initially submitted. But we definitely need to share data across invocations for certain tessellation shaders such as PN-triangles. It would be optimal to utilize the output attributes that are already allocated. The single invocation

[2020-11-10 16:42] ehsannas commented on #3248
Ah makes sense. Thanks for the clarification.

[2020-11-10 17:53] dozone27 opened #3249 "DXC crashes with incorrect sampler register setup"
Hi team, due to a bug in our engine, we ran into a case that would cause dxc.exe to crash.

**Sample code:**

[code]

The above code crashes with executable using either dxcompiler_x.dll and dxcompiler_xs.dll.

The crash also repros with using both dxc.exe for xbox and scarlett.

The dxc.exe for PC, on the other hand, correctly outputs an error message:

[2020-11-10 20:51] ehsannas commented on #3169
Sorry for the delay. I'll look into this soon.

[2020-11-11 13:00] xxxbxxx commented on #2810
Any news about this issue?
While it's possible to add an explicit cast to fix it, it's not easy to track down the source location from the error...

[2020-11-11 17:49] jeffnn opened #3251 "Missing implementation for HLOpcodeGroup::NotHL in TranslateCBAddressUserLegacy"
Repro:

Compile the following, (I used  as_6_5, /Zi -enable-16bit-types /Qembed_debug )

[code]

I hit this line in TranslateCBAddressUserLegacy, HLOperationLower.cpp:6207:

      DXASSERT(0, "not implemented yet");

The call instruction at issue is:
CI->dump()
  call void @llvm.memcpy.p0i8.p0i8.i64(i8* %4, i8* %5, i64 80, i32 1, i1 false), !dbg !44

This assert is firing because the called functi

[2020-11-11 18:42] jaebaek commented on #3248
@LukasBanana Thank you for reporting this issue. Yes, I considered reverting the change (#3059 ) because the `Workgroup` storage class is not allowed in the tessellation shader.

Just I do not clearly understand what would be the correct implementation because I am not versed on the tessellation shaders.
I just sent a PR to revert the commit: #3252.
Could you please test the PR for your tessellati

[2020-11-11 20:27] LukasBanana commented on #3248
@jaebaek your PR will definitely not work with our tessellation shaders, because it uses a function local array again just like before, i.e. `hullMainOutputPatch` is allocated with `spvBuilder.addFnVar`. Your idea to use Workgroup memory was not a bad one though. I had the same idea for our older DXC fork which doesn't include your change. Then I figured out that Workgroup memory is not supported

[2020-11-11 20:59] ehsannas commented on #2810
This happens because there's a cast node missing in the AST. We have a workaround for it in the SPRI-V backend code, but looks like we didn't apply the workaround in this particular case. I'll have a fix shortly.

[2020-11-11 21:20] simondeschenes commented on #2819
Being able to use buffer references would be really useful for some of our more complex algorithms.

[2020-11-12 20:27] ehsannas commented on #3100
This is expected I'm afraid. DXC relies on SPIRV-Tools (`spirv-opt` in particular) to properly handle these structures. What essentially happens is that spirv-opt "flattens" these structures and resolves all references to their members as standalone resources with their own dset/binding. So, sadly as it stands today, disabling spirv-opt will prevent this from working.

[2020-11-12 23:26] jeffnn opened #3259 "Crash in TranslatePtrIfUsedByLoweredFn"
Repro:

Compile the following, (I used as_6_5, /Zi -enable-16bit-types /Qembed_debug )

'''
Texture2D<float4> g_texture;

struct smallPayload
{
	Texture2D<float4> texture;
};

[numthreads(1, 1, 1)]
void main()
{
    smallPayload p;
    p.texture = g_texture;
    DispatchMesh(1, 1, 1, p);
}
'''

Result: assertion failure and then crash in TranslatePtrIfUsedByLoweredFn

[2020-11-12 23:57] jeffnn commented on #3259
It appears to be because of this explicit check in GetLoweredUDT:
      // We cannot lower a structure with an embedded object type
      return nullptr;

I added a check for null in the caller and this allowed the code to continue to a reasonable error:

Error: source.hlsl:18:5: error: phi/select disallowed on pointers to local resources.
    DispatchMesh(1, 1, 1, p);

[2020-11-13 15:01] matt77hias opened #3260 "[SPIR-V][Bug]: struct inheritance: generated SPIR-V is invalid"
**Code**:

[code]

**Without** -Vd:
http://shader-playground.timjones.io/d5bf806acc5f97b8891283fc31a34dda

[code]

**With** -Vd:
http://shader-playground.timjones.io/9943204e658ab2aefb43918c2a291c88

[2020-11-13 16:59] ehsannas commented on #3260
This seems related to (if not the same as) #3213. I'll start looking into it soon.

[2020-11-13 16:59] ehsannas commented on #3213
I'll look into this soon.

[2020-11-13 18:08] ehsannas commented on #3100
I just realized that we can modify the interaction between DXC and `spirv-opt` such that we run the necessary spirv-opt pass for such cases as part of "legalization" rather than "optimization" (which sounds like a better fit anyway, as without this the result is not valid/legal).

I've been thinking about whether moving this pass earlier in the flow could have any unforeseen consequences, but I ca

[2020-11-13 18:30] ehsannas commented on #3100
Posted the PR. @Dredhog Please let me know if you face any issues with this. Thanks!

[2020-11-13 19:08] MarijnS95 commented on #3097
Noticed this issue only just now, you're likely compiling it with gcc? This is not an issue on Clang which supports msvc extensions (what you pulled from build artifacts), but on other compilers These IIDs are emulated in a way that doesn't allow your usecase.

Should be fixed by https://github.com/microsoft/DirectXShaderCompiler/pull/3062

[2020-11-13 23:32] jaebaek commented on #3248
@LukasBanana Could you please check this branch: https://github.com/jaebaek/DirectXShaderCompiler/tree/hull_shader?
I do not have good shaders to test my code.
Could you please provide me with a shader and briefly desribe what the expected result is? it would be very helpful for me to understand the requirement clearly.
I tried to test [SaschaWillems tessllation shaders](https://github.com/SaschaW

[2020-11-16 09:18] Dredhog commented on #3100
Great news @ehsannas, I'll try it out!

[2020-11-16 15:15] #3100 closed

[2020-11-16 15:55] LukasBanana commented on #3248
@jaebaek It seems that Sascha's tessellation shaders compute the patch constant data redundantly in every tess.-control invocation. In UE4, we do that in only one invocation using the `[patchconstantfunc(string)]` attribute. It is hard to tell which approach has a better performance, but the patch constant function's sole purpose is to compute everything that is constant throughout an entire patch

[2020-11-16 16:01] jaebaek commented on #3248
@LukasBanana Thanks. Let me send a PR after testing your example and adding an unit test to the branch.

[2020-11-16 16:04] #3169 closed

[2020-11-16 16:04] #2810 closed

[2020-11-16 22:39] ehsannas commented on #3260
Ok, so found out this is different from issue #3213

[2020-11-17 12:31] Dredhog commented on #3100
Seems to be fixed, didn't find any regressions!

[2020-11-17 16:04] ehsannas commented on #3100
Awesome! Thanks for checking 👍

[2020-11-18 02:45] hamwj1991 opened #3266 "Crash by iterator checking on visual studio debug configuration"
branch: refs/remotes/origin/release-1.5.2010
file: DxilContainerReflection.cpp : 2323
env: visual stduio 2019, debug
problem: iterator was compared with iterator from another container, which triggered a iterator safe checking assert "map/set iterators incompatible"

[2020-11-18 08:34] Evil-Ryu opened #3267 "Generated "OpConstantNull %type_2d_image" when using with RayQuery"
Hi, I'm compling HLSL to spirv using dxc, got this error:

[code]

The command line to compile  [The Shader](https://pastebin.com/XGmhWAQf):
`
dxc.exe -Zpr -Od -T ps_6_5 -E main_00000000_00000000 -spirv -fvk-use-dx-position-w -fspv-reflect -fspv-target-env=vulkan1.2  test.hlsl
`

I used a struct which contains a texture, and declared the struct inside main function.
The error happens only when I a

[2020-11-18 15:24] ehsannas commented on #3267
Thanks for reporting @Evil-Ryu.

[2020-11-19 01:01] magcius opened #3269 "No default typedef for FLOAT"
FXC: http://shader-playground.timjones.io/0f5483563cb5ac0a4c79a4addc8df028
DXC: http://shader-playground.timjones.io/6e3a6cdb16fd9a3e880864f499d48318

This isn't a big issue in practice, except D3DX_DXGIFormatConvert.inl seems to use FLOAT rather than float, leading to it failing to compile properly under DXC.

[2020-11-19 17:02] #3247 closed

[2020-11-19 18:19] #3213 closed

[2020-11-19 23:14] jeffnn opened #3274 "Can't pass derived structs to DispatchMesh (with -Od)"
Repro:

Compile the following, (I used as_6_5, /Zi -Od -enable-16bit-types /Qembed_debug )

[code]
Produces this error text:

error: validation errors
source.hlsl:16:5: error: Pointer type bitcast must be have same size.
note: at '%2 = bitcast %struct.Derived* %1 to %struct.Base*' in block '#0' of function 'main'.
Validation failed.

Compilation succeeds if you add a cast to Base like so:
    Disp

[2020-11-20 08:08] expipiplus1 opened #3275 "CMake fails to generate build files, missing the AMDGPU LLVM target"
I've encountered this with `HEAD` and `v1.5.2010` on Linux

To reproduce:

- Install python3 and CMake
- Clone this repository and its submodules and navigate to it
- mkdir build && cd build
- cmake ../
- Observe this error:

[code]

CMake's error and output logs are here, although there's probably not anything enlightening there: https://gist.github.com/554cbeca1cc741d43e1f81f13b845802

Given tha

[2020-11-20 08:10] expipiplus1 commented on #3275
And the solution is to pass the contents of `../utils/cmake-predefined-config-params` to cmake as instructed to in the build script.

[2020-11-20 08:10] #3275 closed

[2020-11-20 10:42] expipiplus1 opened #3276 "Install target installs lots of unnecessary LLVM outputs"
At the moment running `make install` (or `ninja install`) installs heaps of clang and llvm build products. I would expect that only the dxc executable, dxc headers and dxc libraries would be built and installed, i.e. what is copied here: https://github.com/microsoft/DirectXShaderCompiler/blob/master/appveyor.yml

Currently the following files are installed: https://gist.github.com/6270e81dd239ccec

[2020-11-20 16:36] Jasper-Bekkers opened #3277 "Remove voice from build script"
Please, please, remove the voice from the build scripts.

[2020-11-20 16:45] Jasper-Bekkers commented on #3277
While we're on the subject of improving the build system, please also don't add shortcuts to my desktop.

[2020-11-20 19:09] ehsannas commented on #3276
Thanks for reporting @expipiplus1

[2020-11-20 23:18] #2680 closed

[2020-11-20 23:18] #3097 closed

[2020-11-21 02:44] expipiplus1 commented on #3276
Actually on this topic, I notice that the `include/dxc` directory has quite a lot of stuff which isn't dxc specific (like CMakeLists.txts and even `d3dx12.h`)

[2020-11-23 15:21] Dredhog opened #3278 "[SPIR-V] SV_ClipDistance variable not allowed to be of array type (works with DXIL backend and FXC)"
### Title
SV_ClipDistance variable not allowed to be of array type (works with DXIL backend and FXC)

### Functional impact
Breaks compatibility with DXIL backend and FXC. The issue appears to have been fixed for the DXIL backend some time ago https://github.com/microsoft/DirectXShaderCompiler/issues/2057 but not for the SPIR-V backend.

### Minimal repro steps

1. Compile the following shader wit

[2020-11-24 12:52] Dredhog opened #3280 "[SPIR-V] Reading from a RWTexture2D with a min precision template argument produces validation errors (good with DXIL backend or FXC)"
### Title
[SPIR-V] Reading from a RWTexture2D with a min precision template argument produces validation errors (good with DXIL backend or FXC)

### Functional impact
Compilation fails. The generated compiler message asks to report a bug. This only happens with the SPIR-V backend, the repro shader compiles for the DXIL target or with FXC without issues.

### Minimal repro steps

1.1. Compile the f

[2020-11-24 16:23] Jasper-Bekkers opened #3281 "[SPIR-V] arrays of RW/append/consume structured buffers unsupported"
When targetting SPIR-V the following code generates a compile error:

[Shader Playground](http://shader-playground.timjones.io/db9ec964835342b15cbdd150df723ff7)
[code]

However, in DXIL mode this is perfectly fine - and it's how you would go about implementing bindless UAVs.

It's a little hard to grep for but the relevant error is from here https://github.com/microsoft/DirectXShaderCompiler/blob/

[2020-11-25 15:57] #3260 closed

[2020-11-25 16:46] kuhar commented on #3281
Thanks for reporting, @Jasper-Bekkers.

@ehsannas, can you take a look?

[2020-11-25 22:36] jenatali commented on #3084
+1

Specifically painful is the use of WinAdapter.h directly from the public API header.

[2020-11-26 16:23] #3248 closed

[2020-11-27 09:58] pow2clk commented on #3093
In my testing today, I have determined that @python3kgae's change #3147 has resolved all these issues including assigning the CBV to the correct register.

Let us know if you still have issues.

[2020-11-27 09:58] #3093 closed

[2020-11-27 11:35] expipiplus1 commented on #3277
What is "the voice"?

[2020-11-27 14:23] Jasper-Bekkers commented on #3277
By default the build scripts that are in the documentation call into hctspeak.js; https://github.com/microsoft/DirectXShaderCompiler/blob/master/utils/hct/hctspeak.js and announce that build has been completed (or has failed). Typically at whatever volume it thinks is acceptable; something that's scared me on multiple occasions. It would be really nice if this feature is default-off / opt-in by de

[2020-11-30 13:36] MarijnS95 opened #3285 "[SPIR-V] Support KHR Ray tracing's OpTerminateRayKHR and OpIgnoreIntersectionKHR"
These instructions have a different opcode than their `NV` counterpart, apparently for a reason: both are now terminal instructions.

There is already code in place to emit returns after the `NV` variant and reorder writes before it, would that be enough to support these functions normally without enforcing `AcceptHitAndEndSearch`/`IgnoreHit` to be placed at the end of a shader?

CC @jiaolu for su

[2020-11-30 17:55] 44DA133A8B opened #3286 "Windows 7 support"
The latest build from Downloads does not work on Win7.
The latest WinSDK (10.0.19041.0) can be installed on Win7 but it does not contain DXC.

This is a little bit weird, since there's D3D12On7 (https://microsoft.github.io/DirectX-Specs/d3d/D3D12onWin7.html).

[2020-11-30 18:16] MarijnS95 opened #3287 "[SPIR-V] Atomic counter emitted when combining RWStructuredBuffer and RayQuery"
A very simple shader using `RWStructuredBuffer` _or_ `RayQuery` seems to compile fine and no counter binding is emitted unless `{Increment,Decrement}Counter` is used. However, combine them in an unrelated way like below:

[code]

Compiled with: `dxc -E main -T cs_6_5 structuredbuffer_counter.hlsl -spirv -fspv-target-env=vulkan1.2` this results in:

[code]
In particular:

[code]
The `counter_var_te

[2020-12-01 02:06] jiaolu commented on #3285
okay. i will take a look.

[2020-12-01 15:08] Jasper-Bekkers commented on #3281
@ehsannas let me know if you need anything else on this :-)

[2020-12-01 16:07] MarkIngramUK commented on #3210
I agree, it'd be nice to see all the parameters be of type `const char*` (or some alias, to enable `const char8_t*` at some point in the future) so we can use UTF-8 strings without conversion at the API surface (our internal strings are all UTF-8).

[2020-12-01 23:10] hekota commented on #3277
Hello Jasper, there is -dont-speak option on the hctbuild script, would that work for you?

[2020-12-02 17:16] Jasper-Bekkers commented on #2181
With the new addition of templated loads in ByteAddressBuffer this would be a huge win 😊

[2020-12-02 21:00] ehsannas commented on #3287
Thanks for reporting this @MarijnS95 . I have traced this to be a bug in SPIRV-Tools (spirv-opt should be optimizing that counter away, but it's not doing it).

[2020-12-02 21:40] MarijnS95 commented on #3287
Awesome @ehsannas, simple fix for a simple issue, the resulting SPIR-V is clean again now :+1:

At what pace are submodule hashes generally updated?

[2020-12-02 22:19] ehsannas commented on #3287
Usually once a month, but since this is an important fix for raytracing/query to work, we will pull it in soon.

[2020-12-02 23:46] #3287 closed

[2020-12-03 08:08] jiaolu commented on #3285
a quick look here. new OpIgnoreIntersectionKHR/OpTerminateRayKHR  are block terminator. so it  is little more complicated than inserting a instruction.

[2020-12-03 08:42] MarijnS95 commented on #3285
@jiaolu Correct. I attempted to [make a head-start](https://github.com/microsoft/DirectXShaderCompiler/compare/master...MarijnS95:rt) with a test and adding a new "group" for these two terminals, but am still missing a `TerminatorInst`. Better if someone else looks into it, I'm not familiar with this codebase at all.

[2020-12-03 09:54] Dredhog opened #3294 "Relative includes are handled differently from FXC - directories of previously included source files get searched"
### Title
Relative includes are handled differently from FXC - directories of previously included source files get searched

### Functional impact
DXC searches relative `#include` paths oddly - it looks for them not only relative the directory of the file which is doing the include but also relative to the directories in the sequence of the include stack that lead to the current one. This means th

[2020-12-03 12:30] Jasper-Bekkers commented on #3277
If that option exists, should it be the default?

[2020-12-03 15:18] jiaolu commented on #3285
made a quick pull-request, though the internal spirv validator would mis-report one validation error "OpLabel inside basic block"
though the generated spv can pass the tool spirv-val check.

[2020-12-03 16:43] MarijnS95 commented on #3285
@jiolu Thanks! The code is pretty much identical to my attempt, goes to show that I ended up understanding it after all, but also ran into the same `OpLabel inside basic block` error which I assume is the internal validator not knowing that the block ends with that ray tracing terminal?

[2020-12-04 03:04] pow2clk commented on #2067
Completed as part of Shader Model 6.6 #3293

[2020-12-04 03:04] #2067 closed

[2020-12-04 14:49] MarijnS95 opened #3299 "[SPIR-V] Not passing scope to vk::ReadClock results in ICE"
Awesome to see `vk::ReadClock` introduced in https://github.com/microsoft/DirectXShaderCompiler/commit/d7bb9ee170e3450b34f0d98e116e251c82ffa889!

However, I forgot to write the scope by accident (ie. using `uint64_t start = vk::ReadClock()` directly in code), but instead of getting a nice compiler error needing 1 argument, it crashes:

[code]

And the backtrace:

[code]

CC @ehsannas

[2020-12-04 16:04] ehsannas commented on #3299
Thanks for reporting @MarijnS95

[2020-12-07 11:06] jankrassnigg commented on #3186
I'm running into the same problem with the October 2020 release.

[2020-12-07 12:34] DBouma opened #3305 "Empty Payload struct not recognized in DXIL"
When compiling an RT shader to Spir-v , the empty Payload struct is recognized - and the shader compiles just fine, however with DXIL the same shader fails to compile.

http://shader-playground.timjones.io/2ea9b49aff52b7bd018503d4a4df4bf5

`struct Payload {};
[shader("miss")] void main(inout Payload payload) {}`

I've tried disabling optimizations, however this did not have any effect.

[2020-12-08 01:06] #3277 closed

[2020-12-09 15:23] ehsannas commented on #3285
The SPIRV-Tools fix has been picked up by DXC, and that should fix the issue

[2020-12-09 15:23] #3285 closed

[2020-12-09 15:29] ehsannas commented on #3281
I think the support for this is not trivial (and it's probably why it was not done initially). The reason is that RWStructuredBuffers, AppendStructuredBuffers, and ConsumeStructuredBuffers have associated counters, and when you have an array of these resources, the bindings become quite complicated.
For instance how do you decide what's the proper descriptor set & binding number of the counter of

[2020-12-09 15:35] MarijnS95 commented on #3285
Thanks @ehsannas and @jiaolu for quickly picking this up and resolving this issue! We've immediately applied the SPIRV-Tools fixes to our Rust equivalents as well :+1:

Did https://github.com/KhronosGroup/SPIRV-Tools/pull/4049 make it in as well? The same DCE fix but for `SPV_KHR_shader_clock` which was recently introduced to DXC.

[2020-12-09 16:28] ehsannas commented on #3267
For reference, this is the shader:
[code]

[2020-12-10 12:23] Jasper-Bekkers commented on #3281
I think RWStructuredBuffers _can_ have counters, but they don't when used as an array like this, though it would be good to get some insight from Microsoft for this.

AppendStructuredBuffer and ConsumeStructuredBuffer definitely would have a counter - but I think they're separate.

[2020-12-10 12:36] Jasper-Bekkers commented on #3281
Actually - if you look here: http://shader-playground.timjones.io/b3a96b7be434c99a86553a91b4f517ea you'll see that the RWStructuredBuffer array gets reflected as Dim r/w, whereas a ConsumeStructuredBuffer gets reflected as r/w+cnt: http://shader-playground.timjones.io/132922e3b32b3202f782883d9c53aded (at which point it becomes unclear how to layout the descriptors).

Similarly - for RWStructuredBu

[2020-12-10 19:59] #3214 closed

[2020-12-12 10:29] apayen opened #3313 "[SPIR-V] compiler crash"
Hello there,

If I declare
`[[vk::binding(3, 0)]] ByteAddressBuffer geometries[256];`
And then does this (first line of the entry point)
`ByteAddressBuffer geometry = geometries[InstanceID()];`
dxcompiler crashes.

The intent here is simply to use `geometry` as an alias. If I use directly `geometries[InstanceID()].Load4()` instead of `geometry.Load4()` it doesn't crash. Is it a bug or is it not al

[2020-12-12 16:38] Onhi opened #3314 "DXC : error : 2: Invalid capability operand: 4479"
Just updated to latest version. None of my (spirv) shaders build anymore.

[code]

`dxc.exe -spirv -T cs_6_5 -Ges -WX -fvk-use-dx-position-w -fvk-use-scalar-layout -fspv-target-env=vulkan1.2 "build_draw_indirect_commands_cs.hlsl" -Fo build_draw_indirect_commands_cs.spv -E main`

I could not isolate the issue. Empty shaders do compile, more complex ones do not.
If needed, I can provide a test file.

[2020-12-12 16:54] Onhi commented on #3314
AH! It is related to the declaration of a  RaytracingAccelerationStructure again.

`RaytracingAccelerationStructure  blas;`

Removing this line from the global section of my shaders helps.

[2020-12-12 20:36] #3314 closed

[2020-12-14 13:26] Dredhog opened #3315 "DXC's preprocessor allows missing macro arguments and produces invalid output with -flegacy-macro-expansion (different from FXC)"
### Title
DXC's preprocessor allows missing macro arguments and produces invalid output with `-flegacy-macro-expansion` (different from FXC)

### Functional impact
Using `-flegacy-macro-expansion` produces different results than with FXC. FXC produces warnings about missing macro arguments, whereas DXC's generates failed string concatenations for this particular example.

### Minimal repro steps

[2020-12-14 16:33] VZout opened #3316 "DXC crashes when compiling HLSL with overlapping buffers."
If you use 2 overlapping buffers (same register, same space) DXC crashes. Occurs for any buffer type and the used shader model doesn't matter.

[code]

results in dxc.exe returning with exit code `-1073741819`

expected behavior is emitting a warning I suppose.

[2020-12-16 03:06] ehsannas commented on #3313
Thanks for reporting @apayen

[2020-12-16 23:35] turanszkij commented on #3119
Hi,

Sorry to bump this, but this is still a problem with the latest compiler. Actually, I successfully compiled RayQuery in some shaders, but my use case is executing RayQuery inside a pixel shader inside a deep loop (forward+ rendering). I have put together a repro case, hopefully it will help you uncover something.

The repro case contains a repro.bat that will call DXC compiler to compile obje

[2020-12-16 23:36] turanszkij commented on #3119
More info about the repro case:
The RayQuery is called in lightingHF.hlsli, line 107, and it is doing raytraced shadow inside a light iteration loop.
I will gladly provide any more details you should require.

Thanks,
Janos

[2020-12-17 00:56] apayen opened #3322 "[SPIRV] Replacing HitTNV by RayTmaxNV"
Hello,

Currently, shaders using RayTCurrent() will fail spirv validation and must be build with -Vd to bypass this. Below are my findings:

https://github.com/microsoft/DirectXShaderCompiler/blob/906cdbcdf277dc198e8f80599b61f0591335d24e/tools/clang/lib/SPIRV/SpirvEmitter.cpp#L9828

Equivalent HitTKHR was removed from final KHR specification, and thus using HitTNV produces spirv only valid for the

[2020-12-17 00:56] apayen opened #3323 "[SPIRV] Replacing HitTNV by RayTmaxNV"
Hello,

https://github.com/microsoft/DirectXShaderCompiler/blob/906cdbcdf277dc198e8f80599b61f0591335d24e/tools/clang/lib/SPIRV/SpirvEmitter.cpp#L9828

Equivalent HitTKHR was removed from final KHR specification, and thus using HitTNV produces spirv only valid for the NV extension.

From [GLSL_NV_ray_tracing](https://github.com/KhronosGroup/GLSL/blob/master/extensions/nv/GLSL_NV_ray_tracing.txt) sp

[2020-12-17 00:58] apayen commented on #3323
sorry about the duplicate issue, Github put an error and asked for a refresh when submitting the issue.

[2020-12-17 00:58] #3323 closed

[2020-12-17 17:03] TheMostDiligent commented on #3322
We are having the same issue

[2020-12-17 17:36] ehsannas commented on #3322
Thanks for reporting @apayen @TheMostDiligent .

[2020-12-17 17:38] ehsannas commented on #3322
Would either of you be able to make a pull-request that we can review? If not, we'll make the fix in January. Thanks

[2020-12-17 17:43] ehsannas commented on #3322
Oh! It looks like @MarijnS95 has made a pull-request to fix this issue: https://github.com/microsoft/DirectXShaderCompiler/pull/3320

isn't open-source great? ;)

Thanks @MarijnS95

[2020-12-17 18:27] MarijnS95 commented on #3322
Yeah, except that GitHub has seemingly broken/disabled the "related issues/PRs" view when creating an issue, this title should have surely surfaced mine if it did :grimacing:

[2020-12-17 20:00] turanszkij opened #3324 "Raytracing shader compilation failure without output"
Dear DXC team,

I started to use the newest DXC compiler, but now my raytracing shaders stopped compiling. There is no error written to the console output from dxc.exe. I am providing a repro case attached. The ZIP file contains repro.bat, which will attempt to compile rtreflectionLIB.hlsl and output rtreflectionLIB.cso.

Problem: The file is never output, but no error is given. (DXC version **1.6

[2020-12-17 20:31] ehsannas commented on #3324
Are you trying to compile to SPIR-V or DXIL ?

[2020-12-17 20:34] turanszkij commented on #3324
The problem appears when compiling DXIL

[2020-12-17 21:48] #3322 closed

[2020-12-18 08:26] hamwj1991 opened #3326 ""-flegacy-resource-reservation" doesn't keep resource stripped by optmization"
"-flegacy-resource-reservation" only perserve resource not referenced by any code.

If a resource was referenced by code which was stripped in optimization, the resource would not occur in shader reflection, wheather "-flegacy-resource-reservation" was specified or not.

this simple sample should reproduce this problem, where root_texture was used by optimized, so there is no root_texture in refle

[2020-12-19 09:56] john-h-k commented on #2145
Agreed. Templates would make writing a lot of numeric operations a lot prettier

[2020-12-21 11:09] KuribohG commented on #1871
The same problem here.

If we have two shaders, like a.hlsl and b.hlsl. They are both in path C:\shader. If we specify the include path as C:\, then we must include the other file as:
`#include <shader/b.hlsl>`
But if in b.hlsl, it includes another file, say c.hlsl:
`#include <shader/c.hlsl>`
then in LoadResource() callback, when we compile a.hlsl, we get a path like shader\shader\c.hlsl.

When we

[2020-12-26 17:22] aras-p opened #3330 "SPIR-V output with debug info (-Zi) sometimes generates invalid OpSourceContinued instructions"
I'm getting this sometimes:
[code]
on the attached shader, when compiling it with `dxc -E bc7e_compress_blocks -Fh bc7e.h -Zi -Gis -T cs_6_0 -spirv bc7e.hlsl`. But not always; in some cases there's no message printed but presumably the compiler crashes (since the output header is not generated either?).

The shader is a super-naive port of CPU code to a compute shader and is not "production" or "e

[2020-12-26 19:29] aras-p opened #3331 "[SPIR-V] does not take -Gis (IEEE strict) argument into account"
The `-Gis` command line argument should effectively mark all variables behave as if they had `precise` HLSL modifier in them (that's what #2861 seems to be doing in DXIL output).

But SPIR-V output seems to generate completely identical result no matter if `-Gis` is present or not. Only actually spelling out `precise` on variables makes it generate the `NoContraction` SPIR-V decorations.

[2020-12-28 10:35] azhirnov commented on #3148
I can't reproduce it in december version of DXC and nVidia driver.
Looks like it's fixed.

[2020-12-28 10:35] #3148 closed

[2020-12-29 12:27] joeldevahl opened #3332 "DispatchMesh accepts on groupshared payload param without warning/error"
When implementing a mesh shader test I hit the potential issue where DXC silently accepts a non group shared parameter as payload. This does not work since the spec says that the payload has to be in group shared memory. Writing code like this
[code]
Will compile but not work at runtime. Throwing an error here would be appreciated.

Also, the tests in DXC does use this pattern which is even more c

[2020-12-29 16:06] ehsannas commented on #3330
Thanks for reporting @aras-p

It's probably due to -Zi trying to put a large HLSL source into the SPIR-V for debug info purposes. It shouldn't generate bad SPIR-V though. We'll take a look.

[2020-12-29 16:09] ehsannas commented on #3331
Thanks for reporting @aras-p. I think we have missed to implement this command line option for the SPIR-V backend.

[2021-01-03 22:23] anooprthomas commented on #3197
i just hit this issue myself. only happens when passing a structured buffer to a function with 1.2. any ETA for the fix?

[2021-01-04 09:08] anooprthomas commented on #3197
i'm actually calling the compile through the dll. Following is the callstack crash for me (ShaderCompiler.exe is my wrapper):

 	dxcompiler.dll!spvtools::opt::FixStorageClass::Process::__l2::<lambda>(spvtools::opt::Instruction * inst) Line 43	C++
 	[External Code]
 	[Inline Frame] dxcompiler.dll!std::_Func_class<bool,spvtools::opt::Instruction *>::operator()(spvtools::opt::Instruction * <_Args_0>)

[2021-01-05 15:27] aschrein commented on #2814
I'm experiencing a crash when sizeof is used for SPIRV build. Can someone take a look?
Here's the snippet:
http://shader-playground.timjones.io/1be982abbc266d0a9938b8217619b907

[2021-01-05 16:15] ehsannas commented on #2814
@jaebaek please take a look.

[2021-01-05 16:18] jaebaek commented on #2814
Sure, I will get back to you soon.

[2021-01-06 02:32] spacehamster opened #3335 "dxcdisassembler appends raw integer to Texture2DMSArray Dimension during disassembly"
The line https://github.com/microsoft/DirectXShaderCompiler/blob/d574d27c1fd49333cc7a1280dfccd840523d87aa/tools/clang/tools/dxcompiler/dxcdisassembler.cpp#L422

appends a unsigned to a string without processing when it should first convert the unsigned to a string before the addition.

As a result, when Texture2DMSArrays such as `Texture2DMS<float3,8>` are disassembled, the output is
[code]
instea

[2021-01-06 09:39] hamwj1991 opened #3336 "[SPIR-V] implicit type conversion failed on store result from sampling texture"
convert float4 from sample function to min16float4 will trigger an assert on spirvemitter.cpp line 9052, commit: 7b5d547ea324b44d76b41019dfaefbce12041c5c

Compilation args:
L"-Zpc",
L"-Zi",
L"-flegacy-resource-reservation",
L"-spirv",
L"-fspv-target-env=vulkan1.0",
L"-fvk-use-gl-layout",

sample code:
where half was replace by min16float eventually
[code]

[2021-01-06 15:25] ehsannas commented on #3336
Thanks for reporting @hamwj1991

[2021-01-08 08:16] chenxq12138 opened #3340 "[SPIR-V] StructuredBuffer and RWStructuredBuffer can't be used as function parameters in HLSL of ray tracing shaders"
Here is the example:

[[vk::binding(0,0)]] StructuredBuffer<float4> gSBuffer;
[[vk::binding(1,0)]] RWStructuredBuffer<float4> gRWSBuffer;

void foo(StructuredBuffer<float4> pSBuffer)
{
}

[shader("raygeneration")]
void main()
{
    foo(gSBuffer);
}

The compilation of this shader is failed. But SPIRV-Cookbook.rst tells that StructuredBuffer and RWStructuredBuffer can be used as
function parameters

[2021-01-08 16:23] kuhar commented on #3340
Thanks for reporting, @chenxq12138. I'll loop in some spir-v folks.

Would it be possible to for you to also include the exact error message you see when the compilation fails and/or the dxc commend used to compile this file? Things like this make it easier to triage bug reports.

[2021-01-08 16:23] kuhar commented on #3340
@ehsannas can you take a look?

[2021-01-08 18:11] belzen opened #3341 "DXC error when writing to a float3x4 vertex output within a mesh shader"
Hello,
When compiling a mesh shader that has a float3x4 or float3x3 as a vertex output, DXC returns:

This does not occur if the float3x4 is never written to, however.  It also seems to only be an issue with mesh shaders.  Attempting to write to individual elements of the float3x4 also causes DXC to silently crash or do nothing.

The following shader code reproduces the issue with both the October

[2021-01-09 02:53] chenxq12138 commented on #3340
Thanks for your reply, @kuhar.
The command is: dxc -T lib_6_4 test.hlsl -spirv -Fh test.spv.h -fvk-use-scalar-layout -fspv-target-env=vulkan1.2 -Vn test
And, there are no error message, it just cannot generate the output file.
By the way, the dxc version which I used is the latest release version.

[2021-01-11 13:41] DominikBaumeisterAMD opened #3343 "Allow arbitrary structs as input to WaveReadLaneAt"
Hey,

I wonder if it would be feasible to let WaveReadLaneAt and similar (QuadReadAcross, QuadReadLaneAt, WaveReadLaneFirst) handle structs as inputs. Currently, to read a struct from a different lane that would require calling the respective intrinsic for each member.

In short, I'd love to be able to write:
[code]

Instead of:
[code]

[2021-01-12 00:00] #2472 closed

[2021-01-12 15:47] joobei opened #3351 "dxapi compiler cannot find include files"
I am unable to #include files with either absolute or relative paths when using dxc as a library (dxcompiler.dll + dxcapi.h) on cf044cc960419c5e08cc8a5d7366bc8df760013c.

         ^

The file is there obviously and the exact same shader compiles fine when I use dxc.exe with the same command line arguments. Seems perhaps related to #991.

[2021-01-14 15:40] Dredhog opened #3355 "Some compile time const expressions can't be used to specify const array lengths (works with FXC)"
### Title
Some compile time const expressions can't be used to specify const array lengths (works with FXC)

### Functional impact
Certain shaders which use expressions using arithmetic operations and intrinsics involving constants that compile with FXC cannot be compiled with DXC. Lack of support for the `min` intrinsic while `max` works seem like an obvious oversight.

### Minimal repro steps

1

[2021-01-14 22:29] h3r2tic opened #3357 "DXC crashes on undeclared identifiers"
When undeclared identifiers are used in certain positions, DXC crashes. For example:

[code]

[code]

On the other hand, this correctly results in an error:

[code]

[code]

Tested with the DXC shipping in Vulkan SDK 1.2.162.0:
dxcompiler.dll: 1.6 - 1.5.0.2891 (cc43bc82)

Also tested with the today's AppVeyor build:
dxcompiler.dll: 1.6 - 1.6.0.2920 (50981cde)

Thanks!

[2021-01-15 13:34] seppala2 opened #3358 "[SPIR-V] Invalid SPIR-V generated for any() with results of min16float comparisons"
A RelaxedPrecision decoration seems to be always added for the result of comparisons (and functions like isnan) of min16float types, which seems to be correct by spec, but passing these results to any() causes RelaxesPrecision to be added to the result of any(), which is a boolean operation on boolean values, and therefore invalid for RelaxedPrecision by SPIR-V specification.

Example:

Minimal re

[2021-01-15 15:18] QuantumDeveloper opened #3359 "Does DXC have C headers to make possible create bindings from other languages?"
I want to create C# bindings to DXC.
Is it possible for me to do it right know using p/invoke?
I heard that there should be autogenerated C style headers to make this possible.
Are they already exists?

[2021-01-15 16:36] ehsannas commented on #3358
Thanks for reporting @seppala2
I should take a closer look at the spec.

[2021-01-15 17:12] Jasper-Bekkers opened #3360 "Provide public DXIL specification"
This may be a controversial topic, but I figured I'd bring it up regardless.

Right now DXC is the defacto implementation for a compiler emitting valid DXIL, however, various projects are running into trouble trying to support DXIL alongside - say - SPIR-V. Think, RenderDoc, https://github.com/gfx-rs/naga, https://github.com/embarkstudios/rust-gpu, the Microsoft provided Mesa3d implementation etc.

[2021-01-16 14:44] turanszkij commented on #3153
I worked around it by rearranging descriptor bindings.. don't know what fixed it specifically, but I noticed it's compiling now.

[2021-01-16 14:44] #3153 closed

[2021-01-17 20:36] Jasper-Bekkers commented on #3305
@ehsannas This should get the `spirv` label applied as well.

[2021-01-18 12:58] CaffeinePwrdAl commented on #2498
Speaking on behalf of Imagination Technologies here, we're also interested in this change being made to DXC. There's some additional subtleties as to this on top of just whether shaderStorageImageWriteWithoutFormat are being relied upon by DXC:

1. the SPIR-V should be decorated with **StorageImageReadWithoutFormat/StorageImageWriteWithoutFormat** when this is expected, otherwise the format in the

[2021-01-18 15:56] ehsannas commented on #3305
@Jasper-Bekkers why? it sounds like the issue doesn't exist when compiling to SPIR-V.

[2021-01-18 20:15] maluoi opened #3361 "[SPIR-V] Prevent spriv from generating with gl_BaseInstance"
I have a tool that, among other things, takes HLSL -> SPIR-V -> GLSL ES. GLSL ES can't handle gl_BaseInstance, but I'm also not using this functionality at all, and don't plan on taking advantage of it in the future. My HLSL does use `SV_InstanceID`, but no offsetting of any kind. Is there a way to prevent DXC from generating this in the SPIR-V output?

It looks like this comes from `SPV_KHR_shade

[2021-01-19 10:10] turanszkij opened #3362 "pack-optimized issue with domain shader"
Hi,

I am having an issue with a domain shader which reorganizes input/output signature in an unexpected way when `pack-optimized` compiler flag is used. This in turn gives the following error in dx12 debug layer:

[code]

The signature passed through from VS-HS-DS-PS stages is this:

[code]

In the disassembly I can see this when using `pack-optimized` for domain shader:
[code]

And when NOT usin

[2021-01-19 14:40] Jasper-Bekkers commented on #3305
Ah sorry @ehsannas I mis-understood. My bad :-)

[2021-01-20 06:00] seanbaxter opened #3369 "Provide a disassembler"
spirv has spirv-dis. please include a standalone dxc-dis tool.

[2021-01-20 12:16] Jasper-Bekkers opened #3370 "[SPIR-V] ByteAddressBuffer doesn't emit RowMaj or ColMaj decorations for templated loads"
I'm not sure if this is done explicitly or not, however when converting some of our ConstantBuffer's to ByteAddressBuffers we noticed that Load<float4x4> doesn't OpDecorate the matrix it's loading, nor do `column_major` or `row_major` attributes get respected when used like this: `.Load<column_major float4x4>(...)`.

Example: http://shader-playground.timjones.io/e8c49c3276e111e220873d91c937bb2b

I

[2021-01-20 12:39] Jasper-Bekkers commented on #3369
@seanbaxter if it's of any help, mesa has dxil_dump.h / dxil_dump.c that one can use to disassemble some parts.

[2021-01-20 14:37] Jasper-Bekkers opened #3371 "DXIL ByteAddressBuffer doesn't support float4x4 in templated load"
[code]

Output:
[code]

However,
[code]

Run the same way, does result in correct DXIL output.

[2021-01-20 14:59] Jasper-Bekkers opened #3372 "[SPIR-V] ByteAddressBuffer Load should get vectorized"
[code]

Output:

[code]

Compared to:

[code]

[code]

Run with `dxc -spirv -Tps_6_5 -EPSMain test.hlsl`

[2021-01-21 04:38] seanbaxter commented on #3360
I agree. I'm beginning to implement a DXIR codegen. I have two big problems:
1. No HLSL specification. No docs of quality at all. I don't know how to even write HLSL to create the disassembly I need to implement. Eg is new/linear cbuffer layout, which is all throughout the DXIR source code, but is not documented for HLSL.
2. DXIL.rst needs a lot more work. There are critical operations like create

[2021-01-21 16:41] Dwedit opened #3377 "No compiler errors displayed when pixel shader fails to build"
This is a port of a D3D9 trivial shader that just samples a texture.  It successfully compiles on FXC as Pixel Shader 5.0, but fails to build on DXC as Pixel Shader 6.0.

No compile errors are displayed at all.  `echo %ERRORLEVEL%` returns `-1073741819` (0xC0000005, Access Violation)

There are probably mistakes in this code, but I have no clue what they are, as no compiler errors are being displa

[2021-01-21 17:02] seanbaxter opened #3378 "Add DXIR docs"
https://github.com/microsoft/DirectXShaderCompiler/pull/3375

I just started writing a DXIL backend. Immediately you get into the issue of trying to lower LLVM IO down to BufferLoad ops. DXIL.rst has some snippets where resources are shows an GlobalVariables with addrspaces, suggesting that normal LLVM can be used to access them at this DXIR level, and a DXC pass lowers that to the BufferLoad ops.

[2021-01-21 18:31] Dwedit commented on #3377
Additional information:

Crashes in a memory copy, Source address = FEEEFEEEABABABAB

Stack trace from a debugger:

[code]

[2021-01-21 19:06] jenatali commented on #3369
There is an `IDxcCompiler::Disassemble` (https://github.com/microsoft/DirectXShaderCompiler/blob/master/include/dxc/dxcapi.h#L301), it's just a matter of building a standalone executable for it.

[2021-01-21 19:32] jaebaek commented on #2814
Sent a PR: #3379

[2021-01-21 20:03] hekota opened #3380 "WaveActive* and WavePrefix* ops emitted as 64-bit for constant int"
WaveActive* and WavePrefix* ops are being emitted as 64-bit DXIL instructions on constant int.

[code]

[code]

We should be defaulting to 32-bits for literal values.

[2021-01-21 23:35] Jasper-Bekkers commented on #3359
See dxcapi.h, the compiler is exposed as a COM object there, so it should be relatively straight forward to use from C#.

[2021-01-22 20:11] seanbaxter opened #3383 "Missing docs on dx.viewIdState"

[2021-01-22 20:52] ehsannas commented on #2498
Thanks for your information, @CaffeinePwrdAl . I'll try to reprioritize.

[2021-01-22 20:55] ehsannas commented on #3361
Seems the same as #3106

[2021-01-22 20:56] ehsannas commented on #3361
SPIR-V codegen is generating gl_BaseInstance to address #2946

[2021-01-22 20:57] ehsannas commented on #3361
We might need to add a command line option for this (e.g. `-fspv-support-nonzero-base-instance`), and have the default behavior to assume base instance is zero.

[2021-01-22 20:57] ehsannas commented on #3106
SPIR-V codegen is generating gl_BaseInstance to address #2946

[2021-01-22 20:57] ehsannas commented on #3106
We might need to add a command line option for this (e.g. `-fspv-support-nonzero-base-instance`), and have the default behavior to assume base instance is zero.

[2021-01-22 20:59] ehsannas commented on #3106
I'll try to reprioritize.

[2021-01-22 21:54] #2814 closed

[2021-01-22 22:06] maluoi commented on #3361
This does look like the same problem to me as well, and the proposed solution sounds like it would fix the issue on my end! :) Thanks for looking into it!

[2021-01-23 01:48] RyanGreeneBlizzard opened #3385 "Problem with clang::ast_matchers"
I have extended dxc to include an option to quickly extract information about the shader (eg. what Textures are declared) by using clang::ast_matchers. Unfortunately using the matcher will crash in a non-deterministic way. The same shader will work 9 times out of 10, leading me to wonder if there is some uninitialized memory.

However, the crash location is very consistent:

 	[Inline Frame] dxcom

[2021-01-24 01:33] seanbaxter opened #3387 "[SPIR-V] mesh shader should support point output topology."
It's in GLSL_NV_mesh_shader.

[2021-01-25 14:51] seppala2 commented on #2498
This is also quite important for us and I actually tested an implementation for syntax like [[vk::image_format("Rgba16f")]]. So basically it is an attribute with EnumArgument, with the format identifiers from SPIR-V spec. The namespace could be easily changed to spv, but I'm not sure how the non-string syntax "spv::format_<x>" would be added to DXC. @ehsannas If this is of any help, I can share th

[2021-01-25 16:04] #3340 closed

[2021-01-25 16:05] #3358 closed

[2021-01-25 16:46] ehsannas commented on #2498
Thanks @seppala2 . I actually think `vk::image_format("Rgba16f")` is a better format than `spv::format_rgba16f`. Would you please share your code by posting a pull-request?

[2021-01-25 20:51] seppala2 commented on #2498
@ehsannas sure, what is the preferred workflow since this requires a small change in SPIRV-Tools as well? Make a pull request to SPIRV-Tools, and once it gets merged, make the pull request here (with updated spirv-tools), I assume?

[2021-01-25 21:29] ehsannas commented on #2498
Yes, that's the correct workflow.

But in this particular case, to determine whether the SPIRV-Tools change is reasonable, I'd need to know the code changes made in DXC as well. So for now I just want to inspect the code and do some testing on my own machine (I don't want to wait for the SPIRV-Tools PR to land). So would you make 2 PRs (one against SPIRV-Tools repo, and one for "non-spirv-tools" c

[2021-01-25 21:41] ehsannas commented on #3387
Hi @seanbaxter , Thanks for reporting. This is a bit vague. Would you add more information?

[2021-01-25 21:49] seanbaxter commented on #3387
https://microsoft.github.io/DirectX-Specs/d3d/MeshShader.html#outputtopology

I'm actually translating from SPIR-V into DXIL, but the issue is the same. HLSL/DirectX doesn't support outputtopology("point") from mesh shaders. Was just confused by the lack of this, since PrimitiveTopology out of the GS includes points, as expected.

[2021-01-26 12:56] seppala2 commented on #2498
@ehsannas I've created the pull requests now:
https://github.com/microsoft/DirectXShaderCompiler/pull/3395
https://github.com/KhronosGroup/SPIRV-Tools/pull/4126

Specifically the change in SPIRV-Tools makes me think that maybe there is some better way to do it, but that seems to work quite well, as seen in the example above. You can test that without that change in spirv-tools opt, everything work

[2021-01-26 13:01] bqqbarbhg opened #3396 "[SPIR-V] Vector conversion floatN(intN(uintN)) generates invalid SPIR-V"
Using `floatN(intN(uintN))` generates code for unsigned-to-float conversion instead of signed-to-float conversion. Interestingly this doesn't happen with scalars.

For example the following code generates invalid `OpConvertUToF(float, uval)` SPIR-V sequence.

[code]
[code]

Scalar version which generates the correct `OpConvertSToF(float, OpBitcast(int, uval))` SPIR-V sequence.

[code]
[code]

[2021-01-26 17:05] ehsannas commented on #3396
Thanks for reporting @bqqbarbhg

[2021-01-26 17:13] ehsannas commented on #2498
Thanks for the detailed info @seppala2 and for making the PRs. I'll take a closer look at both PRs.

[2021-01-27 03:43] seanbaxter opened #3398 "Set constants to IntrinsicOp enums"
Please set proper constants to these enums, as they are ordered lexicographically which seems right unstable. These are the true DXIL opcodes.

For motivation, I currently implement all GLSL library by attributing all function overloads with `spirv::opcode` or `spirv::GLSLstd450` C++ attributes, as appropriate:
https://github.com/seanbaxter/shaders/blob/master/spirv.cxx

This file is injected into

[2021-01-27 09:57] #2724 closed

[2021-01-27 10:00] joobei commented on #2724
it's been a while now but I guess I might have been missing some SDK install.

[2021-01-27 15:22] jaebaek commented on #3398
I do not clearly understand what you mean. May I ask some examples of "proper constants" to be added to [IntrinsicOp](https://github.com/microsoft/DirectXShaderCompiler/blob/master/include/dxc/HlslIntrinsicOp.h#L16)?

[2021-01-27 15:40] seanbaxter commented on #3398
Numeric literals to prevent the values from changing every commit. Like you have for DXIL::OpCode.

[2021-01-27 22:07] jaebaek commented on #3357
@h3r2tic thank you for reporting this issue. Do you mean it crashes with the DXC shipping in Vulkan SDK 1.2.162.0 and it works fine with the up-to-date one?

I am sorry about the situation but if it is true, I think the next Vulkan SDK release will fix this issue.

[2021-01-27 23:55] h3r2tic commented on #3357
Sorry, I wasn't being precise about that. I meant that it crashed with both of the listed versions.

[2021-01-28 01:16] scottp101 opened #3401 "Unexpected conversion of wave intrinsics to 64-bit with literal argument"
Compiling this compute shader:

[code]

yields:

[code]

whereas doing WaveActiveSum(**1U**) yields:

[code]

### Functional impact
Platforms that do not support 64-bit ops may not compile this correctly. There may also be a performance impact.

I haven't tested all wave intrinsics but this also occurs with `WavePrefixSum(1)` so it's not specific to `WaveActiveSum`.

### Minimal repro steps
Take t

[2021-01-28 06:31] seanbaxter opened #3402 "Pass manager modifications make it impossible to program the DXIL interface. Only the HLModule/DXIR path is viable."
I'm trying to lower CFG to Dxil. I'm inside the passes.

Consider how populateModulePassManager has been hacked to run HL passes:

https://github.com/microsoft/DirectXShaderCompiler/blob/797d4b8adc2af6a96f3b0c989dee61bfcd05f3b9/lib/Transforms/IPO/PassManagerBuilder.cpp#L214
Here the HLEmitMetadataPass is created if HLSLHighLevel is true.

https://github.com/microsoft/DirectXShaderCompiler/blob/797

[2021-01-28 11:56] KarimLUCCIN opened #3403 "Invalid dxil on composite types with dynamic indexing and Load<T>"
Hi!

I'm not fluent in spirv, so I'm not sure if I'm misreading it - though it seems that a bug I'm looking at could be explained by this.
Given this type:

[code]

I get this dxil ( via http://shader-playground.timjones.io/ )
[code]

The part I find curious is that, it looks like it allocates a single float4
`%4 = alloca [4 x float], align 4`

But then it does subsequent buffer loads which seems

[2021-01-28 13:00] KarimLUCCIN commented on #3403
Hmmm no it's not that. I think I understand now, it loads each possible float one by one into a contiguous array and then indexes into it using the dynamic index.

[2021-01-28 13:00] #3403 closed

[2021-01-28 13:14] KarimLUCCIN commented on #3403
(Could still argue that the generated code is really inefficient. In this case, doing a manual load of a single buffer is clearly faster than doing 4 buffer loads and then selecting the right value from it)

[2021-01-29 05:07] seanbaxter opened #3407 "DXIL RemoveResourcesWithUnusedSymbols segfault"
https://github.com/microsoft/DirectXShaderCompiler/blob/master/lib/Transforms/IPO/GlobalDCE.cpp#L181
This line removes the parent pointer from a GlobalVariable with no uses. It's part of the Dead Global Elimination pass.

https://github.com/microsoft/DirectXShaderCompiler/blob/master/lib/DXIL/DxilModule.cpp#L1063
This line encounters the same GlobalVariable and calls eraseFromParent on it, but the

[2021-01-29 09:06] kayru commented on #2988
Wanted to bump and clarify the "ask" a little: I would simply like to have an "internal compiler error" message written to stdout/stderr on dxc crash. I am not after any call stack dumps, just a clear indication that something went wrong. Simply want dxc.exe to follow the well established convention of success=silent error=log.

[2021-01-29 22:33] tex3d commented on #3266
Fixed by #3160

[2021-01-29 22:33] #3266 closed

[2021-01-29 22:45] pow2clk commented on #3316
I tried with the latest code using `dxc.exe -T ps_6_0 3316.hlsl` and got this error:

`error: resource b at register 0 overlaps with resource a at register 0, space 0 Use /Zi for source location.`

Closing. If I missed some part of the repro, reopen and let us know.

[2021-01-29 22:45] #3316 closed

[2021-01-30 00:29] vcsharma commented on #3249
Thanks for reporting this issue. This issue no longer repro. This generates an error message.

[code]

[2021-01-30 00:30] #3249 closed

[2021-01-30 01:06] tex3d commented on #3207
I'm afraid that resources (and uniform constants) in entry function parameter lists are are not supported by DXC.  We do not have a plan to add support for these to DXC at this time.

There is a rewriter tool that may help with porting code that uses these, however.  I have updated our porting Wiki page to include information about this here:
https://github.com/microsoft/DirectXShaderCompiler/wiki

[2021-01-30 01:06] #3207 closed

[2021-01-30 01:45] tex3d commented on #3238
I believe the linker has support for something very similar to what you want that should solve the problem.

The API (not the dxl.exe command line tool yet, sadly) has support for the option displayed when you type `dxc.exe -?`:
[code]

This is a renaming (and cloning) of functions rather than call sites.  You can link your function library to a new library (one input lib, one output lib) using th

[2021-01-30 01:45] #3238 closed

[2021-01-30 02:32] seanbaxter commented on #3402
I managed to comment out a number of passes from passManagerBuilder and compile simple vertex shaders. But callHLfunctions don't get translated when createDxilGenerationPass isn't in.

So I put it back in, initialize a trivial HLModule, and get a bunch of runtime errors. So I try to migrate everything from DxilModule to HLModule, putting input/output signatures aside. I Use HLModule's OP to provid

[2021-01-30 02:42] seanbaxter commented on #3402
https://gist.github.com/seanbaxter/27c5eb9356275cd1f5b5071a9725160b

I need to run this through the legalizer. This is the code that's causing all the pain described above. I just used callHLFunction to get vectorized sin. I don't know what combination of hacks to put in the pass manager builder to get this through the legalizer. AS it is now, everything is going through DxilModule.

[2021-01-30 04:31] tex3d commented on #3326
I'm confused by your description of the problem and the example.  Let me try to clarify the purpose of the flag, which appears to be working correctly.

The purpose of `-flegacy-resource-reservation` is to reserve the register binding for resources that have **explicit register bindings**, but are unused, either because they are unreferenced, or because their use was optimized away.  This is what

[2021-01-30 04:31] #3326 closed

[2021-01-30 04:41] tex3d commented on #3174
I'm afraid there may be a misunderstanding on the term `linker`.  The terminology from OpenGL and linking shader stages does not apply to the Dxil linker.  The dxil linker is meant for linking libraries of functions together into entry points or other libraries, much like a C++ linker.  It does not have anything to do with the "linking" between shader stages that you're thinking of.

Note that whe

[2021-01-30 04:41] #3174 closed

[2021-01-30 10:44] Nielsbishere commented on #3174
I believe such a tool may be very useful, since the validation layer isn't available to our users. This would mean that if you write a wrong shader it could crash at runtime and we'd have no idea if the shader was to blame and in what way. Linking them would allow us to make sure things like hull shaders are compatible with our other shaders, which reduces problems in the workflow. It would also p

[2021-01-31 00:52] seanbaxter opened #3411 "DXIL.rst has wrong resource type documentation"
The DXIL doc disagrees with dxc in the type of resource GlobalVariable metadata. Eg,

https://github.com/microsoft/DirectXShaderCompiler/blob/master/docs/DXIL.rst#metadata-resource-records
![Screenshot at 2021-01-30 19-48-45](https://user-images.githubusercontent.com/521513/106371589-385cff00-6334-11eb-9477-c53f2b11cd25.png)

But dxc produces different types:
http://shader-playground.timjones.io/a

[2021-02-01 12:44] DBouma opened #3412 "DXIL Inline raytracing does not work with bindless tlases."
When compiled to DXIL, using `TraceRayInline()` in a pixel shader while having a bindless array of tlases, seems to never hit any geometry.

- When the tlas is bound using a root srv instead, the inline traces seem to work as intended.
- Creating the exact same bindless setup but doing it in a CS instead of a PS, then the inline rays do hit geometry.

This problem does not occur in a PS when the e

[2021-02-01 15:43] xander890 opened #3413 "Size of bound StructuredBuffer returned in reflection clarification"
Hello,

I need a clarification on `D3D12_SHADER_INPUT_BIND_DESC` returned by  `ID3D12ShaderReflection::GetResourceBindingDesc`.

If I bind a structured buffer in HLSL as such:

[code]

I noticed that the NumSamples field returned by the binding reflection contains the size in bytes of the bound struct (32 in the example above). This seems to be confirmed in the implementation:

https://github.com/

[2021-02-01 15:47] DBouma opened #3414 "DXIL Modifying recursive payload does not work"
When doing recursions in a closest hit shader, modifying the `inout` payload does not seem to update the payload. However creating a new payload and assigning it with the incoming payload for recursions does work.

Note that this behavior only happens on dxil, on spirv this seems to work fine.

[code]

[2021-02-01 19:12] Jasper-Bekkers commented on #3371
Callstack:

[code]

[2021-02-01 20:18] python3kgae commented on #2251
Fixed with https://github.com/microsoft/DirectXShaderCompiler/commit/81af620244a99653b43ea34c80199c0169c6f61a

[2021-02-01 20:18] #2251 closed

[2021-02-02 00:36] vcsharma opened #3423 "Respect matrix orientation when doing store to raw buffer"
Notice that even with `/Zpc` flag, we store {1, 2, 3, 4} to the raw buffer instead of {1, 3, 2, 4}

cmd: dxc.exe /E main /T vs_6_5 /Zpc

[code]

[code]

[2021-02-03 03:41] #3225 closed

[2021-02-03 17:13] #3226 closed

[2021-02-04 13:20] Nielsbishere opened #3429 "DXC Validation Error: TGSM pointers must originate from an unambiguous TGSM global variable"
In commit cf044cc960419c5e08cc8a5d7366bc8df760013c (from 23 days ago) I get the following error when enabling optimization;
[code]
This happens because I have the WaveIsFirstLane write to a groupshared float2 array. I can't publish the code, but I will send a DM on Discord.
When disabling optimization it works, so it seems like some optimization might change the generated DXIL.

[2021-02-04 16:48] Jasper-Bekkers commented on #3423
Related: https://github.com/microsoft/DirectXShaderCompiler/issues/3370 https://github.com/microsoft/DirectXShaderCompiler/issues/3371

[2021-02-04 20:37] ChemistAion opened #3430 "[spirv] external/effcee branch master->main"
It seems that submodule `external/effcee` follows now https://github.com/github/renaming scheme...

Please update `external/effcee` branch name to `main`, it will easier git-mumbling when `DirectXShaderCompiler` itself is a submodule.

[2021-02-04 20:44] ChemistAion commented on #3430
ofc... but I will leave these here for surprised:
* https://stackoverflow.com/questions/1777854/how-can-i-specify-a-branch-tag-when-adding-a-git-submodule/18799234#18799234
* https://stackoverflow.com/questions/9189575/git-submodule-tracking-latest

[2021-02-05 13:25] joobei commented on #3351
Turns out the include handler was null. This should be communicated better by the API in case of failure to read include files. I'll submit a pull request asap.

[2021-02-05 13:25] #3351 closed

[2021-02-05 19:48] pow2clk commented on #2935
With the latest build, this no longer crashes for me

[2021-02-05 19:48] #2935 closed

[2021-02-05 22:27] pow2clk commented on #3355
Hi @Dredhog!

We're looking into this issue, but it looks unlikely for the next release. What is the priority for you?

[2021-02-06 00:10] LukasBanana opened #3435 "CompilerVersionPartWriter::Write crashes with E_POINTER when git SHA version is not available"
We build DXC for UnrealEngine without the git version as this simplifies our build workflow in P4V.
The recently introduced class `CompilerVersionPartWriter` writes the commit SHA version without checking for an empty string:
https://github.com/microsoft/DirectXShaderCompiler/blob/bae509a7c5d7b49eabec46ee63167a8d3d0c3712/tools/clang/tools/dxcompiler/dxcompilerobj.cpp#L149

However, if git is not p

[2021-02-06 14:24] awesomekyle commented on #3361
As an alternative, or in addition to a command line switch, could the `gl_InstanceIndex` be exposed directly as a built in (`[[vk::builtin("InstanceIndex")]]`)? I'm using DXC to generate Vulkan shaders for PC where I want the functionality of `gl_InstanceIndex` with a non-zero BaseInstance. A built-in would allow SV_InstanceID to continue to work as is, while also allowing a shader access to the b

[2021-02-08 05:54] seanbaxter commented on #2724
I have the same problem.
[code]

If I change dndxc.csproj to v4.5.1, hctbuild just changes it right back.

[2021-02-08 10:07] QuantumDeveloper commented on #3359
@Jasper-Bekkers Ok, but what about cross-platform usage? On other platforms there are no ComObjects.

[2021-02-08 11:31] Dredhog commented on #3355
Hi @pow2clk, thanks for taking it on!

It is not a critiacal/blocking issue for us ATM as I've only noticed it affect one shader in our SriptableRenderPipeline shader codebase, I was able to work around the issue from the shader using a macro.

But it will get more relevant going forward after we expose DXC to our users possibly sometime this year.

[2021-02-08 17:05] jaebaek commented on #3430
@ChemistAion Thank you for reporting this issue. We will handle it soon.

[2021-02-08 17:20] ChemistAion commented on #3430
OK, I will leave it open for now...

[2021-02-08 17:50] jaebaek commented on #3435
@LukasBanana Thank you for reporting this issue. I will take a look.

[2021-02-08 19:16] seanbaxter commented on #1500
I'm generating DXIL modules from Linux, and the process as-is is very awkward. A linux .a file with the validator would help a lot.

[2021-02-08 19:17] pow2clk commented on #3332
Hi @joeldevahl!

Thanks for the bug report. However, I think this is the result of a misreading of the spec. It's understandable as it's a bit ambiguous and it took me a few internal conversations to work out what was intended.

I suspect you are referring to this section https://microsoft.github.io/DirectX-Specs/d3d/MeshShader.html#dispatchmesh-intrinsic

probably specifically this prototype:

[c

[2021-02-08 19:17] #3332 closed

[2021-02-09 00:31] seanbaxter opened #3438 "Semantics should be used for coordinating interface variables, not register packing"
The choice of packed registers makes it too hard for DXIL producers with GLSL-like semantics to coordinate interface variables between shader stages. When interface variables are globals, there is no real order among them. Generally interface variables are pulled into the module only when ODR-used, so a latter stage doesn't list as inputs all the variables named as outputs by the preceding stage.

[2021-02-09 19:48] seanbaxter commented on #3407
Here is a much worse related case:
https://github.com/microsoft/DirectXShaderCompiler/blob/master/lib/DXIL/DxilModule.cpp#L1053

This is invoked from the "DXIL Lower createHandleForLib" pass.
https://github.com/microsoft/DirectXShaderCompiler/blob/master/lib/HLSL/DxilCondenseResources.cpp#L526

Here is my shader LLVM before and after the HLSL legalization passes:
https://gist.github.com/seanbaxter

[2021-02-09 22:33] pow2clk opened #3439 "Better demangling for improved error messages"
Certain error messages have less helpful mangled function names in their output.

For example this code:
[code]

produces this error:

[code]

Which is easy to gloss over and inconsistent with error messages produced elsewhere with clearer replications of the function and parameters. Either demangling this and other errors better than is currently available or getting the information from eslewher

[2021-02-09 23:26] seanbaxter opened #3440 "Module fails validation in dxc but passes in dxil"
https://gist.github.com/seanbaxter/27b35a616f1de0c2ffff1641695936ba
The dxil.ll here fails validation when called on the DxilModule using dxc's validator.

The error is thrown from GetResourceFromHandle called by ValidateSampleInst, when GetResourceKindAndCompTy checks the srvHandle ResourceKind. The DxilResourceProperties structure is all zeroes, and the Invalid Basic.ResourceKind triggers the ex

[2021-02-10 10:09] john-h-k opened #3442 "[SPIR-V] Support SPV_KHR_physical_storage_buffer for buffers"
Support an attribute to indicate a buffer will be bound via a pushconstant provided GPUVA. This allows frameworks to emulate root descriptors on VK, but given there is currently no way to access GPUVAs in HLSL even when targeting SPIRV, it is not currently possible

[2021-02-10 12:20] Dredhog opened #3443 "[SPIR-V] Assigning SV_DispatchThreadID to a float argument causes validation errors (does not happen with DXIL backend)"
### Title
[SPIR-V] Assigning SV_DispatchThreadID to a floating point type argument causes validation errors (does not happen with DXIL backend)

### Functional impact
When trying to decorate a `float`/`float2`/`float3`/`float4` compute shader entry point argument with `SV_DispatchThreadID` compilation fails without a clear message and a validation error is printed

### Minimal repro steps

1. Comp

[2021-02-10 12:28] Dredhog opened #3444 "[DXIL] Decorating CS float argument with SV_DispatchThreadID semantic crashes the compiler (float2, float3 and float4 works)"
### Title
[DXIL] Decorating CS float argument with SV_DispatchThreadID semantic crashes the compiler (float2, float3 and float4 works)

### Functional impact
Compiler crashes

### Minimal repro steps

1. Compile the following shader with `dxc.exe -T cs_6_0 -E CSMain issue_shader.txt`:
[code]
### Expected result
Shader compiles correctly, as it does for vector float arguments: `float2`, `float3`, `

[2021-02-10 20:00] ehsannas commented on #3435
@pow2clk @adam-yang
This was added via https://github.com/microsoft/DirectXShaderCompiler/commit/2b8ef5b57e4ab0c0a18f3d619a2cbffccdc7fa4d. I had incorrectly thought this was some code that I had introduced back in the day. Jaebaek and I are not sure how to hit this code path (regular dxil/spirv compile didn't hit it), so we don't know how to test a fix for it properly. I'll assign it back to you.

[2021-02-10 21:19] vcsharma opened #3448 "templated structured buffer .Load() on bool type fails with validation error"
The below generates a validation error. However, subscript based load works fine.

[code]

error: validation errors
Function: main: error: DXIL intrinsic overload must be valid. Use /Zi for source location.
note: at '%2 = call %dx.types.ResRet.i1 @dx.op.rawBufferLoad.i1(i32 139, %dx.types.Handle %1, i32 0, i32 0, i8 1, i32 4)' in block '#0' of function 'main'.
Validation failed.

[2021-02-10 22:47] vcsharma opened #3449 "subscript based structbuf load of matrix always set the mask to 7 for comp count <=3"
**Working cases**

When using `.Load()` for the loading matrix, the mask is set correctly as shown in the examples below

dxc.exe /E main /T vs_6_5 -DWORKING -DTY=int1x1 vs_6_5

`call %dx.types.ResRet.i32 @dx.op.rawBufferLoad.i32(i32 139, %dx.types.Handle %1, i32 0, i32 0, i8 1, i32 4)  ; RawBufferLoad(srv,index,elementOffset,mask,alignment)
`

dxc.exe /E main /T vs_6_5 -DWORKING -DTY=int1x2 vs_6_

[2021-02-11 03:39] #3435 closed

[2021-02-12 01:49] vcsharma opened #3455 "Missing typedef causes compiler crash"
Compiles fine if I uncomment the typedef decl. It should generate an error message.

dxc /E main /T vs_6_2

[code]
**Call stack:**

[code]

[2021-02-12 18:41] #3341 closed

[2021-02-12 19:30] vcsharma opened #3457 "Change codegen to load remainder buffer elements in the end"
For cases like below, we generate loads to first load the remainder elements (not divisible by 4) first. We should do it in the opposite order. Make sure to do that everywhere.

[code]

[code]

[2021-02-12 19:42] #2219 closed

[2021-02-12 19:43] vcsharma commented on #3448
Fixed.

[2021-02-12 19:43] #3448 closed

[2021-02-12 19:43] vcsharma commented on #3449
Fixed.

[2021-02-12 19:43] #3449 closed

[2021-02-13 05:16] pow2clk commented on #3440
Hi sean,

Can you clarify a few things? The title says it "passes in dxil".  What do you mean by that? The description doesn't mention anything passing. Are you saying the dxil is able to be consumed by a hardware driver?

What "dxc validator" are you referring to? If it's dxv.exe, I was able to validate the .ll file you referenced successfully.

From context, I think that `GetResourceHandle` is c

[2021-02-13 06:04] seanbaxter commented on #3440
I wrote a dxil-signing.exe that opens dxil.dll and does validation and signing. That part passes. The thing that failed was ValidateDxilModule. But you pointed me to `BuildResMap` and I was able to easily back it out from there and fix my issue.

Basically, I wasn't calling DxilResource::SetRW, so the ResourceClass for my buffers was still Invalid (as set by DxilResource's ctor), causing DxilResou

[2021-02-13 06:04] #3440 closed

[2021-02-15 06:32] WhiteSmoogy opened #3461 "The argument ‘/Zi ’ does not take effect when use IDxcCompiler::Compiler"
Code：
cbuffer _RootShaderParameters
{
float4 BufferSizeAndInvSize;
Texture2D Depth;
float4 InvDeviceZToWorldZTransform;
float NormalBias;
RWTexture2D<float4> Output;
float4x4 SVPositionToWorld;
RaytracingAccelerationStructure TLAS;
float3 WorldCameraOrigin;
Texture2D WorldNormalBuffer;
}
args：
▶ | [0] | 0x00007ff645958c40 L"/auto-binding-space" | const wchar_t *
▶ | [1] | 0x00007ff6459545d8 L"1" |

[2021-02-15 12:33] Dredhog opened #3463 "[SPIR-V] Matrices in constant buffers are unnecessarily padded when using DirectX memory layout"
### Title
[SPIR-V] Matrices in constant buffers are unnecessarily padded when using DirectX memory layout

### Functional impact
Certain constant buffers which contain matrices are not compatible with DirectX when using the `-fvk-use-dx-layout` argument. This is because `-fvk-use-dx-layout` does not account for the fact that with DX layout constants are supposed to be placed _immediately_ after th

[2021-02-15 12:54] Dredhog opened #3464 "[SPIR-V] Compiler does not complain about writing to read only StructuredBuffer<> resources (DXIL backend does)"
### Title
[SPIR-V] Compiler does not complain about writing to read only StructuredBuffer<> resources (DXIL backend does)

### Functional impact
The SPIR-V backend does not produce a compiler error when `StructuredBuffer` which is a read only type is written into.

### Minimal repro steps
1. Compile the following shader with `dxc.exe -T ps_6_0 -E PSMain -spirv issue_shader.txt`:
[code]
### Expecte

[2021-02-15 13:04] Dredhog opened #3465 "[SPIR-V] Writing to a read only Buffer<> resource produces validation errors (asks to report a bug)"
### Title
[SPIR-V] Writing to a read only Buffer<> resource produces validation errors (asks to report a bug)

### Functional impact
The shader fails to compile without a clear error message which would indicate the issue. The generated message asks to report a bug.

### Minimal repro steps
1. Compile the following shader with `dxc.exe -T cs_6_0 -E CSMain -spirv issue_shader.txt`:
[code]
### Expec

[2021-02-16 15:36] jaebaek commented on #3465
@Dredhog Thank you for reporting the issue. We will take a look.

[2021-02-16 15:37] jaebaek commented on #3464
@Dredhog Thank you for reporting the issue.

[2021-02-16 20:36] #3457 closed

[2021-02-16 20:43] vcsharma commented on #1803
Related #2499, #3423

[2021-02-16 21:55] #1778 closed

[2021-02-17 11:36] pow2clk commented on #3335
I have a fix pending #3473.

While it's a joy to fix bugs that have already been root caused, we welcome fixes like this from anyone if you'd care to submit a PR of your own 😄

[2021-02-17 12:49] spacehamster commented on #3335
Thank you for the fix. I had intended to submit a PR, but I got distracted between opening the issue and actually setting up the environment and writing the fix and completely forgot about it 😳

[2021-02-17 21:01] #3335 closed

[2021-02-17 21:15] jaebaek opened #3475 "[SPIR-V] Do not allow `ddx()` in compute shader if SM is not 6.6."
`ddx()` must be allowed only in pixel shaders or [compute shaders from SM 6.6](https://devblogs.microsoft.com/directx/in-the-works-hlsl-shader-model-6-6/#compute-shader-derivatives-and-samples).

[code]

However, compiling the above code with `dxc -spirv -fcgl -Tps_6_0 -Emain` generates the following code:

[code]

[2021-02-17 22:52] hekota commented on #2079
Comment from @tex3d: This is by design, but fxc may be over- propagating precise.  Should better document this feature.  If fxc behavior needs to be supported due to conformance problems, we can revisit behavior.

[2021-02-17 22:52] #2079 closed

[2021-02-17 23:01] jaebaek commented on #3463
We are considering this as one of important issues. We are working on it, but it would take a few weeks because it is not a trivial issue. I will get back to you when we have some clear progress about this issue.

[2021-02-18 19:14] #3371 closed

[2021-02-19 01:01] tex3d commented on #2713
There are two types of offsets on Gather*(), the aoffimmi (affine offset immediate) that only supports range [-8..7] and must resolve to a constant, and the programmable offset version with four 2d offsets (one per sample).  Programmable offsets can be variable and are defined where:

DXBC has different operations for these cases: `gather4_aoffimmi` and `gather4_po`.

DXIL on the other hand only h

[2021-02-19 08:26] jaebaek opened #3479 "[SPIR-V] allow users to access `gl_InstanceIndex`"
This issue is from https://github.com/microsoft/DirectXShaderCompiler/issues/3361#issuecomment-774485134

I'm using DXC to generate Vulkan shaders for PC where I want the functionality of `gl_InstanceIndex` with a non-zero BaseInstance. A built-in would allow SV_InstanceID to continue to work as is, while also allowing a shader access to the built-in SPIR-V `BaseInstance` and `InstanceIndex` varia

[2021-02-19 08:29] jaebaek commented on #3361
@awesomekyle I opened a new bug for your request: #3479.
I am a little bit worried we add many `vk::builtin` variables or functions, but it is worth considering it.
I will get back to you after considering it a little bit more.

[2021-02-19 19:30] #3361 closed

[2021-02-19 19:31] jaebaek commented on #3106
Fixed by #3478

[2021-02-19 19:31] #3106 closed

[2021-02-20 06:08] tex3d commented on #2713
Another solution is to introduce new dxil OpCodes to differentiate these (to be introduced in some future DXIL version).  They would be under the same OpClass and use same function signature.  I would suggest the new ones be the immediate offset ones, since the old ones can be converted to immediate offset ones if the offsets are compatible, otherwise they would remain the programmable version, re

[2021-02-22 21:37] BitMD commented on #2653
Resource information is preserved in separate reflection part.  This is by design.

[2021-02-22 21:37] #2653 closed

[2021-02-22 22:04] BitMD commented on #1946
fixed by Adam

[2021-02-22 22:04] #1946 closed

[2021-02-22 23:46] pow2clk commented on #2556
This was fixed by #3405

[2021-02-22 23:46] #2556 closed

[2021-02-23 00:41] #3130 closed

[2021-02-23 00:42] pow2clk commented on #3130
Hi @mkroll-nv!

The submitted fix is just a bit speculative, so I'd appreciate confirmation that it resolves your issue.

[2021-02-23 13:21] andrejnau opened #3493 "IDxcContainerReflection::GetPartReflection returns corrupted ID3D12LibraryReflection for shader"
I tried to determine if the blob shader or library.
I expect that for shader ID3D12LibraryReflection is nullptr and ID3D12ShaderReflection is valid object and vice versa for library.
Actually it works only for ID3D12ShaderReflection. ID3D12LibraryReflection always exists, but it is corrupted for shader.

[2021-02-23 13:25] andrejnau commented on #3493
Does DirectXShaderCompiler have another way to determine if the blob shader or library? Which I can use via "dxcompiler.dll" and [include/dxc](https://github.com/microsoft/DirectXShaderCompiler/tree/master/include/dxc).

[2021-02-23 14:08] Dredhog opened #3494 "Using legacy VFACE semantic does not work but compiler error is not printed (affects both DXIL and SPIR-V backends)"
### Title
Using legacy `VFACE` semantic does not work but compiler error is not printed (affects both DXIL and SPIR-V backends)

### Functional impact
When porting FXC shaders which use `VFACE` (which has modern equivalent `SV_IsFrontFace`) DXC does not warn that these shaders will not work as they did with FXC. With D3D12 a shader which uses `VFACE` crashes in the driver during graphics pipeline

[2021-02-23 18:34] vcsharma opened #3496 "Add an option to abort compilation when generating errors"
It came up during review of #3043 that when generating compilation errors, it is desirable in most cases to stop further compilation and exit. It seems the current mechanism doesn't support that.

Here is a relevant comment from @tex3d

[2021-02-23 20:06] hekota commented on #3286
Hello,

the latest download works on Windows 7 as long as [Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017](https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0) and 2019 is installed, which is the same as for the previous 2 downloads.

We'll look into why dxc.exe is not included in WinSDK.

[2021-02-24 09:44] ohlenbg opened #3500 "Wave intrinsics lead to artifacts on polygon edges"
When using Wave intrinsics, very bad artifacts are produced on the polygon edges.

In the attached screenshot, this shader is executed on 36 triangles that make up a full-screen plane.  Artifacts appear on these polygon edges.

We have a large UAV that we use as a ring buffer - Allocated with 64 * 32 * 16384 elements where we allocate 64 uint4's per thread, assume each warp can have 32 threads and

[2021-02-24 09:57] ohlenbg opened #3501 "Local array as an inout parameter generates inefficient microcode"
Currently we’re using UAV buffers to store and read closure data to avoid data unrolling. Is there a way to pass large arrays as inout parameter without having it unrolled in the compiled Fc code?

Please find attached the HLSL shader array_test. Uncomment line 10 #define USE_ARRAY_CASE as reproducer of the unrolling.
[array_test.txt](https://github.com/microsoft/DirectXShaderCompiler/files/603503

[2021-02-24 12:24] Jasper-Bekkers commented on #3372
It looks like this issue is significantly worse then expected, since non-templated loads exhibit the same bad behavior:

http://shader-playground.timjones.io/1ff2f9b80ad8cb73d7cc64f60edb2804
http://shader-playground.timjones.io/88a55360960ebd185281324bb19511d5

The expected output would be to have one OpTypeVector of 4 elements, and one OpLoad on that.

[2021-02-24 19:52] jaebaek commented on #3443
As discussed in https://github.com/microsoft/DirectXShaderCompiler/pull/3481#issuecomment-782388916, DXIL backend will also deny non-integer type `SV_DispatchThreadId`. See #3043. Let me close this issue because it will be a correct behavior after the PR is merged.

[2021-02-24 19:53] #3443 closed

[2021-02-24 19:54] jaebaek commented on #3494
@Dredhog Thank you for reporting this issue. I will check the SPIR-V backend.

[2021-02-24 21:30] #3430 closed

[2021-02-24 23:22] #2603 closed

[2021-02-25 03:17] #2964 closed

[2021-02-25 03:52] #2677 closed

[2021-02-25 05:38] #3423 closed

[2021-02-25 09:47] qinlili23333 opened #3503 "When using in games, OSD softwares such as RTSS cannot work"
I renamed `d3dcompiler_dxc_bridge.dll`  to `d3dcompiler_42.dll` or `d3dcompiler_47.dll` and copy with `dxcompiler.dll` to games' bin path. According to ProcessExplorer, these dll are finely loaded and the games run well. However, any OSD softwares such as Riva Tuner Statistics Server cannot display information on screen.
(While Steam overlay works fine, and FPS meter by GFE works fine too)

[2021-02-25 19:04] nuno-cardoso opened #3505 "Inline Raytrace RayQuery::CommittedTriangleFrontFace Not Working"
When using inline raytrace, after calling proceed on a ray query, using the call to RayQuery::CommittedTriangleFrontFace makes all the other calls to RayQuery::Committed*** return zeros or invalid. Not using the call to RayQuery::CommittedTriangleFrontFace makes the other calls return meaningful values.

[2021-02-25 23:09] vcsharma opened #3508 "Some SV semantics support scalar but crashes on vec1 type"
**Example 1: SV_GSInstanceID**

%dxc -E main -T gs_6_2 -DTY=uint1 %s

[code]

**Example 2: SV_DomainLocation**

%dxc -E main -T ds_6_2 -DTY=float1 %s

[code]

**Example 3: SV_InnerCoverage**

%dxc -E main -T ps_6_2 -DTY=uint1

[code]

**Example 4 : SV_OutputControlPointID**

%dxc -E main -T hs_6_2 -DTY=uint1

[code]

**Example 5: SV_PrimitiveID**

%dxc -E main -T gs_6_2 -DTY=uint1

[code]

**Examp

[2021-02-25 23:24] ScatteredRay opened #3509 "Support ninja compatable depfile"
Integrating DXC into our build process, we need a way to rebuild shaders when their dependencies change. it's pretty common for other compilers to support emitting a depfile for instance as used by Ninja: https://ninja-build.org/manual.html#ref_headers

The DXC command line compiler doesn't seem to support this, but it would be greatly useful to have.

[2021-02-26 00:00] vcsharma commented on #3508
Found these issues while working on #3043

[2021-02-26 00:20] vcsharma commented on #3444
@Dredhog Thanks for reporting this crash. The compiler was lacking in the area of checking for unsupported types for SV semantics that lead to random crashes reported here or in #2954. We expect to soon deploy a change #3043 which would start reporting compilation error for unsupported types.

[2021-02-26 16:58] CallumCVM opened #3511 "_GetConstantBufferByName exception in debug mode with DXIL"
_GetConstantBufferByName causes an exception in debug mode because the CRT thinks m_CBsByName and m_StructuredBufferCBsByName are of different types, so a type mismatch exception is thrown.

If DXIL is not used as a target, no problem. No problem in Release mode too.

[2021-02-26 19:44] jeffnn opened #3515 "use of unrecognized compiler options with slash (not dash) breaks dx.source.* info"
In my case, I had some older code that passed /enable_unbounded_descriptor_tables.
Look what happens to the source info when this (older, now unrecognized) argument is specified:
Metadata !0 should have the source filename as its first entry, not this unrecognized flag.

[code]
If I pass -enable_unbounded_descriptor_tables (with a – instead of a /), then I get an expected error.

[2021-02-27 03:34] AquaGeneral opened #3519 "[SPIR-V] Generic (and potentially unsafe) Support To Use Any SPIR-V Extension"
Currently we are at the mercy of the DXC developers to support the shiny-new SPIR-V extensions (which is actually a good thing for robustness). However it would be nice if there was some way to emit code for all unsupported extensions, potentially in a way might not have all language safety checks (hopefully a better version of emitting assembly instructions in C++).

Consider the following code (

[2021-02-27 13:25] vcsharma opened #3522 "const expr cast involving vector type fails in various scenarios"
**Scenario 1: Const expr cast between vectors of same component count, but different component types causes compiler crash.**

Below is the shader and  cmdlines which currently crashes.

%dxc -E main -T vs_6_2 -DVEC1 -DLTV=uint16_t1 -DRTV=uint1
%dxc -E main -T vs_6_2 -enable-16bit-types -DVEC1 -DLTV=uint1 -DRTV=uint16_t1
%dxc -E main -T vs_6_2 -DVEC3 -DLTV=bool3 -DRTV=int3

[code]

**Scenario 2: C

[2021-02-27 13:27] vcsharma commented on #2445
@tafuri Thanks for reporting this issue. This is actually a valid case which should compile. Compiler should do an implicit truncation from vector to scalar type as you have also indicated in the bug title.

I investigated this more and it turns out that there are other related scenarios as well where compiler fails to compile. Here is the bug reference #3522.

[2021-02-27 19:26] CallumCVM commented on #3511
After further testing, it seems this is caused by reflection and does not occur if no constant buffer (or an empty constant buffer) is in the shader.

[2021-03-01 11:22] qinlili23333 opened #3527 "Rendering problem when used in Chromium programs"
rename `d3dcompiler_dxc_bridge.dll` to `d3dcompiler_47.dll` and copy with `dxcompiler.dll` to Chromium program's bin path
then program cannot render weg pages well: all text disappear, all SVG disappear,some CSS styles broken,images work well
Google Chrome, nw.js, Electron, and other programs with Chromium all have this problem.

[2021-03-01 12:13] ohlenbg opened #3528 "Crash on for loop without loop terminator condition"
Without adding a loop terminator condition - one that is never hit the - the attached shader causes a hang or a crash.
[loop_crash.txt](https://github.com/microsoft/DirectXShaderCompiler/files/6061487/loop_crash.txt)

[2021-03-01 22:22] jaebaek commented on #3519
@AquaGeneral Thank you for reporting this issue. We will take a look.

[2021-03-02 03:07] #2445 closed

[2021-03-02 03:07] #3522 closed

[2021-03-02 06:13] vcsharma commented on #3041
@iOrange Thanks for reporting this issue. This appears to be a valid scenario which should compile successfully. Below is the slightly shorter repro of this bug.

[code]

[code]

The issue is that while trying to evaluate the above expression tree recursively, in  function `EmitConstantExpr`, the call to `EvaluateAsRValue` always returns `false` for `InitListExpr` as it doesn't seem to handle matr

[2021-03-02 16:29] jaebaek commented on #3372
I will take a look and get back to you.

[2021-03-02 16:32] MarijnS95 commented on #3372
@jaebaek Thanks! Could this possibly have any relation to https://github.com/microsoft/DirectXShaderCompiler/issues/3370?

[2021-03-02 17:07] jeffnn opened #3531 "No debug info for locally-declared dynamic resources (SM 6.6)"
Example: Given this HLSL:

[code]

There is no metadata at all for the locally-defined “DynamicallyIndexedDynamicBuffer”.

[2021-03-03 00:34] #1919 closed

[2021-03-03 02:42] #2590 closed

[2021-03-03 02:42] #2713 closed

[2021-03-03 20:00] dneto0 commented on #3370
Looking at the generated SPIR-V, the matrix type is only used for an intermediate value.  It's not used to describe the contents of a buffer. So there is no obligation to apply layout decorations to it.  In fact, it *should not* have layout decorations.

I think this is not a bug.  I recommend closing.

[2021-03-03 20:09] MarijnS95 commented on #3370
@dneto0 Note that the loads should probably get vectorized as per #3372, then this becomes relevant?

Generated SPIR-V remains identical regardless of `column_major` or `row_major` annotations, which should be a bug if I'm not mistaken?

[2021-03-03 20:27] alan-baker commented on #3372
This is a limitation of SPIR-V. If the variable is typed to be a runtime array of uints (as it is here), then only a single uint can loaded at a time. There is a potential optimization of representing the variable as a runtime array of uint4s (or an aggregate of larger values), but that complicates the logic to calculate the addresses.

[2021-03-03 21:21] Jasper-Bekkers commented on #3370
Notice that not doing this leads to subtle SPIR-V specific bugs when converting for example from a StructuredBuffer<float4x4> to a ByteAddressBuffer. Though this could also point to a codegen bug for the SPIRV path that just loads the matrices in the incorrect order.

[2021-03-03 22:41] jaebaek commented on #3372
I agree with @alan-baker . It works correctly but inefficient, which is a limitation of SPIR-V.

Since the given ByteAddressBuffer is a buffer of "bytes" (it generates `uint` buffer in SPIR-V), converting it into an arbitrary type using the templated load definitely needs some type-cast for each element. Currently, we do not have SPIR-V instructions for doing it efficiently.

[2021-03-04 02:46] mattsinger opened #3535 "Retrieving reflection data for structs used in input signatures"
I am writing a code generator based on D3D12 shader reflection data. Given a simple vertex shader:
[code]
I can use `ID3D12ShaderReflection::GetInputParameterDesc` to get the type and semantic for each member of VertexIn, as well as the register it is mapped to. However, I would like to retrieve the names of the VertexIn members (i.e. "mPos" and "mColor") for my generated code. Is there a way to d

[2021-03-04 13:57] Jasper-Bekkers opened #3536 "[DXIL] RWByteAddressBuffer Store of float4x4 only stores first 4 elements"
Broken:

[code]

Relevant dxil:

[code]

Workaround:

[code]

relevant dxil:

[code]

Shader playground link: http://shader-playground.timjones.io/5316abf2a9f238f2079a6f510c02c4be

[2021-03-04 13:58] Jasper-Bekkers commented on #3536
@vcsharma since you fixed the loads, you may also be interested in this issue.

[2021-03-04 14:10] Jasper-Bekkers commented on #3372
Might be better to close this issue then, and follow up directly within Khronos instead what do you think?

[2021-03-04 14:19] Nielsbishere opened #3537 "DXC Warning suggestion: Duplicate variable"
The following is valid code, but it is easy to make mistakes with it:

[code]

I'd highly recommend to make this a warning, since it might help people debug their shaders more easily, if they made the same mistake I did.

[2021-03-04 16:13] vcsharma commented on #3536
@Jasper-Bekkers I remember fixing this issue with #3422 and #3485. Could you try the latest build? This is what I get when I compile the above shader using the latest build:

With /Zpc:

[code]

With /Zpr:

[code]

[2021-03-04 16:48] Jasper-Bekkers commented on #3536
Ah we were looking around and couldn't find the relevant PR it seems, thought I'd confused it with the Load PR. Thanks for the fixes, they've seemed to fixed the code on our end as well.

[2021-03-04 16:48] #3536 closed

[2021-03-04 18:57] vcsharma commented on #2537
Related to #972

[2021-03-04 19:16] pow2clk commented on #2145
Preliminary support by @tcorringham has been merged into a side branch with plans to bring it to master when more mature (see #3533) `-enable-templates` flag is required. Support is roughly at the level of c++98

[2021-03-06 09:41] tex3d commented on #2863
It turns out this was fixed in this PR: #3065

[2021-03-06 09:41] #2863 closed

[2021-03-08 17:08] jaebaek commented on #3372
Yes, we can close it and open another one when we have some solutions for this.

[2021-03-08 17:08] #3372 closed

[2021-03-08 23:14] simondeschenes commented on #2145
Wonderful news. I will try it.

[2021-03-09 10:09] Jasper-Bekkers opened #3553 "[SPIR-V] HLSL 2021 Template support"
I just noticed that #3533 got merged into the hlsl-2021 branch so I had to give it a go since this is something we're very much looking forward to. In SPIR-V mode it looks like there's still some invalid SPIR-V being generated for the following code:

[code]

This works and outputs some DXIL that seems to do the right thing:
[code]

This doesn't work, giving the validation error below:
[code]

Err

[2021-03-09 19:00] jaebaek commented on #3553
It is in my TODO list. It might need some non-trivial updates from SPIR-V backend. I will get back to you.

[2021-03-09 19:35] #3537 closed

[2021-03-09 19:53] Nielsbishere commented on #3537
Nice, thank you

[2021-03-09 20:19] pow2clk opened #3556 "[templates] Issues with dependent template names"
DXC has some issues with dependent template names. Sometimes dependent template names are inevitable to leverage the usage of templates.

The following example reports the correct error that is also reported by Clang in C++:
[code]
The error would be this one:
[code]

If I add the missing typename keyword to forward declare TVec::value_type to be a type name, as shown here:
[code]

the following c

[2021-03-09 20:24] pow2clk opened #3557 "[templates] fatal error using static member var"
This this simple vs_6_0 example causes a fatal error in DXC:
[code]
Produces this error:
[code]

[2021-03-09 23:48] bartwe opened #3559 "When having multiple variables in separate scopes with the same name, only the first usage causes an error when it is not fully initialized."
For example in this case 'mask' is reused in the if branches.

[code]

[2021-03-10 10:37] gabadie opened #3563 "[templates] ambigous function override"
Hello

Templates are awesome. Just reporting a nices to have to minimize surprise when using template in HLSL.

Template instentiations allow to do function override through template specialisation, but the C++ syntax for function override is still a lot simpler. Can we have -enable-template to also allow C++ function override?

[code]

This produce this error:
[code]

[2021-03-10 10:44] gabadie opened #3564 "[template] have -enable-templates to disallow structure casting"
Hello

Templates are awesome. Just reporting a nices to have to minimize surprise when using template in HLSL.

Legacy HLSL allow to cast structure that have same amount of register. But with the use of templated function, this can silently happen deep in a templated function. Could we have -enable-templates to start throwing errors instead?
[code]

[2021-03-10 10:47] gabadie commented on #3564
Would be great to also not allow casting structures into float4 for instance

[code]

[2021-03-10 19:34] seanbaxter opened #3565 "DXC supports 64-bit bfe but only 32-bit bfi."
Missing 64-bit bfi overload here
https://github.com/microsoft/DirectXShaderCompiler/blob/master/lib/DXIL/DxilOperations.cpp#L134

[2021-03-12 14:07] Nielsbishere opened #3572 "Missing compile error"
Write access into a Texture2D is allowed, until the DXIL validation stage happens. This is not ideal, as DXIL validation errors are quite unreadable. I'd suggest detecting assignment to a Texture2D's value and popping a compile error if that happens; but allowing it with a RWTexture2D.

[2021-03-12 20:16] jeffnn opened #3573 "SM6.6: -Od breaks dynamic samplers (inlined initializer not right?)"
With the appended HLSL

Works great. But:

error: validation errors
Function: GeometryPS: error: I8 can only be used as immediate value for intrinsic or as i8* via bitcast by lifetime intrinsics. Use /Zi for source location.
note: at '%11 = extractvalue %dx.types.Handle %9, 0' in block '#0' of function 'GeometryPS'.
Function: GeometryPS: error: Instructions must be of an allowed type. Use /Zi for

[2021-03-14 18:07] xxxbxxx opened #3575 "[spirv] Use constant value for offset (SPIR-V spec does not accept a variable offset for OpImage* instructions other than OpImage*Gather)"
hi,

I've updated to the latest dxc.exe and I get a new error on shaders that previously compiled and worked fine:
`Use constant value for offset (SPIR-V spec does not accept a variable offset for OpImage* instructions other than OpImage*Gather)`

see https://github.com/microsoft/DirectXShaderCompiler/pull/3456

However when I look at the code I see two cases:
 * function calls:
[code]

* unrolled

[2021-03-15 03:51] tex3d commented on #3573
This was fixed with #3499.

[2021-03-15 03:51] #3573 closed

[2021-03-15 05:46] vcsharma opened #3579 "dxc asserts when using array of matrix type for const init"
The following asserts in dxc.

%dxc -E main -T vs_6_2

[code]

[2021-03-15 06:26] tex3d commented on #3572
Funny you should point this out.  I had a fix on the back burner, but needed to finish updating some tests that were out of date.

Fix in PR: #3580

[2021-03-15 07:24] tex3d commented on #3377
While the compiler should not crash here, dxc does not support uniform function arguments this way.  The `uniform float4x4 modelViewProj` and `uniform Texture2D<float4> decal` arguments should be specified outside the function arguments.  The semantic won't be preserved on the Texture2D argument either, unless `TEXUNIT0` actually is a macro defined to something like `register(t0)`.

The SamplerSta

[2021-03-15 08:08] tex3d commented on #3500
Actually it appears to assume 32 lanes (which also is not correct for a variety of GPUs).

But even where it is, these two paths will not produce the same result, particularly because of polygon edges.  That's because some lanes will be assigned uncovered samples in quads.  These invisible helper lanes will not contribute to wave intrinsics or UAV operations.

This means that the InterlockedAdd pa

[2021-03-15 08:08] #3500 closed

[2021-03-15 08:14] #2788 closed

[2021-03-15 17:45] dmpots opened #3583 "dxc generates dead call to dx.op.coverage in shader with discard"
In this shader there is no use of coverage, but dxc generates a call to dx.op.coverage.

[code]

We should not generate this instruction if it is not used. This is a regression from a previous version of dxc.

[code]

[2021-03-15 17:57] dmpots opened #3584 "Misleading error message for missing semantic on return value"
[code]
I get the following error from dxc

[code]

I am probably using coverage incorrectly, but the error message does not make sense (I did give it a semantic).

[2021-03-15 18:01] #3579 closed

[2021-03-15 18:04] dmpots commented on #3584
This was my bug in the shader. It was missing an `SV_Target` on the output. It would be nice if dxc would tell me its the return value that is missing the semantic instead of the parameter.

[2021-03-15 20:48] tangogu opened #3585 "Potential issues on denorms in DirectX Intermediate Language spec(master/docs/DXIL.rst)"
1. To FMin/FMax, still flush to zero first then comparison, without considering new denorm preserve mode, is this really expected?
2. To sin/tan/asin/atan of denorms input, it can better be represented the same as the input denorm value while spec require denorms flush to zero. Considering no performance/complexity in HW, and flush to zero does impact precision, is there any plan to change or allo

[2021-03-15 20:50] jaebaek commented on #3575
Based on the new SPIR-V validation rule (https://github.com/KhronosGroup/SPIRV-Tools/pull/4118), we cannot use variable for `OpImage*` instruction. You have to use constant values.

In your code
[code]

Note that FXC also has the same behavior: http://shader-playground.timjones.io/1942ffec1099ced43f3932d678903882. I guess GPU drivers cannot support variables for it.

[2021-03-16 08:51] xxxbxxx commented on #3575
I'm not saying the error is wrong.
I'm saying that it would be nice to have the check done after inlining / unrolling, like 'fxc' and 'dxc dxil'.
(ot that there may be some other way or option I don't know?)

This example seems fine with both fxc and the older dxc, both dxil and spirv (when looking at the output).
http://shader-playground.timjones.io/2d0395e3311262453e25b0ca3b06769a

But with newe

[2021-03-16 08:56] xxxbxxx commented on #3575
and if I change [unroll] to [loop] to force the error,
http://shader-playground.timjones.io/ba22303a17c59a31d1fc23fe45f1c9b4

dxc helpfully suggests unrolling to fix the error:
`error: Offsets for Sample* must be immediated value. Consider unrolling the loop manually and use -O3, it may help in some cases. Use /Zi for source location.`

[2021-03-16 14:27] vcsharma opened #3590 "constexpr cast involving matrix type causes compiler crash"
**Scenario 1: Matrix to Scalar truncation cast**

[code]

**Scenario 2: Matrix to Matrix truncation with zero initializer**

Note: If the initialized value is non-zero, then it works.

[code]

[2021-03-16 14:27] vcsharma commented on #3590
Related to #3041

[2021-03-16 15:26] #3583 closed

[2021-03-17 09:12] Evil-Ryu opened #3596 "[SPIR-V] Return a "void" in a void function causes crash"
[code]

This is the shader to reproduce the issue, it causes the dxc to crash in spirvtools::opt

compile arguments as below:
`dxc.exe  -T lib_6_5 E:\test.txt -exports MainRG-spirv -fspv-target-env=vulkan1.2`

Tested on dxc of VulkanSDK 1.2.154.1, 1.2.170.0,  and revision: 259ce00a7868fc1f4585d95c305aa3fb71c6b964

Chaning the "return A(a);" to "A(a); return;" would fix the issue.

[2021-03-17 16:49] tcorringham commented on #3556
Just an update for this issue - I thought I had a fix, but unfortunately it breaks some other things so needs a bit more work...

[2021-03-17 18:40] #3572 closed

[2021-03-17 19:22] tcorringham commented on #3557
I'm not seeing the fatal error with this example - are there some steps to recreate it that I'm missing? What command line was used?

[2021-03-17 21:28] jaebaek commented on #3596
@Evil-Ryu Thank you for reporting this issue.

[2021-03-17 22:36] #3041 closed

[2021-03-17 22:36] #3590 closed

[2021-03-18 21:37] pow2clk commented on #3324
I have tried this with the latest DXC build and I find it doesn't repro. Please let us know if you find differently. Thanks!

[2021-03-18 21:37] #3324 closed

[2021-03-19 14:53] turanszkij commented on #3324
All good, thanks!

[2021-03-22 22:41] jbright282 opened #3612 "Appveyor download link broken"
The link for downloading Windows Appveyor artifacts has been broken for a while.
The link ends in "Visual Studio 2017" - needs to be updated to "Visual Studio 2019".

cheers - j

[2021-03-23 13:50] alextardif-zmi commented on #3204
Hit this same issue in some annotations, a more helpful error at least would be much appreciated if possible :-)

[2021-03-23 21:04] #3612 closed

[2021-03-24 02:51] tex3d commented on #1948
Fixed by #3580

[2021-03-24 02:51] #1948 closed

[2021-03-24 09:38] ghostplant opened #3619 "How to download the nightly build of `dxcompiler.dll`"
The last release was over half year ago. Is there a repo to download the nightly build of latest `dxcompiler.dll`?

[2021-03-24 14:47] jaebaek opened #3620 "[template] missing ImplicitCastExpr <LValueToRValue> when enabling template"
[ast_for_shader_with_template.txt](https://github.com/microsoft/DirectXShaderCompiler/files/6197978/ast_for_shader_with_template.txt) is AST for [shader_with_template.txt](https://github.com/microsoft/DirectXShaderCompiler/files/6197980/shader_with_template.txt).
In a template function,
[code]
`g_stuff[this.handle]` generates the following sub-AST:
[code]
For the template instance of `g_stuff[this

[2021-03-24 14:51] ehsannas commented on #3619
It is linked in the Downloads section (Windows): https://github.com/microsoft/DirectXShaderCompiler#downloads

[2021-03-24 14:51] #3619 closed

[2021-03-24 16:20] pow2clk commented on #1124
No longer repros

[code]

[2021-03-24 16:20] #1124 closed

[2021-03-25 10:46] Kessica opened #3625 "DXCreateInstance and DXCreateInstance2 not found when linking when _MSC_VER is defined"
dxcapi.h lines 86 and 95

#ifndef _MSC_VER
extern "C"
#endif
DXC_API_IMPORT HRESULT __stdcall DxcCreateInstance( ... );

When _MSC_VER is defined, e.g. when compiling using VS2019 (latest) "DxCreateInstance" and "DxCreateInstance2" exports are mangled, the linker cannot locate them. The exports definition file , "DXCompiler.def", contradicts the exports in the header file.  I believe the exports s

[2021-03-25 11:34] ghostplant commented on #3619
Thanks, the nightly headers are easily conflict with standard `dxcapi.h` from Windows Kit 10.
Is there any good solutions to avoid that?

[2021-03-25 17:40] hekota commented on #3625
Hello Kessica, I believe you are using an old version of dxcapi.h. The current dxcapi.h does not have the _MSC_VER define anymore, is has been removed 2.5 years ago. Are you getting this header from Windows SDK?

[2021-03-25 18:09] Kessica commented on #3625
Ahh, great suggestion. After checking, yes it is from WinSDK, despite specifying dxc\include first. In the end I just commented out the offending lines, but I have no idea what the consequences would be for other builds, hence just explaining my observation. I did attempt to follow the instructions to build the project files and use them, but even grabbing the latest cmake, I couldnt get past all

[2021-03-25 19:19] #2965 closed

[2021-03-25 19:37] #3625 closed

[2021-03-26 03:37] StarsX commented on #3505
Hit the same issue.

[2021-03-26 05:07] psilva-nvidia commented on #2377
I believe this also causes issues if you interpret that int as a unsigned short, i.e.
`float4 ps( float4 Pos : SV_POSITION ) : SV_Target { return 65520; } // works`
however
`float4 ps( float4 Pos : SV_POSITION ) : SV_Target { return min16float(65520); } // returns void`
65504 should be the largest valid number, but up to 65519 it still works.  65520 and above should map to +inf I believe.
Independ

[2021-03-27 12:48] GregSlazinski commented on #3575
Hello,

I have the exact same problem.

Example code:
[code]

This code compiled and worked fine in a previous release.
Now it fails to compile.

As you see the x,y for are unrolled so they expand to constants.

Can you please fix this? Because it's breaking my work.

[2021-03-29 21:22] #1500 closed

[2021-03-30 06:44] jmccarthy634 opened #3644 "[spir-v] Inheriting from struct causes crash"
Compiling the following HLSL with `-T vs_5_0 -E CrashVS -spirv -fspv-target-env=vulkan1.1`  causes the compiler to crash.

[code]

Changing `struct RigidMeshTransform` to no longer inherit from `ITransform`, or removing usage of `worldMatrix` in `RigidMeshTransform::transformToWorld` and the compiler no longer crashes.

Reproducible with a build from the latest master.

[2021-03-30 14:07] NeilMillstoneES opened #3645 "[SPIR-V] Branching on a bool member of a struct passed as a parameter causes invalid code to be generated"
Hi,

The following shader passes a struct as an 'inout' parameter to a function. Inside this function, branching on a bool member of the struct cases the following compiler error to be emitted:
`fatal error : generated SPIR-V is invalid : Condition operand for OpBranchConditional must be of boolean type OpBranchConditional %38 %40 %39`

The command line used to invoke the compiler is:
`dxc.exe -sp

[2021-03-30 15:14] jaebaek commented on #3644
@jmccarthy634 Thank you for reporting this issue. We will take a look.

[2021-03-30 15:15] jaebaek commented on #3645
@NeilMillstoneES Thank you for reporting this issue. We will take a look.

[2021-03-30 15:18] jaebaek commented on #3575
The main issue is that DXC SPIR-V backend does not conduct loop-unrolling and relies on the spirv-opt passes for the optimization. We have to check why the loop-unrolling does not work before the validation check. Let me take some time for the investigation.

[2021-03-31 19:04] #3553 closed

[2021-03-31 19:11] jaebaek opened #3649 "[SPIR-V] Support EvaluateAttribute* intrinsics"
Currently, SPIR-V backend does not support `EvaluateAttribute*` intrinsics.

According to the discussion in https://github.com/KhronosGroup/glslang/issues/2584, `OpInterpolate*` needs a pointer operand rather than `OpLoad`. Based on the offline discussion with @greg-lunarg we need a spirv-opt pass to replace `OpLoad` operand of `OpInterpolate*` to the pointer loaded by the `OpLoad`.

When a spirv-

[2021-03-31 21:22] jaebaek commented on #3649
https://github.com/KhronosGroup/SPIRV-Tools/pull/4220 is the spirv-opt PR.

[2021-03-31 23:24] jenatali opened #3651 "[SPIR-V] DXC expects shader compilation to fail, but SPIR-V generation succeeds"
Running the https://github.com/microsoft/DirectXShaderCompiler/blob/master/tools/clang/test/HLSLFileCheck/hlsl/control_flow/if_else/if9.hlsl against SPIR-V generation, I'd expect this shader to fail since there's a declared output that's not written to, but it succeeds and produces SPIR-V.

Probably a secondary/orthogonal issue is whether SPIRV-Val should complain about this: it doesn't (at least

[2021-04-01 18:06] jaebaek commented on #3651
@jenatali Thank you for report this issue. We will take a look.

[2021-04-01 22:40] pow2clk commented on #3557
@jaebaek @ehsannas , Turns out this one is a spirv backend issue with templates

[2021-04-02 00:35] #3357 closed

[2021-04-02 10:27] h3r2tic commented on #3357
Awesome, thank you! :)

[2021-04-03 17:03] jaebaek commented on #3557
Sure, I will take a look

[2021-04-05 10:47] Kessica opened #3663 "IDxcResult->GetOutput(DXC_OUT_ERRORS, ...) gives false error information when using -H"
When using a custom include handler, after a successful compile, the GetOutput(DXC_OUT_ERRORS,...) gives me Include information when the -H argument is used, e.g. false positives, unless I am understanding this wrong. All my HLSL files compile correctly using both fxc and the DX Compiler Editor.

My custom include handler builds the path and filename required, loads the file, then passes back the

[2021-04-06 20:36] #2108 closed

[2021-04-06 21:39] pow2clk commented on #3494
@jaebaek I think we can close this?

To give a bit of background, arbitrary semantics are allowed. As such, we can't reject this semantic just because it used to be a builtin semantic. Instead, Jaebaek added a warning that this may not be doing what you're expecting.

[2021-04-06 21:59] tex3d commented on #3494
Yes, fxc allows VFACE and interprets it as an arbitrary semantic unless using -Gec.  With -Gec, it emulates it with SV_IsFrontFace.  So the real bug is that we should emulate it when using -Gec.  Note also that fxc dropped support for -Gec on SM 5.1.

[2021-04-07 01:03] RossNordby opened #3667 "[SPIR-V] Empty groupshared arrays generate invalid SPIR-V"
Using 0 as a constant value for a groupshared array causes a `fatal error: generated SPIR-V is invalid: OpTypeArray Length <id> '11[%uint_0]' default value must be at least 1: found 0`

Not exactly a big concern, but by request of the compiler output message, here's a reproduction:
[code]

Observed in 1.6.0.2994 and 1.6.0.3105 (1f6d1facb).

[2021-04-07 17:35] david-amer opened #3670 "[SPIR-V] fatal error: failed to legalize SPIR-V: Variable cannot be replaced: invalid index"
There seems to be an issue with the -fspv-flatten-resource-arrays compiler switch in the 1.6.2104 release, as well as the most recent commit to "master". (Build string from dxc.exe: "Version: dxcompiler.dll: 1.6 - 1.6.0.13105 (master, 1f6d1facb)")

It fails to compile the shader, included at the end of this report, with this error:

**fatal error: failed to legalize SPIR-V: Variable cannot be repl

[2021-04-07 20:55] jaebaek commented on #3667
@RossNordby Thank you for reporting this issue. We will take a look.

[2021-04-07 20:56] jaebaek commented on #3670
@david-amer Thank you for reporting this issue. We will take a look.

[2021-04-07 21:48] #3575 closed

[2021-04-08 13:33] otanter-at-ubi opened #3674 "Application Verifier detects an access violation while generating code for gather"
Hi,

the repro is very simple, just compile this pixel shader with dxc, while dxc is being watched on by App Verifier with default options:
[code]

![dxc_crash_gather](https://user-images.githubusercontent.com/54539357/114033003-2db36e80-987d-11eb-9daf-3170fcd17310.png)

I'm using a clone from yesterday, with HandleBits struct modified as is, to allow more than 255 includes:
[code]
(see issue #231

[2021-04-08 20:45] jenatali opened #3675 "[SPIR-V] HLSL disallows 64bit cross-stage shader I/O"
See https://github.com/microsoft/DirectXShaderCompiler/blob/master/tools/clang/test/HLSLFileCheck/hlsl/diagnostics/errors/invalid_input_output_types.hlsl

DXC targeting DXIL generates errors trying to use the int64/double, but this produces valid SPIR-V. I understand this is legal in GLSL, but DXC should probably still reject it when targeting SPIR-V.

[2021-04-08 22:20] jaebaek commented on #3675
Thank you for reporting this issue. We will take a look.

[2021-04-08 22:23] jaebaek opened #3676 "float for ShadingRate is fine when we generate DXIL. Is it intended?"
Using `float` for `SV_ShadingRate` is not allowed, but using `float` for `ShadingRate` is fine when we generate DXIL.

[code]

See http://shader-playground.timjones.io/49d8da73a15ce0a3f8ba79eb659edd50.

Is it intended?

[2021-04-09 09:12] ganluo960214 commented on #3001
@turanszkij do you fix it? I also want use it in uwp application for runtime compile raytrace .hlsl fie.

[2021-04-09 09:32] turanszkij commented on #3001
@ganluo960214 I'm not sure about the store certification right now, but on a dev environment it works. I'll try certification in the near future and report back here.

[2021-04-09 09:35] ganluo960214 commented on #3001
@turanszkij thank you so much. I am trying to direct merge DirectXShaderCompiler code into my project to solve problem.

[2021-04-09 12:58] EugeneGribovich opened #3677 "fatal error: generated SPIR-V is invalid: The Base <id> '35[%35]' in OpAccessChain instruction must be a pointer"
Hello

Have an error when compiling into SPIR-V:

dxc.exe ps.hlsl  -spirv  -T ps_6_6  -E ps_main  -fvk-use-dx-layout -fspv-target-env=vulkan1.1 -Fo ps.out

fatal error: generated SPIR-V is invalid: The Base <id> '35[%35]' in OpAccessChain instruction must be a pointer.
  %36 = OpAccessChain %_ptr_Function_type_2d_image %35 %int_0

note: please file a bug report on https://github.com/Microsoft/Dire

[2021-04-09 19:58] jaebaek commented on #3677
@EugeneGribovich Thank you for reporting this issue. We will take a look.

[2021-04-11 16:39] ganluo960214 opened #3680 "Anyway use dxc in uwp at runtime(without load dll)?"
try to write dxr in uwp project use <dxcapi.h>, it need load dll at runtime, but uwp not allow it.

I just want the hlsl result(pIDxcCompiler->Compile). Anyway can do it? I also a cpp noob.

[code]

[2021-04-11 16:51] ganluo960214 commented on #3680
I follow the instructions, run the 'hctbuild'.

Chang the 'Clang libraries'\'dxcompiler' cmake file 123 line to add_clang_library(dxcompiler STATIC ${SOURCES}) get a dxcompiler.lib. try use static library in link stage but failed.

[2021-04-12 11:11] Evil-Ryu opened #3681 "[SPIR-V] Reached non-composite type while indexes still remain to be traversed"
I got error:

`fatal error: generated SPIR-V is invalid: Reached non-composite type while indexes still remain to be traversed.
  %16 = OpCompositeExtract %float %AA 0
note: please file a bug report on https://github.com/Microsoft/DirectXShaderCompiler/issues with source code if possible`

The code to reproduce:
`
struct A
{
	float  a;
	uint  b;
	float  GetA()
	{
		return a;
	}
};
ConstantBuffer<A

[2021-04-12 14:09] jaebaek commented on #3681
Thank you for reporting this issue. We will take a look.

[2021-04-12 17:23] jaebaek commented on #3557
It is weird .. I got errors when I generate DXIL
[code]

I used commit 3857ceedf192fb18fb9b5f9b2d3450c8af732257 of hlsl-2021 branch https://github.com/microsoft/DirectXShaderCompiler/tree/hlsl-2021. Could you please let me know what commit or branch I should use to successfully generate DXIL for it?

[2021-04-12 17:37] #3644 closed

[2021-04-12 18:37] tcorringham commented on #3557
I think you just need the -enable-templates option.

[2021-04-13 22:48] jmccarthy634 commented on #3644
Thanks for the fix, was able to verify that it works against our shaders using the latest nightly build.

[2021-04-14 01:07] jmccarthy634 opened #3685 "[SPIR-V] Invalid spir-v generated with loop unrolling and optimization enabled"
Compiling the following HLSL with `-T cs_5_0 -E csMain -spirv -fspv-target-env=vulkan1.1 -O3` results in invalid spir-v being generated, unless you compile with `-O0` or remove the `[unroll]` attribute.

compiler error:
[code]

cut down HLSL example:
[code]

Reproducible with the latest nightly builds. This appears to be a regression - we don't see this issue on a much older build taken from commi

[2021-04-14 15:08] kvark opened #3686 "Binary release artifacts for Linux/macOS"
Would it be possible to include the Linux/macOS builds in the releases?

[2021-04-14 16:13] jaebaek commented on #3685
Thank you for report this issue. We will take a look.

[2021-04-14 16:19] jaebaek commented on #3686
Similar to the Windows build artifact, you can find the build artifact of top-of-tree from https://ci.appveyor.com/project/antiagainst/directxshadercompiler/builds/38687372/job/v5wrr3o4cwh7lako/artifacts.

However, I am not sure we can call it "release" ..

[2021-04-14 19:14] kvark commented on #3686
Ok, great. So why not include them in https://github.com/microsoft/DirectXShaderCompiler/releases ?

[2021-04-16 02:14] jmccarthy634 opened #3690 "Gather with non-constant offset"
When compiling this HLSL snippet with `-T ps_6_0 -E psMain -O3`
[code]
I get this error:
[code]

Is this really an error? The HLSL docs don't make mention of offset needing to be constant for Gather functions (and AFAIK spir-v explicitly _allows_ for non constant offsets for gather instructions), only for Load and Sample, and this code seems to compile just fine on FXC and older versions of DXC.

[2021-04-16 16:00] scottkircher commented on #2641
I've finally gotten word back from NVIDIA. They have investigated this and actually do think it's a problem with the SPIR-V code generated by DXC. We may need to reopen this issue. They'd like to communicate with you (or another suitable collaborator) directly about this.

[2021-04-18 12:48] ganluo960214 opened #3692 "D3D12 ERROR: ID3D12Device::CreateStateObject: Hash check failed for DXILibrary.pShaderBytecode: 0x0000026A3771F630."
I upload simple code https://github.com/ganluo960214/DXILibrary.pShaderBytecode.git

'DXILibrary.pShaderBytecode.exe' (Win32): Loaded 'C:\Users\gl\Documents\source\dx\DXILibrary.pShaderBytecode\Buildout\x64\Debug\DXILibrary.pShaderBytecode.exe'. Symbols loaded.
'DXILibrary.pShaderBytecode.exe' (Win32): Loaded 'C:\Windows\System32\ntdll.dll'. Symbols loaded.
'DXILibrary.pShaderBytecode.exe' (Win32)

[2021-04-19 13:17] jaebaek commented on #3644
Thanks for the confirmation!

[2021-04-19 13:55] jaebaek commented on #3690
IIUC, you used `-spirv` option, right?
This bug was fixed by #3656. I just doublechecked it with your code and it worked fine.

FYI, spir-v does not allow non-constant offsets for `OpImage*`, which is regulated by a recent spirv-val PR https://github.com/KhronosGroup/SPIRV-Tools/pull/4118.

[2021-04-19 16:03] #3412 closed

[2021-04-19 16:23] mstrgram opened #3693 "Vector element index out-of-bounds not leading to compile error"
It is currently possible to index vector elements out-of-bounds without the compiler issuing and error:
[code]

Notice the **indices[3]** above is out-of-bounds.

Above can be compiled with this command line (shader attached to bug)
[code]

Shader repro attached: [DefaultRT.zip](https://github.com/microsoft/DirectXShaderCompiler/files/6337555/DefaultRT.zip)

[2021-04-19 16:43] jaebaek commented on #3557
#3687 fixes this issue. Can we close it?

[2021-04-19 17:46] pow2clk commented on #3557
Looks good to me! I'm willing to trust you if you want to close these yourself in future.

[2021-04-19 17:46] #3557 closed

[2021-04-19 19:07] mhurliman opened #3695 "DXC Crash on Bad Shader"
From a forums question:

From forums question: https://forums.xboxlive.com/questions/121031/dxc-compiler-crash-on-invalid-compute-shader.html

Shader code is invalid - shouldn't compile successfully, but crashes DXC without providing an error message. Seems to be related to assigning one RWTexture2D<float4> global variable to another.

Crash repros on both XB1 & Scarlett DXC. Shader file is linked

[2021-04-19 19:31] jmccarthy634 commented on #3690
Sorry no, this is not using `-spirv`.

[2021-04-19 20:30] jaebaek commented on #3690
Thank you for clarifying it.

@pow2clk FYI .. since I tagged it as a SPIR-V issue, I might make you guys confused. This is not a SPIR-V issue.

[2021-04-19 20:45] pow2clk commented on #3690
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-to-gather

"The texture offsets need to be static." is meant to indicate that offsets have to be literal integers. It could probably use a rewording. Nevertheless, while this was allowed by DXC for a while, it has never been specced to work. So even though the compiler accepted it, the result may not have been what was in

[2021-04-19 20:45] #3690 closed

[2021-04-19 20:51] jmccarthy634 commented on #3690
Thanks for clarifying.

[2021-04-19 21:02] jaebaek commented on #3557
Thanks!

[2021-04-20 10:09] #3680 closed

[2021-04-20 11:37] ganluo960214 commented on #3692
is a bug? Exception thrown at 0x00007FFF8B694B59

[2021-04-20 13:56] jaebaek commented on #3494
Sorry for this late reply. Yes. Let me close it.

[2021-04-20 13:56] #3494 closed

[2021-04-20 22:41] Jasper-Bekkers opened #3696 "Rebase hlsl-2021 branch on top of master"
It would be really nice to refresh the hlsl-2021 branch so they contain all the recent fixes that have gone into master, looks like it's a relatively straight forward rebase/merge operation.

[2021-04-20 23:35] pow2clk commented on #3686
Hi @kvark!

Forgive me for donning and doffing my msft hat throughout this response.

I'm going to divide this into two parts: Linux and MacOS and then spend most of my time talking about Linux.

We test as much as we can using per-change builds and tests that get run whenever anything is changed (even documentation files). That goes a good way toward verifying that nothing is seriously broken. Ho

[2021-04-21 01:00] ganluo960214 opened #3698 "Exception thrown at 0x00007FFF8B694B59 in DXILibrary.pShaderBytecode.exe: Microsoft C++ exception: _com_error at memory location 0x0000005B234FE958."
Exception thrown at 0x00007FFF8B694B59 in DXILibrary.pShaderBytecode.exe: Microsoft C++ exception: _com_error at memory location 0x0000005B234FE958.

[2021-04-21 01:14] #3698 closed

[2021-04-21 01:39] ganluo960214 opened #3699 "Crash in Create*PipelineState Exception thrown at 0x00007FFF15635406 (d3d12SDKLayers.dll)"
Exception thrown at 0x00007FFF15635406 (d3d12SDKLayers.dll) in a.exe: 0xC0000005: Access violation reading location 0x0000000000000000.
Unhandled exception at 0x00007FFF15635406 (d3d12SDKLayers.dll) in a.exe: 0xC0000005: Access violation reading location 0x0000000000000000.

[2021-04-21 01:40] kvark commented on #3686
Thank you for the greatly detailed response! To give some context, we were thinking if we could validate the produced HLSL shaders on Linux CI, hence I filed this. But we are fine doing this on Windows CI as well, so this is really not a problem for us.

[2021-04-21 01:40] ganluo960214 commented on #3699
System32 Info
=============
DxCap.exe                       : 10.0.19041.746 (01/15/21 11:37 PM) 1,127 KB
DxCaptureReplay.dll             : 10.0.19041.789 (02/09/21 10:09 AM) 17,621 KB
DxToolsMonitor.dll              : 10.0.19041.746 (01/15/21 11:37 PM) 185 KB
DxToolsOfflineAnalysis.dll      : 10.0.19041.746 (01/15/21 11:37 PM) 1,941 KB
DxToolsReportGenerator.dll      : 10.0.19041.1 (05/28/20 5:07

[2021-04-21 01:53] jmccarthy634 opened #3700 "[SPIR-V] int to uint conversion causes optimization bug"
Compiling the following HLSL snippet with `-T ps_6_0 -E psMain -O3 -spirv`:
[code]
Generates the following spir-v, with no branch instructions and consequently all of the resource bindings used in that dead branch optimized out, as expected:
[code]
However, `uint id = 0` is changed to `int id = 0`, as follows:
[code]
Then the following spir-v is generated, with the branch and the resource bindings

[2021-04-21 14:04] jaebaek commented on #3700
Thank you for report this issue. I will take a look.

[2021-04-21 19:06] Skylark13 opened #3702 "[SPIR-V] Some of our shaders crash dxc / dxcompiler.dll when compiling with -Zi"
Hello,

We use dxcompiler.dll in our shader compilation tool, and some of our shaders cause a crash in a strncpy() call when we try to compile them with -Zi. I just updated to the April 2021 release to see if it still crashed, and it does. The callstack (if it can help, in case you have the map file from that build) is:

[code]

When compiling this same shader from the command line with the April

[2021-04-22 09:51] nickyc95 opened #3705 "[SPIR-V] Assertion in DescriptorScalarReplacement::CreateReplacementVariable"
Hi,

When running some shaders through the latest release of DXC (April 2021 v1.6.2104) I am hitting an assert inside of `DescriptorScalarReplacement::CreateReplacementVariable` during the optimization pass.

(This may be a SpirvTools issue rather than DXC..)

Running the following simplified shader through DXC.exe or the library using this command arg:

`dxc.exe -E main -T ps_6_0 -spirv -fspv-ref

[2021-04-22 14:22] kuhar commented on #3702
Thanks for reporting, @Skylark13. Would you be able to share a minimized reproducer (hlsl file) and/or a full stack trace?

[2021-04-22 14:37] kuhar commented on #3705
Thanks for a detailed bug report, @nickyc95. I'm looping in SPIR-V folks.

[2021-04-22 14:39] Skylark13 commented on #3702
There is no pdb included in the April 2021 release, so I will have to compile it from source to give you a stack trace with symbols. I'll try to do that as soon as I can. I cannot share shader source publicly.

It seems related to shader size because if I reduce the source file by about half (without causing compile errors) it goes away, the shader compiles properly without crashing the compiler.

[2021-04-22 15:01] kuhar commented on #3686
@kvark If you are interested in DXC binaries tested for SPIR-V code generation, these are included in [Vulkan SDK releases](https://vulkan.lunarg.com/) and contain files for Windows/Linux/MacOS. This testing is done by Google and LunarG only.

[2021-04-22 16:36] Skylark13 commented on #3702
The call stack is:

[code]

I tried having a quick look. It seems to me like on line 539 of EmitVisitor.cpp we read the source code into an std::string, then on line 541 we call chopString() which fills in some llvm::StringRef objects (which do not own the memory they point to). But then at line 563 the std::string goes out of scope. And we crash at line 574 within string::encodeSPIRVString. So I

[2021-04-22 17:35] jaebaek commented on #3702
Thanks. I will take a look.

[2021-04-22 20:43] vcsharma opened #3706 "Passing uninitialized var as index to structure buffer causes undef being passed in dxil"
Notice `undef` being passed to the index field of the dxil op `dx.op.rawBufferLoad.i32`.  We should at least generate a warning or may even consider failing compilation.

**HLSL:**
[code]

**DXIL:**
[code]

[2021-04-23 16:49] simco50 opened #3707 "SM6.6 Payload Access Qualifiers not reporting certain reads/writes"
When using PAQ, initializing the payload data with an initializer list is not seen as a 'write'.
[code]

Also when doing "+=" on a member, it's not seen as a 'read'
[code]

Unless I misunderstand the documentation, this seems like a bug?

Also reported in the DX Discord. For reference: https://discord.com/channels/590611987420020747/590965930658496690/835181942650437653

Thanks,
Simon

[2021-04-24 02:58] #3692 closed

[2021-04-24 02:58] #3699 closed

[2021-04-24 13:20] Dolkar opened #3708 "Component swizzling / vector indexing not considered a constant expression"
This issue manifests when trying to define arrays where the length is a component of a constant variable or expression, which fails to compile with the error "variable length arrays are not supported in HLSL". For a minimal example `int array[10]` works but `int array[(10).x]` doesn't. This makes it impossible to use components of constant vectors as array lengths. See http://shader-playground.tim

[2021-04-26 18:42] #3674 closed

[2021-04-26 20:54] kvark opened #3714 "Validate HLSL as a whole"
It would be useful for us to be able to tell if a particular HLSL module is valid by itself (similar to how "spirv-val" checks SPIR-V modules), without any particular entry point or execution model specified.
Maybe it's possible today? I wasn't able to figure out from the documentation.

[2021-04-27 15:43] lukaszlipski opened #3717 "[SPIR-V] Compile error when using asuint on StructuredBuffer's Load function"
### Title
[SPIR-V] Compile error when using asuint on StructuredBuffer's Load function

### Functional impact
When using asuint on StructuredBuffer<float4> Load's result, the dxc fails to compile the shader.
The same example works fine when StructuredBuffer<float4> is replaced with Buffer<float4>.
When generating DXIL instead of SPIR-V, there is no issue.

### Minimal repro steps
[code]
### Expect

[2021-04-27 19:02] jaebaek commented on #3717
@lukaszlipski Thank you for report this issue. We will take a look!

[2021-04-27 21:11] #3700 closed

[2021-04-28 12:51] vanessaschueller opened #3720 "Shader compiler errors on japanese/korean/russian OS"
It looks like compiling shaders produces issues on OSs with languages containing special characters, like japanese/korean/russian,...
Some of our customers get shader compiling errors when using japanese/korean/russian... settings.

This is the resulting message they get:
"Viewport: Shader compile error occurred. Using fallback rendering for object: Hip
Error 0x80070459: Unicode 文字のマッピングがターゲットのマルチ

[2021-04-28 14:46] #3685 closed

[2021-04-28 23:57] pow2clk commented on #3696
Since it seems there's interest, perhaps a comment along the lines of what what was discussed elsewhere would be useful here.

We don't have a strict schedule for merging hlsl-2021 to the main branch. "When it's ready" is a meme and a war cry, but it's accurate here. Templates are a popular feature. Much credit to @tcorringham for the work! We want them as widely available as possible as soon as p

[2021-04-29 01:26] tex3d opened #3724 "cbuffer packoffset insufficiently validated"
Some invalid cases below with fxc's errors in comments.  In fxc, repro later errors by fixing earlier ones.

[code]

[2021-04-29 03:26] jmccarthy634 commented on #3700
Thanks for the fix, was able verify against our shaders as well and can confirm that the bindings in the dead branch get optimized out after the cast as expected!

[2021-04-29 03:27] jmccarthy634 commented on #3685
Thanks for the fix, verified working with our shaders that were hitting this.

[2021-04-29 20:28] jaebaek opened #3726 "[SPIRV] do not allow assignment to resource"
DXIL backend reports error if the code has assignments to resources e.g.,
[code]

To enable the error report for the SPIR-V backend, we need a SPIR-V analysis to check if the code conducts `OpStore` to a resource because it is not trivial to check the assignment by checking only `a0 = r0`. We have no idea `a0` is a reference to a global resource or not.

Unfortunately, the spirv-opt legalization h

[2021-04-29 20:38] jaebaek opened #3727 "[SPIR-V] use isomorphic type for a local variable and a global variable with the same resource type"
As explained in #3721, SPIR-V backend uses a pointer to the type for a local variable while it uses the type itself for a global variable when the type is one of `RWByteAddressBuffer`, `RWStructuredBuffer`, and `AppendStructuredBuffer`.
It results in one more dereference for the local variable compared to the global variable in all the places. In addition, we have to handle this exception for all

[2021-04-29 20:40] jaebaek opened #3728 "[SPIR-V] use call-by-reference argument passing for global resource variables when the parameter has `out` or `inout` keyword"
This must be done after fixing #3727.

This issue is related to #3721 that handles only the local resource variable case.

[2021-04-29 20:46] jaebaek commented on #3726
This is the first issue mentioned by https://github.com/microsoft/DirectXShaderCompiler/pull/3721#issuecomment-829537469

[2021-04-30 13:04] hybridherbst opened #3729 "SV_Barycentrics can't be declared in a struct, needs to be declared on the frag method"
While doing
[code]
works, moving the SV_Barycentrics declaration to the v2f declaration fails:
[code]
leads to

Is this expected? My (limited) understanding was that all semantics can be moved into a parameter struct, but that doesn't seem to be the case here.

Reproduction:
http://shader-playground.timjones.io/1e89247ebc1bb12902aed1baa18b3256

[2021-04-30 19:50] jaebaek commented on #3463
#3672 fixes this issue. @Dredhog Could you please check your shader with the top-of-tree?

Note that for `myCB_2`
[code]
in the shader should generate the following memory layout with `-fvk-use-dx-layout`
[code]
Based on the SPIR-V semantics, spirv-val reports `row_major float2x3 c_float2x3` and `float padding_2` are overlapped.
To ignore this spirv-val error, we can use `-Vd` option, but there is

[2021-04-30 21:26] Jasper-Bekkers commented on #3696
@pow2clk Thanks for the heads up, I'm aware this is going to be in some "future hlsl" version and I think that's fine, we're mostly interested at this point in trying to run ahead as much as possible and will report any bugs as we find them (with proper reproducers like we've done in the past) to hopefully assist a bit in stabilizing this feature.

The reason for this issue in particular was becau

[2021-04-30 21:30] LukasBanana opened #3730 "`-fcolor-diagnostics` fails with GCC when building llvm-tblgen"
The command line argument `-fcolor-diagnostics` is not supported in GCC (at least not the version of my Ubuntu 20.04 LTS default installation):
https://github.com/microsoft/DirectXShaderCompiler/blob/e621158fbff597c978836210803d6e41d2e5550e/cmake/modules/HandleLLVMOptions.cmake#L531

The other occurance of this option is already replaced to something that works with both GCC and Clang, as Clang is

[2021-04-30 22:40] hekota commented on #3696
You're welcome! Feel free to nudge us if you see hlsl-2021 getting too much out of sync with master ;).

[2021-04-30 22:44] Jasper-Bekkers opened #3731 "ResourceDescriptorHeap doesn't work properly with templates (hlsl-2021)"
[code]

Works:
`dxc -Tcs_6_6 -Emain -enable-templates test_bindless.hlsl`

Doesn't work:
`dxc -Tcs_6_6 -Emain -enable-templates -DFAILURE_CASE test_bindless.hlsl`

Errors generated:

[code]

Notice, this doesn't just affect ByteAddressBuffer but all resource types it seems (StructuredBuffer, Texture etc).

[2021-04-30 22:49] Jasper-Bekkers opened #3732 "Template type on struct breaks `this` pointer (hlsl-2021)"
[code]

Regular structs with `this` in their methods (with access through the `.` operator) do work, however, once a template argument is introduced DXC yields this error message:

`dxc -Tcs_6_6 -Emain -enable-templates test_bindless.hlsl`

[code]

[2021-05-03 12:27] Dredhog opened #3733 "[SPIR-V] [outputcontrolpoints(0)] or missing outputcontrolpoints Hull stage attribute crash the compiler (works with DXIL backend)"
### Title
[SPIR-V] [outputcontrolpoints(0)] or missing outputcontrolpoints Hull stage attribute crash the compiler (works with DXIL backend)

### Functional impact
Cannot produce hull shaders that don't have any control point output (e.g. when only patch data is needed for the domain stage)

### Minimal repro steps
1. Compile the following shader with `dxc.exe -T hs_6_0 -E Hull -spirv repro_shader

[2021-05-03 12:45] Dredhog opened #3734 "[SPIR-V] Zero as control point template argument for InputPatch Hull input fails validation and asks to report a bug"
### Title
Zero as control point template argument for InputPatch Hull input fails validation and asks to report a bug

### Functional impact
Compilation fails with DXC asking to file a bug

### Minimal repro steps
1. Compile the following shader with `dxc.exe -T hs_6_0 -E Hull -spirv repro_shader.txt`
2. Compile the same shader for the DXIL backend `dxc.exe -T hs_6_0 -E Hull repro_shader.txt`
[rep

[2021-05-03 13:02] Dredhog opened #3735 "[SPIR-V] Using very large vert/hull/domain IO produce a silent compiler crash (works with DXIL backend)"
### Title
[SPIR-V] Using very large vert/hull/domain IO produce a silent compiler crash (works with DXIL backend)

### Functional impact
Accidentally having too much data in stage IO will crash the compiler without a clear indication of what happened.

### Minimal repro steps

1. Compile the following shader with either of:
 `dxc.exe -T vs_6_0 -E Vert-spirv repro_shader.txt`
 `dxc.exe -T hs_6_0 -E

[2021-05-03 13:24] Dredhog opened #3736 "[SPIR-V] Declaring SV_POSITION not as float4 produces validation errors and asks to report a bug"
### Title
Declaring SV_POSITION not as float4 results in validation errors and asks to report a bug

### Functional impact
Accidentally declaring `SV_POSITION` as something other than `float4` (e.g. `float3`, `uint4` etc.) produces a validation error asking to report a bug instead of producing a user-facing error message with line information. This affects the last stage of the vertex pipeline, so

[2021-05-03 13:48] Dredhog opened #3737 "[SPIR-V] Reapeated SV_DomainLocation semantics don't produce an error and can crash the compiler (works with the DXIL backend)"
### Title
[SPIR-V] Reapeated `SV_DomainLocation` semantics don't produce an error and can crash the compiler (works with the DXIL backend)

### Functional impact
Declaring repeated `SV_DomainLocation` input semantics in the same Domain shader entry point does not produce a compiler error and crashes in some cases.

### Minimal repro steps
1. Compile the following shader with `dxc.exe -T ds_6_0 -E

[2021-05-03 14:11] Joshua-Ashton opened #3738 "Texture gather offsets must be immediate values"
There are currently titles shipping with shaders which contain non-constant texture gather offsets, such as Horizon Zero Dawn.

As of 3468e549d85ac51f39cccc1f7ce8a4c7568d1fd7, DXC has regressed to no longer allowing non-constant offsets for texture gather operations which stops some shaders in some games from compiling.

I don't think this is intentional, I think the intent was to keep this functi

[2021-05-03 14:13] Dredhog opened #3739 "[SPIR-V] No error when Hull and patchconstantfunc input point counts don't match"
### Title
[SPIR-V] No error when Hull and patchconstantfunc input point counts don't match (errors with DXIL backend)

### Functional impact
The InputPatch point count argument is ignored for the patch constant function. This will result in undetected/silent errors, when a shader writer might believe they modified the input point count but actually don't.

### Minimal repro steps

1. Compile the f

[2021-05-03 14:48] Dredhog opened #3740 "[SPIR-V] Omitting outputtopology Hull entry point attribute does not get caught (is caught by DXIL backend)"
### Title
[SPIR-V] Omitting outputtopology Hull entry point attribute does not get caught and reported (is caught by DXIL backend)

### Functional impact
When this is attribute is omitted the vertex winding order is not set (i.e. no `VertexOrderCw` or `VertexOrderCcw` execution mode is in the SPIR-V), the [tessellation vulkan spec](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/

[2021-05-03 14:56] jaebaek commented on #3730
@LukasBanana thank you for reporting this issue. We will take a look.

[2021-05-03 14:58] jaebaek commented on #3733
@Dredhog, Thank you for reporting this issue. We will take a look.

[2021-05-03 15:00] jaebaek commented on #3734
@Dredhog, Thank you for reporting this issue. So .. it is a SPIR-V issue, right? We will take a look.

[2021-05-03 15:00] jaebaek commented on #3735
@Dredhog, Thank you for reporting this issue. We will take a look.

[2021-05-03 15:01] jaebaek commented on #3736
@Dredhog, Thank you for reporting this issue. We will take a look.

[2021-05-03 15:03] Dredhog commented on #2419
@vcsharma  We've also noticed this at Unity, do you plan on fixing this anytime soon? Having warnings for uninitialized outputs would be really nice to have.

[2021-05-03 15:15] Dredhog commented on #3734
I saw it as an issue with both backends, but I guess only the SPIR-V backend asks to report a bug 🤷

[2021-05-04 07:24] Dredhog opened #3742 "No warning/error when SV_Position semantic is missing from Vert/Domain/Geom output and POSITION is used instead"
### Title
No warning/error when SV_Position semantic is missing from Vert/Domain/Geom output and POSITION is used instead

### Functional impact
Shaders written for FXC which use the d3d9 style POSITION semantic for the vertex pipeline output will compile with DXC but will produce no output rendering. The POSITION semantic is just interpreted as a user semantic but the fact that SV_Position is not

[2021-05-04 08:14] Dredhog opened #3743 "[SPIR-V] Patch constant function does not support out parameters (works with DXIL backend)"
### Title
[SPIR-V] Patch constant function does not support `out` parameters  (works with DXIL backend)

### Functional impact
Can't use the `out` modifier on any of the `patchconstantfunc`'s arguments to write outputs with the SPIR-V backend. This, however, works with the DXIL backend and with the regular (non-patch) Hull stage function

### Minimal repro steps
1. Compile the following shader wit

[2021-05-04 08:46] Dredhog opened #3744 "[SPIR-V] Using bool types or their arrays in Hull and Domain stage IO fails compilation (works with DXIL backend)"
### Title
[SPIR-V] Using bool types or their arrays in Hull and Domain stage IO fails compilation (works with DXIL backend)

### Functional impact
Can't use bool types or their arrays in Hull stage input or output or domain input without the SPIR-V backend failing to compile. Using them only in Hull output fails validation and the error message asks to report a bug.

### Minimal repro steps

1. Co

[2021-05-04 21:34] pow2clk commented on #3738
Hi @Joshua-Ashton,

Thanks for bringing up the shaders that make use of variable offsets. Let me clarify a few things.

The result you are experiencing is not an unintended effect of a forthcoming variant. It is the intended behavior. The use of an internal immediate only opcode was a convenience to adapt it to existing code that previously made no distinction and the DXIL format which didn't ackn

[2021-05-04 21:36] jaebaek commented on #3702
Sorry for being late. #3748 will fix it.

[2021-05-04 22:26] Joshua-Ashton commented on #3738
Cool, thanks for the info.

I was not aware of the 4 offset equivalents at all actually.
FXC did not require this in D3D11 for Gather4PO output either.

[2021-05-05 14:00] jaebaek commented on #3463
Since we checked it is working fine, let me close this issue. Please let us know if you find any issues.

[2021-05-05 14:00] #3463 closed

[2021-05-05 14:17] Dredhog commented on #3463
Sorry, @jaebaek, completely forgot about this over the weekend.

The shader I posted was an artificial example, we did not yet encounter this in a real shader (as far as I know).

I guess there's no extra rush since it's already merged, I'll report any new issues I find once we update our version of DXC

[2021-05-06 14:10] #3717 closed

[2021-05-06 14:20] #3702 closed

[2021-05-06 14:20] #3681 closed

[2021-05-07 05:17] pacxx commented on #3707
Thanks for the report. This is indeed a bug, working on a fix.

--Michael

[2021-05-07 07:01] pacxx commented on #3707
Opend https://github.com/microsoft/DirectXShaderCompiler/pull/3755

[2021-05-07 12:57] Jasper-Bekkers commented on #3732
@tcorringham You may be interested in this

[2021-05-07 12:57] Jasper-Bekkers commented on #3731
@tcorringham You may be interested in this

[2021-05-07 14:24] #3696 closed

[2021-05-07 14:35] jaebaek commented on #3463
Thanks!

[2021-05-07 14:47] jaebaek commented on #3742
@pow2clk @vcsharma It looks similar to #3626. I am considering a warning emission for `POSITION`. What do you think?

[2021-05-08 05:26] thatname opened #3759 "[SPIR-V] Multiple entry points can not use the same semantic."
The following code works in DXIL mode:
[code]
But fails to compile to SPIR-V:
[code]

[2021-05-08 10:14] simco50 commented on #3707
Excellent, thank you!

[2021-05-09 09:02] john-h-k commented on #2193
Using raw byte buffers on NV without this is nigh-on impossible with maxwell/pascal. Has there been any feedback on this issue?

[2021-05-09 09:25] john-h-k commented on #2193
Could also have it at resource site, if the entire resource has an alignment.

[code]

Should allow the compiler to workout which loads are aligned most of the time,

[2021-05-10 04:32] ghostplant commented on #3732
@j-dahl Is CS_6_0 supporting template function? Why does my following implementations failed to compile?
[code]

[2021-05-10 05:46] ghostplant opened #3760 "How to represent a NaN or Infinite in Compute Shader?"
For a few cases, we want to return NaN result in a compute shader function.
Is it supported with some predefined macros? Existing intrinsic like `isnan()` isn't helpful to this case.

[2021-05-10 10:21] ghostplant commented on #3732
Thanks, can you estimate when template-supported DXC can be ported into Visual Studio's SDK plugin? Currently I found that generating all-type functions is painful.

[2021-05-11 22:33] runestubbe opened #3765 "globallycoherent change in SM6.6"
I don't see it announced anywhere, so I assume this is an unintended side effect of the bindless resource changes.
In SM6.5 all loads/stores on a resource are globally coherent if the resource is marked as globally coherent.
In SM6.6 it seems loads/stores are only globally coherent if the variable the resource is accessed through is marked as globally coherent.
So if for instance a globallycoheren

[2021-05-12 00:04] #3738 closed

[2021-05-12 01:11] pow2clk commented on #2713
Just a note that, upon further reflection, we decided that the docs were wrong and the original implementation was right. #3764 has reverted the gather portion of #3283 and the docs have been updated. Gathers can now have variable offsets though the 6 LSB are all that is respected as described here: https://microsoft.github.io/DirectX-Specs/d3d/archive/D3D11_3_FunctionalSpec.htm#inst_GATHER4_PO

[2021-05-12 10:26] nyorain opened #3767 "[SPIR-V] Invalid OpLoad when using vk::image_format"
Using `vk::image_format` introduced in #3395 on RWTexture results in invalid SPIR-V being generated. Judging by the tests, it looks like the attribute was only tested for RWBuffer.

Minimal example:
[code]

Produces the following error:

note: please file a bug report on https://github.com/Microsoft/DirectXShaderCompiler/issues with source code if possible

It seems that DXC doesn't perform HLSL l

[2021-05-12 12:10] seppala2 commented on #3767
Seems like the issue is just the lack of legalization pass, since the implementation assumes that the type is propagated also for all OpLoads as it is in the legalization. I initially assumed the legalization pass was always done, but apparently it is only done when it is determined as necessary (?). More complex use cases and the unit test work fine since they have legalization enabled due to tex

[2021-05-12 12:19] baldurk opened #3768 "[SPIR-V] crash compiling shader using printf"
I get a crash when compiling shaders to SPIR-V with printf. It seems to be a bit inconsistent and from what I can tell there are unit tests of this that seem to pass, so I think it might be some memory corruption of some kind.

Note all the builds below have `-fcgl -Vd` to disable legalization, since there's a current spirv-tools issue that would crash and confuse issues: KhronosGroup/SPIRV-Tools#

[2021-05-12 14:51] #3280 closed

[2021-05-13 14:02] jaebaek commented on #3768
@baldurk Thank you for reporting this issue. We will take a look.

[2021-05-13 14:27] jaebaek commented on #3767
Let me first check what happens. I prefer the first option because adding new passes for specific cases would make spirv-opt too big, but I should first check if we have to consider the option of adding a new pass. I will get back after testing some code.